Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

format
  dev/e2e_app/integration_test/swipe_back_test.dart
Due: none

Increase 'set mock location' cool down times to make tests pass
  dev/e2e_app/integration_test/mock_location_test.dart
Due: none

Increase set mock location cool down time even more
  dev/e2e_app/integration_test/mock_location_test.dart
Due: none

Move FTL documentation to integrations to be consistent
  docs.json
  docs/integrations/firebase-test-lab.mdx
Due: none

Add Firebase Test Lab integration documentation
  docs/documentation/integrations/firebase-test-lab.mdx
Due: none

Add feature guide for taking photos using camera in Patrol framework
  docs/feature-guide/take-a-photo.mdx
Due: none

Add redirect for old url
  docs/documentation/ci/firebase-test-lab.mdx
Due: none

Update redirect path for Firebase Test Lab documentation
  docs/documentation/ci/firebase-test-lab.mdx
Due: none

Update changelog to reference test duration formatting change
  packages/patrol_log/CHANGELOG.md
Due: patrol

Use apply in automator
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Display a friendly device name (#2581)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli

Use runAction in IOSAutomator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Mention format duration change in changelog
  packages/patrol_log/CHANGELOG.md
Due: patrol

Fix ANSI color codes
  packages/patrol_log/lib/src/ansi_codes.dart
Due: patrol

Make extension on Duration instead of method; remove trim; fix test
  packages/patrol_log/lib/src/duration_extension.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Add test with passing location from gpx
  dev/e2e_app/assets/gpx.gpx
  dev/e2e_app/integration_test/mock_location_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Docs for iOS codesigning (#2571)
  docs.json
  docs/assets/ios_runneruitests_disable_automatic_signing.png
  docs/documentation/index.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Fix tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Change e2e_app target to 14
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
Due: none

[patrol_cli]: Add throwToolExit to build commands when packages are incompatible (#2597)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Format code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Add setMockLocation to native2
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Read maps key from env
  dev/e2e_app/ios/Runner/AppDelegate.swift
Due: none

Add os version to destination in xcodebuild test-without-building
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Set os only for iOS simulators
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Add ability to quit the `patrol develop` process by pressing q on the keyboard (#2577)
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Update patrol changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add missing maps key
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Sort imports in AppDelegate
  dev/e2e_app/ios/Runner/AppDelegate.swift
Due: none

Add info about availability of mocking location
  docs/native/feature-parity.mdx
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add instructions to deactivate, install specific patrol_cli ver to help message (#2596)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Add packageName to mock location
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/integration_test/mock_location_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Add unit tests for formatDuration method
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Check if files are regenerated (#2534)
  .github/workflows/patrol-prepare.yaml
Due: none

Add alignment to all finder methods (#2584)
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/utils/long_screen_with_partially_visible_widget.dart
  packages/patrol_finders/test/utils/screen_with_partially_visible_widget.dart
  packages/patrol_finders/test/utils/set_physical_size.dart
Due: patrol

Add maps key to windows build
  .github/workflows/prepare-e2e_app.yaml
Due: none

Format swift files
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Change permission to final
  dev/e2e_app/lib/map_screen.dart
Due: none

Don't use apply in automator
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol
