Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Update Android test report path in documentation for clarity
  docs/documentation/logs.mdx
Due: none

Fix path for android report; Add tests for path
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/test/android/android_test_backend_report_path_test.dart
Due: patrol, patrol_cli

Fix report path generation for Android in CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Refactor Android test report path generation and add unit tests for path generation logic
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/test/android/android_test_backend_report_path_test.dart
Due: patrol, patrol_cli

Clarify Android test report path in documentation by specifying it as "Path without flavor" for better understanding
  docs/documentation/logs.mdx
Due: none

Refactor _shouldShowInteractiveSelection to remove test environment check
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli

Patrol Web native interactions
  dev/web_mvp/README.md
  dev/web_mvp/run.js
  dev/web_mvp/test_poc.sh
  packages/patrol/devtools_options.yaml
  packages/patrol/example/devtools_options.yaml
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/integration_test/second_example_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/patrol_app_service_web.dart
Due: patrol

Write section about running app inside tests
  docs/documentation/index.mdx
Due: none

Change default test directory to patrol_test, allow overriding test directory
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Update documentation
  docs/cli-commands/test.mdx
  docs/documentation/tips-and-tricks.mdx
  docs/getting-started.mdx
  docs/tips-and-tricks.mdx
Due: none

Update CHANGELOG
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol, patrol_cli

Improve findAllTests documentation
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

Add missing test cases
  packages/patrol_cli/test/pubspec_reader_test.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Change new patrol_cli version
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Delay pubspec reading
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
  packages/patrol_cli/test/commands/patrol_build_ios_print_path_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

Update CHANGELOGs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
Due: patrol, patrol_cli

Update CHANGELOG, restore versions
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
  packages/patrol_log/pubspec.yaml
Due: patrol, patrol_cli

Update pods
  dev/e2e_app/ios/Podfile.lock
  packages/patrol/example/ios/Podfile.lock
Due: patrol

Fix bundle test file paths, update tests, update CHANGELOGs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
Due: patrol, patrol_cli

Restore patrol_cli version constant
  packages/patrol_cli/lib/src/base/constants.dart
Due: patrol, patrol_cli

Fix formatting
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/general/test_finder_test.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Cleanup 2
  dev_docs/patrol_web_runner_design.md
  package-lock.json
  package.json
  packages/patrol/devtools_options.yaml
  packages/patrol/example/devtools_options.yaml
Due: patrol

Add `build-number` and `build-name` flags to build commands and pass them to app options
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Refactor build name and build number management
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Make buildName and buildNumber arguments required, adjust tests
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Add logging
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Add missing tests
  packages/patrol_cli/test/android/android_test_backend_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

Add app version patrol test
  packages/patrol/example/integration_test/app_version_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Change commands help
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Skip app version test
  packages/patrol/example/integration_test/app_version_test.dart
Due: patrol

Extend documentation with build name and build number information
  docs/cli-commands/build.mdx
  docs/cli-commands/index.mdx
  docs/cli-commands/test.mdx
Due: none

Refactor AndroidTestBackend tests
  packages/patrol_cli/test/android/android_test_backend_test.dart
Due: patrol, patrol_cli

Update CHANGELOGs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Replace clearing permissions with uninstalling the app, update flags
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Fix uninstallApp function
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Refactor uninstallApp function
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol
