Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Update workflow documentation
  .github/WORKFLOWS.md
Due: none

fix: Reflect failed tests in Playwight report
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: Update changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Refactor iOS simulator workflow to run a single E2E test for stability, excluding previously failing tests and updating documentation accordingly.
  .github/WORKFLOWS.md
  .github/workflows/test-ios-simulator.yaml
Due: none

fix: Reflect failed tests in Playwight report (#2970)
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Enhance `takeCameraPhoto` method to include fallback
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add permission handling in takeCameraPhoto method to allow access if permission dialog is visible
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Update dependencies in pubspec.lock to latest versions
  dev/e2e_app/pubspec.lock
Due: none

Update test workflows to exclude additional test files for Android and iOS builds
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
Due: none

Update iOS test workflow to use latest device model and OS version from Firebase Test Lab
  .github/workflows/test-ios-device.yaml
Due: none

Refactor take_a_photo_test.dart to remove iOS simulator camera check and clean up imports
  dev/e2e_app/patrol_test/camera_features/take_a_photo_test.dart
Due: none

Refine test workflows to exclude native tests directory for Android and iOS builds.
  .github/WORKFLOWS.md
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
Due: none

Add GitHub workflow conventions documentation to ensure updates to WORKFLOWS.md when modifying workflows
  .cursor/rules/github-workflows.mdc
Due: none

Add platform-specific permission handling
  dev/e2e_app/patrol_test/camera_features/take_a_photo_test.dart
Due: none

Update iOS test workflow to use iPhone 14 Pro and iOS 16.6
  .github/workflows/test-ios-device.yaml
Due: none

Enhance overflow_test.dart to validate multiple exception handling
  dev/e2e_app/patrol_test/overflow_test.dart
Due: none

Update Android test workflow to use 'shiba' device model with OS version 35
  .github/workflows/test-android-device.yaml
Due: none

Fix `takeCameraPhoto` to properly handle location permission dialog on Pixel devices.
  packages/patrol/CHANGELOG.md
Due: patrol

Fix `tapOnNotification` behavior on iOS physical devices to ensure the "Open" button is tapped when notifications are activated.
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Enhance iOS test workflow to exclude specific permission tests due to camera permission issues on physical devices
  .github/WORKFLOWS.md
  .github/workflows/test-ios-device.yaml
Due: none

Update iOS test workflow to exclude
  .github/workflows/test-ios-device.yaml
Due: none

Remove not needed rule file
  .github/workflows/RULE.md
Due: none

fix: Reflect failed tests in Playwight report (#2970)
  packages/patrol/CHANGELOG.md
Due: patrol

refactor: Introduce constant for permission dialog timeout in Automator class
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

fix: Improve button tapping logic in Automator for camera functionality
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

refactor: Move constants to AutomatorConstants for better maintainability
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
Due: patrol

Fix formatting
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Remove logger
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Improve mock location method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Remove comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add missing assertion to mock location test
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Add stopMockLocation calls in mock location test
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Add stopMockLocation method for contacts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/MobileAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/lib/src/platform/contracts/mobile_automator_client.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  schema.dart
Due: patrol

Ensuring proper shutdown of the executor if it is null or already shut down.
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add excludes to fix pipeline
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Fix lint errors
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Fix usage of stopMockLocation
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
