Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Fix main branch name
  .github/workflows/docs-production.yaml
Due: none

Add github component from CLI and adjust cache revalidation time
  docs_app/cli.json
  docs_app/components/GithubInfo/index.tsx
  docs_app/lib/cn.ts
  docs_app/lib/layout.shared.tsx
  docs_app/package-lock.json
  docs_app/package.json
Due: none

Update compatibility table
  docs/documentation/compatibility-table.mdx
Due: none

Add cookie script
  docs_app/app/layout.tsx
Due: none

Handle linting and formatting
  docs_app/.vscode/extensions.json
  docs_app/.vscode/settings.json
  docs_app/README.md
  docs_app/app/(docs)/[[...slug]]/page.tsx
  docs_app/app/(docs)/layout.tsx
  docs_app/app/api/search/route.ts
  docs_app/app/layout.tsx
  docs_app/app/llms-full.txt/route.ts
  docs_app/app/og/[...slug]/route.tsx
  docs_app/components/Embed/index.tsx
  docs_app/components/GithubInfo/index.tsx
  docs_app/eslint.config.js
  docs_app/eslint.config.mjs
  docs_app/lib/cn.ts
  docs_app/lib/footerNavigation.ts
  docs_app/lib/layout.shared.tsx
  docs_app/lib/source.tsx
  docs_app/mdx-components.tsx
  docs_app/next.config.mjs
  docs_app/package-lock.json
  docs_app/package.json
  docs_app/postcss.config.mjs
  docs_app/prettier.config.js
  docs_app/source.config.ts
  docs_app/tsconfig.json
  packages/patrol/web_runner/eslint.config.js
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
Due: patrol

migrate to kotlin 2.2, add axe in Automator.kt
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/example/android/app/build.gradle.kts
  packages/patrol/example/android/settings.gradle.kts
Due: patrol

Move GTM before cookie script
  docs_app/app/layout.tsx
Due: none

Revert "Move GTM before cookie script"
  docs_app/app/layout.tsx
Due: none

Remove before interactive from cookie-script
  docs_app/app/layout.tsx
Due: none

chore: Prepare patrol_cli 4.0.2 and patrol 4.1.0 to release
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

chore: Prepare patrol_cli 4.0.2 and patrol 4.1.0 to release (#2852)
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add script for testing
  dev/bs_upload_media
Due: none

Add dart service
  dev/e2e_app/patrol_test/browserstack_camera_injection.dart
Due: none

remove docs.json
  docs.json
Due: none

add troubleshootin about missing PATH
  docs/documentation/other/patrol-vs-code-extension.mdx
Due: none

fix: Include additional Flutter command arguments in web build and run processes
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add entry to changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix PR number in changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Pass root dir to TestFinder
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Create bs commands
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_client.dart
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_config.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_outputs_command.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
Due: patrol, patrol_cli

remove docs.json (#2855)
  docs.json
Due: none

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Change GH discussions to Discord
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Fix printing paths
  packages/patrol_cli/lib/src/android/apk_paths.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/ios/ios_paths.dart
  packages/patrol_cli/test/commands/patrol_build_ios_print_path_test.dart
Due: patrol, patrol_cli

Rename to android_paths
  packages/patrol_cli/lib/src/android/android_paths.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
Due: patrol, patrol_cli

Clean up solution for paths
  packages/patrol_cli/lib/src/android/android_paths.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/ios/ios_paths.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/build_android_command_test.dart
  packages/patrol_cli/test/commands/build_ios_command_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

Move paths logic back to build commands
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/build_android_command_test.dart
  packages/patrol_cli/test/commands/build_ios_command_test.dart
Due: patrol, patrol_cli

Remove unwanted change
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Handle search if default path to apk not exist
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Read flavor
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Bump version
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add progress
  packages/patrol_cli/lib/src/commands/browserstack/browserstack_client.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_android_command.dart
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

Fix release mode
  packages/patrol_cli/lib/src/commands/browserstack/bs_ios_command.dart
Due: patrol, patrol_cli

Dont print errors twice
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Print in real order
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Revert "Print in real order"
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
