Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

spelling mistake found
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

spelling mistake found (#2521)
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix EnterTextRequest schema for ios
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Restore changes in documentation
  docs/documentation/index.mdx
Due: none

Add build phases to e2e and example
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

Fix running ios tests in example project with dev flavor
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/pubspec.yaml
Due: patrol

Remove devtools_extensions tests and use any for pinned Flutter SDK dependencies
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  scripts/flutter_test_repo_test.sh
Due: patrol, patrol_cli

Remove methods deprecated in Flutter master channel
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
Due: patrol, patrol_cli

Prepare script for running tests in flutter test repo
  scripts/flutter_test_repo_test.sh
Due: none

Adjust to lint rules from Flutter 3.26
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Use only one directory in flutter_test_repo_test.sh
  scripts/flutter_test_repo_test.sh
Due: none

Add continuous flag to drawUntilVisible and scrollUntilVisible methods in PatrolWidgetTester
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
Due: patrol

Remove package:patrol for testing script
  scripts/flutter_test_repo_test.sh
Due: none

Check if context is mounted
  dev/e2e_app/lib/main.dart
Due: none

Add shebang to flutter_test_repo_test.sh script
  scripts/flutter_test_repo_test.sh
Due: none

Add Windows batch script for running Flutter tests in multiple packages
  scripts/flutter_test_repo_test.bat
Due: none

Fix running ios tests in example project with dev flavor (#2516)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/pubspec.yaml
Due: patrol

Get iOS PatrolServer port in the Dart code using FFI
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/pubspec.yaml
Due: patrol

Use ffi for sending ios port
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ffigen.yaml
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Use port 0 inside patrolTest method implementation
  packages/patrol/example/integration_test/example_test copy 2.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Select app port dynamically for Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/common.dart
Due: patrol

Use ffigen WIP
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol/ffigen.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Remove LambdaTestPatrolJUnitRunner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

Use jnigen to pass android port from native to dart
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AndroidServerPortProvider.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/jnigen.yaml
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/lib/src/server_port/android_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Prepare multiple tests to run on marathon cloud
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/marathon_ios
Due: patrol

Use free port on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Implement two way comunication for iOS using random ports
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Remove debug changes
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Refactor server port handling across platforms
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/example/pubspec.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Remove Marathon iOS test script
  packages/patrol/example/marathon_ios
Due: patrol

Remove redundant NSRunLoop delays in iOS test runner
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Implement new port approach in PatrolIntegrationTestIosRunner with clearing permission
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Update macOS integration test runner with improved port handling
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Update test bundler to use dynamic ports selection
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Add assertions for to coordinates in swipe method
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Update Flutter version to 3.29.x in Android emulator workflows
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Fix dispose semantics issue on Android
  packages/patrol/lib/src/common.dart
Due: patrol

Add articles page
  docs.json
  docs/articles/index.mdx
Due: none

Update links
  docs/articles/index.mdx
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
