Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add Flutter SPM pre-action to also the prod scheme
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
Due: patrol

Fix issue with including xcctest + add fvm to gitignore
  .gitignore
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Remove redundant comments
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Explicitly import Foundation in Swift files
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/Errors.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: patrol

Move unit tests into separate scheme to avoid dependency conflicts
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerTests.xcscheme
  dev/e2e_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/ios/RunnerTests/RunnerTests-Bridging-Header.h
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  dev/e2e_app/ios/RunnerTests/RunnerTests.xcconfig
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Fix formatting
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Gate appling kotlin plugin behind checking if the kotlin extension is registered
  dev/e2e_app/android/app/build.gradle.kts
  packages/patrol/android/build.gradle
Due: patrol

Fix swift formatting
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
Due: patrol

Fix unit tests
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/RunnerTests/RunnerTests.xcconfig
Due: none

Fix gen from schema using old path
  gen_from_schema
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolAppServiceClient.swift
Due: patrol

Fix gen again
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
Due: patrol

Fix patrol_gen formatting
  packages/patrol_gen/bin/main.dart
  packages/patrol_gen/lib/src/generators/android/android_config.dart
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_server_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_config.dart
  packages/patrol_gen/lib/src/generators/dart/dart_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_config.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
  packages/patrol_gen/lib/src/patrol_gen.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
Due: patrol

Fix PatrolPlugin name
  packages/patrol/darwin/patrol/Sources/PatrolImpl/SwiftPatrolPlugin.swift
Due: patrol

Remove a file added to git that is in gitignore and fix patrol log issue with attempting to access last element of an empty list
  packages/patrol/darwin/patrol/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Update CHANGELOG.md for all affected packages and remove outdated doc entries about HEADER_PATHS (unnecessary since umbrella clang module)
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  docs/documentation/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
Due: patrol, patrol_cli

Release patrol_cli 4.5.0-dev.1 and patrol 4.7.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix: support BrowserStack (-only-testing) sharding on iOS
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

docs: set up agent skills for Patrol
  .agents/skills/README.md
  .claude/skills
  .cursor/rules/patrol-test-with-architecture/patrol-test-keys.mdc
  .cursor/rules/patrol-test-with-architecture/patrol-tests.mdc
  .cursor/rules/patrol-test/patrol-tests.mdc
  skills/README.md
  skills/patrol-test-architecture/SKILL.md
  skills/patrol-write-test/SKILL.md
Due: none

docs: link agent skills from package READMEs
  packages/patrol/README.md
  packages/patrol_mcp/README.md
Due: patrol

docs: add agent skills documentation page
  docs/documentation/other/agent-skills.mdx
  docs/documentation/other/meta.json
Due: none

ci: add agent-skills validation check
  .github/WORKFLOWS.md
  .github/workflows/check-skills.yaml
  tool/check_skills.sh
Due: none

docs: simplify agent skills page to link to the repo
  docs/documentation/other/agent-skills.mdx
Due: none

fix(patrol_cli): wire --clear-permissions into `patrol build ios`
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

ci(ios): select Xcode 26.2 to match the iOS 26.2 simulator runtime
  .github/workflows/test-ios-simulator.yaml
Due: none

test(e2e): bump google_maps_flutter to 2.17.1 for Xcode 26 compatibility
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

test(e2e_app): remove native webview duplicate tests
  dev/e2e_app/patrol_test/native_tests/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/native_tests/webview_leancode_test.dart
Due: none

tmp: dump webview test outputs on failure (debug, to be reverted)
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Revert "tmp: dump webview test outputs on failure (debug, to be reverted)"
  .github/workflows/test-android-emulator-webview.yaml
Due: none

test(e2e_app): replace flaky Hacker News webview test with Patrol docs
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_patrol_docs_test.dart
Due: none

tmp: re-add webview test output dump for docs-test verification
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Revert "tmp: re-add webview test output dump for docs-test verification"
  .github/workflows/test-android-emulator-webview.yaml
Due: none

test(e2e_app): load docs on api35 WebView, dismiss cookie popup
  dev/e2e_app/emulatorwtf.yaml
  dev/e2e_app/lib/webview_screen.dart
  dev/e2e_app/patrol_test/webview_patrol_docs_test.dart
Due: none

Improve webview test by optimizing cookie consent handling and search functionality
  dev/e2e_app/patrol_test/webview_patrol_docs_test.dart
Due: none

ci(e2e_app): exclude patrol_test/web from iOS webview workflow
  .github/workflows/test-ios-simulator-webview.yaml
Due: none

Revert WebViewScreen UA/console changes
  dev/e2e_app/lib/webview_screen.dart
Due: none

ci(e2e_app): fix iOS webview simulator job (iOS 26.0 -> 26.2)
  .github/workflows/test-ios-simulator-webview.yaml
Due: none

feat: add video recording support for patrol cli
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_config.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

test(e2e): bump declared SDK constraints to match resolved lock
  dev/e2e_app/pubspec.yaml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
