Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

fix
  .github/scripts/run-emulator-and-tests.sh
  .github/workflows/test-android-emulator-2.yaml
Due: none

fix
  .github/scripts/run-emulator-and-tests.sh
Due: none

cleanup and don't sleep
  .github/scripts/run-emulator-and-tests.sh
  .github/workflows/test-android-emulator-2.yaml
Due: none

test android_app_test.dart
  .github/scripts/run-emulator-and-tests.sh
  .github/workflows/test-android-emulator-2.yaml
Due: none

test with 2 cores
  .github/scripts/boot-completed-check.sh
  .github/workflows/test-android-emulator-2.yaml
Due: none

test with 1 core
  .github/workflows/test-android-emulator-2.yaml
Due: none

Change main page title
  docs/index.mdx
Due: none

Move setups to getting started section
  docs/getting_started/custom-finders.mdx
  docs/getting_started/getting-started.mdx
  docs/getting_started/native.mdx
Due: none

Rename folder
  docs/getting-started/custom-finders.mdx
  docs/getting-started/getting-started.mdx
  docs/getting-started/native.mdx
Due: none

Change pages structure
  docs.json
Due: none

Reword getting started section
  docs/getting-started/getting-started.mdx
Due: none

fix analytics being sent even when the user denied access
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/src/fakes.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

fix analytics being sent even when the user denied access (#1249)
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/src/fakes.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.8
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.8 (#1250)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix Slack message not containing the version
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

fix Slack message not containing the version (#1251)
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

Bring back basic test reporting for bundled tests (#1220)
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/clean_up_test.dart
  packages/patrol/example/integration_test/permissions/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_1_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_2_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_email_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_facebook_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_google_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

patrol: bump dev version to 2.0.0-dev.1 (#1223)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix minor mistakes that cause tests to fail (#1221)
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/clean_up_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

works!
  packages/patrol/example/ios/RunnerTests/DummyTests.m
  packages/patrol/example/ios/RunnerTests/TheTest2.m
Due: patrol

format code
  packages/patrol/example/ios/RunnerTests/DummyTests.m
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.h
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.m
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/TheTest2.m
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

everything is set up, but crases occur (probably messed up dynamic ObjC invocations)
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerTests/TestTests.m
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolUtils.m
Due: patrol

create RunnerTests target for createMethodNameFromPatrolGeneratedGroup
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Due: patrol

run swift-format and clang-format
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerTests/DummyTests.m
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerTests/TestTests.m
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

clean up and format code
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
Due: patrol

RunnerUITests.m WORKS!
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

fix open_quick_settings_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
Due: patrol

copy dynamic test case creation code from https://kazaimazai.com/parametrized-xctest-swift (works)
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerTests/DummyTests.m
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.h
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.m
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/TheTest.swift
  packages/patrol/example/ios/RunnerTests/TheTest2.m
Due: patrol

`patrol test -t integration_test/bundled_test.dart` works!
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

move code from RunnerUITests into a macro in PatrolIntegrationTestRunner.h
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

`RunnerUITests.m`: remove screenshot-handling code (not used anyway)
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

patrol: bump dev version to 1.2.0-dev.1 (#1224)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

move all code from RunnerUITests into a #define
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

Fix/prepare for dev release (#1227)
  .github/workflows/patrol-prepare.yaml
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/pubspec.yaml
Due: patrol

explain the cause for the huge macro
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

use PatrolAppService to list and run Dart test files
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Due: patrol

format Dart files
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

remove PatrolIntegrationTestRunner, create PatrolUtils
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
