Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Update enterText to work with textStartsWith and textContains
  dev/e2e_app/integration_test/example_native_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Update macos protocol implementation
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Add tests for native Selector methods on iOS
  .github/workflows/test-android-emulator.yaml
  dev/e2e_app/integration_test/ios_selector_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Remove incorrect TODO
  schema.dart
Due: none

Add comment explaining weird behavior of ios_selector_test.dart
  dev/e2e_app/integration_test/ios_selector_test.dart
Due: none

Update patrol version in e2e_app
  dev/e2e_app/pubspec.lock
Due: none

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Format swift code
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Implement iOS
  dev/e2e_app/integration_test/tap_at_test.dart
  dev/e2e_app/ios/Podfile.lock
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Podfile.lock
Due: patrol

Run codegen
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  schema.dart
Due: patrol

Format Kotlin code with ktlint
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Change link do Discord in getting started
  docs/getting-started.mdx
Due: none

Change link do Discord in getting started (#2054)
  docs/getting-started.mdx
Due: none

Update getting-started.mdx FAQ related to use with riverpod
  docs/getting-started.mdx
Due: none

Add small delay before tapping at coordinate
  dev/e2e_app/integration_test/tap_at_test.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Fix formatting
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update changelog and docs
  dev/e2e_app/ios/Podfile.lock
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
Due: patrol

Format Swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Create example failing test and workflow for running it
  .github/workflows/test-ios-device-fail.yaml
  dev/e2e_app/integration_test/example_test.dart
Due: none

Create script to run marathon on iOS
  packages/patrol/example/marathon_ios
Due: patrol

Fix passing port when patrol build command run
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

Update changelog and version number
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Remove flaky ios selector tests
  .github/workflows/test-android-emulator.yaml
  dev/e2e_app/integration_test/ios_selector_test.dart
Due: none

Add 2 cases to FAQ
  docs/getting-started.mdx
Due: none

Add 2 cases to FAQ (#2070)
  docs/getting-started.mdx
Due: none

Fix enterText not being able to interact with other than first textfield
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Mogify test to use enterText
  dev/e2e_app/integration_test/webview_hackernews_test.dart
Due: none

Fix formatting
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add link to YT
  docs/getting-started.mdx
Due: none

Fix `enterText` not being able to interact with other than first textfield on Android (#2072)
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add rule to retry tests
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/RetryTestRule.java
Due: patrol

Print link to devtools regardless of open-devtools flag
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Prepare patrol 3.5.0 to release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Create ios_wait_until_visible_test.dart
  dev/e2e_app/integration_test/ios_wait_until_visible_test.dart
Due: none

Add test-only command to bypass build.
  packages/patrol_cli/lib/src/commands/test_only.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Create ios_text_field_text_test.dart
  dev/e2e_app/integration_test/ios_text_field_text_test.dart
Due: none

Prepare patrol_cli 2.6.2 to release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix activation code
  packages/patrol_cli/README.md
Due: patrol, patrol_cli
