Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Change the way of uninstalling the app
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

replace frame policy fadePointers with fullyLive
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/common.dart
  docs/documentation/write-your-first-test.mdx
  docs/write-your-first-test.mdx
  packages/patrol/lib/src/common.dart
Due: patrol

Remove unnecessary function
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Extend Configuring test directory documentation section
  docs/documentation/tips-and-tricks.mdx
  docs/tips-and-tricks.mdx
Due: none

Update CHANGELOGs
  packages/patrol/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Update integration_test references, fix tests
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/patrol_test/app_version_test.dart
  dev/e2e_app/pubspec.lock
  docs/cli-commands/index.mdx
  docs/cli-commands/test.mdx
  packages/patrol_cli/test/android/android_test_backend_test.dart
  packages/patrol_cli/test/commands/build_android_command_test.dart
  packages/patrol_cli/test/commands/build_ios_command_test.dart
  packages/patrol_cli/test/commands/build_macos_command_test.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Update CHANGELOGs
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Prevent from uninstalling the app before the first test
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Replace clearing permissions with uninstalling the app, update flags
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Update CHANGELOG
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol, patrol_cli

Fix formatting
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/general/test_finder_test.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Change test directory migration option description
  docs/documentation/tips-and-tricks.mdx
  docs/tips-and-tricks.mdx
Due: none

Delay pubspec reading
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
  packages/patrol_cli/test/commands/patrol_build_ios_print_path_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

Remove unnecessary import
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Update documentation
  docs/cli-commands/test.mdx
  docs/documentation/tips-and-tricks.mdx
  docs/getting-started.mdx
  docs/tips-and-tricks.mdx
Due: none

Fix uninstallApp function
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Change new patrol_cli version
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Change default test directory to patrol_test, allow overriding test directory
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol, patrol_cli

Refactor uninstallApp function
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Fix formatting
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Remove unnecessary fallbacks
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
Due: patrol

Bump minimum ios version
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
  docs/documentation/supported-platforms.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
  docs/supported-platforms.mdx
  packages/patrol/darwin/patrol.podspec
  packages/patrol/example/ios/Flutter/AppFrameworkInfo.plist
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol_finders/example/ios/Flutter/AppFrameworkInfo.plist
Due: patrol

Update documentation
  docs/cli-commands/build.mdx
  docs/cli-commands/test.mdx
  docs/documentation/native/advanced.mdx
  docs/native/advanced.mdx
Due: none

Uncomment testInstrumentationRunnerArguments
  dev/e2e_app/android/app/build.gradle.kts
Due: none

Update CHANGELOGs
  packages/patrol/CHANGELOG.md
Due: patrol

Remove unnecessary cases
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
Due: patrol

Fix formatting
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Add missing FULL_ISOLATION flag
  .github/workflows/prepare-e2e_app.yaml
Due: none

Refactor PATROL_INTEGRATION_TEST_IOS_RUNNER macro
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

remove copyWith from generator
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
Due: patrol

Fix tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Rename flag (clear-package-data->full-isolation), use full-isolation flag to override clearPackageData value on Android
  dev/e2e_app/android/app/build.gradle.kts
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/commands/build_ios_command_test.dart
Due: patrol, patrol_cli

Fix documentation and CI/CD command invocation
  .github/workflows/test-ios-simulator.yaml
  docs/documentation/ci/firebase-test-lab.mdx
  docs/documentation/integrations/allure.mdx
  docs/documentation/integrations/firebase-test-lab.mdx
  docs/integrations/allure.mdx
  docs/integrations/firebase-test-lab.mdx
Due: none

Refactor PATROL_INTEGRATION_TEST_IOS_RUNNER macro
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Improve documentation
  docs/cli-commands/test.mdx
  docs/documentation/native/advanced.mdx
  docs/native/advanced.mdx
Due: none

Adjust BuildIOSCommand test
  packages/patrol_cli/test/commands/build_ios_command_test.dart
Due: patrol, patrol_cli

Bump dart version in patrol_gen-prepare
  .github/workflows/patrol_gen-prepare.yaml
  packages/patrol/example/patrol_test/test_bundle.dart
Due: patrol
