Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

wrap scan with runAction
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

add self inside runAction
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add documentation for PR-triggered workflows with permission checks
  .github/WORKFLOWS.md
Due: none

Refactor CI/CD workflows to remove excluded tests handling and update test execution commands with tags for better clarity and organization.
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-web.yaml
Due: none

Refactor patrol tests to improve readability and add tags for better categorization across various test files.
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/macos/macos_app_test.dart
  dev/e2e_app/patrol_test/overflow_test.dart
  dev/e2e_app/patrol_test/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_location_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
  dev/e2e_app/patrol_test/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/service_cellular_test.dart
  dev/e2e_app/patrol_test/service_wifi_test.dart
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_leancode_test.dart
Due: none

Remove duplicated tests from not native_test folder
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/take_a_photo_native2_test.dart
  dev/e2e_app/patrol_test/pull_to_refresh_test.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_leancode_test.dart
Due: none

Update documenation by information about tags
  .github/WORKFLOWS.md
Due: none

Fix formatting
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/macos/macos_app_test.dart
  dev/e2e_app/patrol_test/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/patrol_test/web_example_test.dart
Due: none

Add longer wait and have variables for coordinates
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Update waiting in mock location to avoid race conditions
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Increase wait times in mock location tests and permissions tests to improve reliability
  dev/e2e_app/patrol_test/mock_location_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_location_test.dart
Due: none

Remove generated file upload_file_data.g.dart and its reference from upload_file_data.dart
  packages/patrol/lib/src/platform/web/upload_file_data.dart
  packages/patrol/lib/src/platform/web/upload_file_data.g.dart
Due: patrol

Remove duplicated content
  docs/v4-migration.mdx
Due: none

Fix pipe buffer deadlock in buildApkConfigOnly on Windows
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

fix: Fix formatting in test_bundler_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

fix: Add changelog entry
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix devtools when `patrol_test/` is used as root for test directory (#2922)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

Improve setup error reporting for page failures.
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Remove unused import
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Reorganize and enhance the quick checklist in the migration documentation
  docs/v4-migration.mdx
Due: none

Add changelog entry
  packages/patrol/CHANGELOG.md
Due: patrol

Improve setup error reporting for Patrol Web failures. (#2928)
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Update migration documentation to reflect changes in selector usage and streamline home press instructions for Patrol 4.0.
  docs/v4-migration.mdx
Due: none

Remove not needed excludes
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Update documentation; add column for tags
  .github/WORKFLOWS.md
Due: none

Update test command in CI workflow to specify target file instead of using tags for web tests
  .github/workflows/test-web.yaml
Due: none

Update WORKFLOWS.md to clarify web test workflow by removing tags and specifying target file usage
  .github/WORKFLOWS.md
Due: none

rewrite mcp to integrate with patrol
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/develop.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol, patrol_cli

undo workaround for ios logs and patrol mcp
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

fix: improve web sharding log handling and failure accounting
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

refactor: reorganize web example tests into dedicated files
  dev/e2e_app/patrol_test/web/web_example_accept_alert_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_accept_confirm_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_app.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_cookies_test.dart
  dev/e2e_app/patrol_test/web/web_example_dark_mode_test.dart
  dev/e2e_app/patrol_test/web/web_example_dismiss_confirm_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_file_upload_test.dart
  dev/e2e_app/patrol_test/web/web_example_iframe_interactions_test.dart
  dev/e2e_app/patrol_test/web/web_example_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_resize_window_test.dart
  dev/e2e_app/patrol_test/web/web_example_verify_file_downloads_empty_test.dart
  dev/e2e_app/patrol_test/web/web_example_verify_file_downloads_test.dart
  dev/e2e_app/patrol_test/web_example_test.dart
Due: none

fix: Update web tests workflow
  .github/workflows/test-web.yaml
Due: none

feat: Add flag
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

upload scan results to the dashboard
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix typo in BrowserStack setup docs
  docs/documentation/integrations/browserstack.mdx
Due: none

Configure example app to successfully run patrol build on Android & iOS
  packages/patrol/example/android/app/build.gradle.kts
  packages/patrol/example/android/settings.gradle.kts
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner/Runner.entitlements
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
