Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Sort imports in AppDelegate
  dev/e2e_app/ios/Runner/AppDelegate.swift
Due: none

Update patrol changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add mock location
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/integration_test/mock_location_test.dart
  dev/e2e_app/ios/Flutter/AppFrameworkInfo.plist
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner/AppDelegate.swift
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/map_screen.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Add packageName to mock location
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/integration_test/mock_location_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Fallback to empty string, when maps key is unavailable in env
  dev/e2e_app/android/app/build.gradle
Due: none

Change e2e_app target to 14
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
Due: none

Use runAction in IOSAutomator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add setMockLocation to native2
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add info about availability of mocking location
  docs/native/feature-parity.mdx
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add test with passing location from gpx
  dev/e2e_app/assets/gpx.gpx
  dev/e2e_app/integration_test/mock_location_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Change permission to final
  dev/e2e_app/lib/map_screen.dart
Due: none

Use apply in automator
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Don't use apply in automator
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Check if files are regenerated (#2534)
  .github/workflows/patrol-prepare.yaml
Due: none

Get iOS PatrolServer port in the Dart code using FFI
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/pubspec.yaml
Due: patrol

Use port 0 inside patrolTest method implementation
  packages/patrol/example/integration_test/example_test copy 2.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Select app port dynamically for Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/common.dart
Due: patrol

Prepare multiple tests to run on marathon cloud
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/marathon_ios
Due: patrol

Implement two way comunication for iOS using random ports
  dev/e2e_app/pubspec.lock
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_gen/pubspec.lock
  schema.dart
Due: patrol

Remove LambdaTestPatrolJUnitRunner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

Remove redundant NSRunLoop delays in iOS test runner
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Update test bundler to use dynamic ports selection
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Use ffi for sending ios port
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ffigen.yaml
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Use jnigen to pass android port from native to dart
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AndroidServerPortProvider.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/jnigen.yaml
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/lib/src/server_port/android_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Implement new port approach in PatrolIntegrationTestIosRunner with clearing permission
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Use free port on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Remove Marathon iOS test script
  packages/patrol/example/marathon_ios
Due: patrol

Remove debug changes
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Refactor server port handling across platforms
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/example/pubspec.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Update macOS integration test runner with improved port handling
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Format Android and iOS files
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Solve analysis issues
  packages/patrol/analysis_options.yaml
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Use ffigen WIP
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol/ffigen.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Refactor PatrolServer Swift code formatting
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Update Flutter version in patrol-prepare workflow to 3.27.x
  .github/workflows/patrol-prepare.yaml
Due: none

Remove unused PatrolPlugin import in MainActivityTest
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Update Flutter version to 3.29.x in patrol-prepare workflow
  .github/workflows/patrol-prepare.yaml
Due: none

Format server_port_provider.dart
  packages/patrol/lib/src/server_port_provider.dart
Due: patrol

Move port declarations outside PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol
