Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

wip
  packages/patrol/example/patrol_develop_test.dart
  packages/patrol/example/test.sh
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

set failure from some test runs
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

maybe fix
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

fix
  .github/workflows/test-ios-simulator.yaml
Due: none

swap test files
  packages/patrol/example/fake_example_test.dart
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

Place in one dir
  packages/patrol/example/integration_test/example_test_fake.dart
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

try with bash shell
  .github/workflows/test-ios-simulator.yaml
Due: none

add comments
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

Improve README of Patrol's example app
  packages/patrol/example/README.md
Due: patrol

Improve README of Patrol's example app (#1388)
  packages/patrol/example/README.md
Due: patrol

Clean up
  packages/patrol/example/patrol_develop_test.dart
  packages/patrol/example/test.sh
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Test patrol develop
  .cirrus.yml
Due: none

fix and add timeout after 10 minutes of inactivity
  .cirrus.yml
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

revert some old changes
  .github/workflows/label_pull_request.yaml
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Test on macOS
  .cirrus.yml
Due: none

add path to dependencies
  packages/patrol/example/patrol_develop_test.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

idk
  .cirrus.yml
  packages/patrol/example/pubspec.yaml
Due: patrol

fix
  .cirrus.yml
Due: none

pass device arg to patrol
  .cirrus.yml
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

upgrade flutter to stable
  .cirrus.yml
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/example_test_fake.dart
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

test with preinstalled iPhone 14 pro max
  .cirrus.yml
Due: none

revert
  packages/patrol/example/integration_test/example_test.dart
Due: patrol

remove cache
  .cirrus.yml
Due: none

maybe fix
  .cirrus.yml
Due: none

add warning about v2 migration
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

add warning about v2 migration (#1391)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

test windows
  .cirrus.yml
Due: none

test
  .cirrus.yml
Due: none

go on
  .cirrus.yml
  packages/patrol/example/patrol_develop_test.dart
Due: patrol

set android sdk envs
  .cirrus.yml
Due: none

print path
  .cirrus.yml
Due: none

improve comment about workaround since Flutter 3.10 on Android
  packages/patrol/lib/src/common.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
