Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Change comment
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

prepare dev release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Change dev version
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Change version to stable
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Use completer
  packages/patrol/lib/src/binding.dart
Due: patrol

Cleanup in patrol-prepare
  .github/workflows/patrol-prepare.yaml
Due: none

Expand invalid target error message to mention file suffix
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Automatically find and forward an unused port instead of using a hardcoded one
  packages/patrol_cli/lib/src/coverage/bind_unused_port.dart
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
Due: patrol, patrol_cli

remove automatic scrolling in tap method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add api for scrollTo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

add scrollTo
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Write documentation for native scrollTo method
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Fix single quotes error
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Adjust scrollTo to native rework pt 2
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Fix nullsafety
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Adjust scrollTo to native api rework
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  schema.dart
Due: patrol

Release patrol-v3.11.0-dev.1
  packages/patrol/pubspec.yaml
Due: patrol

Add adb forward list to adb wrapper
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
  packages/adb/test/adb_forward_list_test.dart
Due: none

Bump version, update changelog
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Due: none

Update package versions
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  pubspec.yaml
Due: none

Use adb 0.4.0
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bump patrol & patrol_cli version, fill compatibility map in CompatibilityChecker
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update table in docs
  docs/compatibility-table.mdx
  packages/patrol_cli/lib/src/compatibility_checker.dart
Due: patrol, patrol_cli

Swap columns in the docs table
  docs/compatibility-table.mdx
Due: none

Rework VesionComparator, write tests
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/test/some_test.dart
Due: patrol, patrol_cli

Fix version comparator
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/test/general/version_comparator_test.dart
Due: patrol, patrol_cli

Extract VersionComparator to a separate file
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_comparator.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/general/version_comparator_test.dart
Due: patrol, patrol_cli

Add missing import
  packages/patrol_cli/test/general/version_comparator_test.dart
Due: patrol, patrol_cli

Rename field, change comment
  packages/patrol_cli/lib/src/compatibility_checker/version_comparator.dart
Due: patrol, patrol_cli

Remove redundant code
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
Due: patrol, patrol_cli

Update changelog and docs
  docs/cli-commands/test.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add empty line to CLI changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add a warning about coverage not working on macos
  docs/cli-commands/test.mdx
Due: none

Add version requirement notes
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Remove redundant dash
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix formatting
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Temporary disable check semver in patrol-publish workflow
  .github/workflows/patrol-publish.yaml
Due: none

Move check-semver.yaml to separate workflow
  .github/workflows/check-semver.yaml
  .github/workflows/patrol-publish.yaml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
