Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Change pull request target
  .github/workflows/test-android-emulator.yaml
Due: none

Update root README framework description
  README.md
Due: none

docs: update top-level README description
  README.md
Due: none

Update import for current_platform in binding.dart to use current.dart instead of current_io.dart
  packages/patrol/lib/src/binding.dart
Due: patrol

feat: introduce --web-server-timeout to control Flutter web server start duration instead of the hard coded 2 minutes, fixes https://github.com/leancodepl/patrol/issues/2948
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: disable Chrome throttling options in Playwright configuration
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Refactor iOS device test workflow to remove pull request trigger paths
  .github/workflows/test-ios-device.yaml
Due: none

Update iOS simulator workflow to test on new devices and remove pull request trigger
  .github/WORKFLOWS.md
  .github/workflows/test-ios-simulator.yaml
Due: none

fix: add TODO comment for volume test error on Android emulator
  dev/e2e_app/patrol_test/volume_test.dart
Due: none

Update workflow to exclude volume_test that causing errors on whole run
  .github/workflows/test-android-emulator.yaml
  dev/e2e_app/patrol_test/native_tests/volume_test.dart
Due: none

fix: remove unnecessary 'emulator' tag from volume test
  dev/e2e_app/patrol_test/volume_test.dart
Due: none

Update workflows.md
  .github/WORKFLOWS.md
Due: none

Remove pull request triger for real device tests
  .github/workflows/test-android-device.yaml
Due: none

Format files
  dev/e2e_app/patrol_test/native_tests/android_app_test.dart
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_multiple_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_multiple_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/native_tests/example_test.dart
  dev/e2e_app/patrol_test/native_tests/internal/group_test.dart
  dev/e2e_app/patrol_test/native_tests/open_app_test.dart
  dev/e2e_app/patrol_test/native_tests/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/native_tests/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/native_tests/service_cellular_test.dart
  dev/e2e_app/patrol_test/native_tests/service_wifi_test.dart
Due: none

Remove pull request trigger paths from macOS test workflow
  .github/workflows/test-macos.yaml
Due: none

Update macOS test workflow to change trigger from PR to schedule and manual
  .github/WORKFLOWS.md
Due: none

Refactor iOS device test workflow to simplify build command formatting
  .github/workflows/test-ios-device.yaml
Due: none

Update iOS test workflows to exclude web_example_test.dart from builds and tests
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Refactor volume_test.dart to remove platform-specific checks for Android, simplifying the test flow while maintaining functionality.
  dev/e2e_app/patrol_test/native_tests/volume_test.dart
Due: none

Update iOS test workflows to exclude additional tests from builds and simulations
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
Due: none

Update iOS test workflows to use iPhone 17 Pro and OS version 26.0, and exclude additional tests from simulator runs
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Update iOS test workflows to reflect changes in device models and OS versions, and exclude specific tests from all runs
  .github/WORKFLOWS.md
Due: none

Update import for current_platform in binding.dart to use current.dart instead of current_io.dart (#2949)
  packages/patrol/lib/src/binding.dart
Due: patrol

Take the test name into account in the log entries
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Fix formatting and comment
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Take the test name into account in the log entries (#2955)
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Clear lines only when test logs are printed
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Run unit tests on patrol_log-prepare.yaml
  .github/workflows/patrol_log-prepare.yaml
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Fix formatting
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Clear lines only when test logs are printed (#2956)
  .github/workflows/patrol_log-prepare.yaml
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Fix lint error: use final instead of var for entityPath
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

Fix excluding folder
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Run dart format to fix formatting issues
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Add changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix --exclude flag to support directory exclusion
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Exclude web tests by directory
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  dev/e2e_app/patrol_test/web/web_example_test.dart
Due: none

Update path to web test in workflow
  .github/workflows/test-web.yaml
Due: none

--exclude patrol folders does not work (#2918)
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-web.yaml
  dev/e2e_app/patrol_test/web/web_example_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

refactor: reorganize web example tests into dedicated files
  dev/e2e_app/patrol_test/web/web_example_accept_alert_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_accept_confirm_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_app.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_cookies_test.dart
  dev/e2e_app/patrol_test/web/web_example_dark_mode_test.dart
  dev/e2e_app/patrol_test/web/web_example_dismiss_confirm_dialog_test.dart
  dev/e2e_app/patrol_test/web/web_example_file_upload_test.dart
  dev/e2e_app/patrol_test/web/web_example_iframe_interactions_test.dart
  dev/e2e_app/patrol_test/web/web_example_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_resize_window_test.dart
  dev/e2e_app/patrol_test/web/web_example_test.dart
  dev/e2e_app/patrol_test/web/web_example_verify_file_downloads_empty_test.dart
  dev/e2e_app/patrol_test/web/web_example_verify_file_downloads_test.dart
Due: none

fix: improve web sharding log handling and failure accounting
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
