Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Prepare patrol 4.9.0 and patrol_cli 4.7.0 release (#3232)
  dev/e2e_app/pubspec.lock
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol, patrol_cli

Run patrol_finders tests on web in CI
  .github/workflows/patrol_finders-prepare.yaml
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

Run patrol_finders tests on web in CI (#3233)
  .github/workflows/patrol_finders-prepare.yaml
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

docs(patrol): trim develop-exception comment and changelog entry
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
Due: patrol

fix(patrol): dump develop exceptions to console for the full stack trace
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
Due: patrol

fix(patrol): restore not suppressing Android accessibility services (configurable)
  docs/documentation/native/advanced.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/platform/android/android_automator_config.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/test/android_automator_config_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

fix(patrol_cli): don't pass --flavor to flutter attach
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

test(patrol_cli): pin the option set flutter attach is given
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

chore(patrol_cli): link the hot restart issue in the changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix(patrol_cli): keep iOS logs on projects whose schemes are the flavors
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

test(patrol_cli): cover where iOS logs come from on a flavored project
  packages/patrol_cli/test/commands/develop_service_test.dart
Due: patrol, patrol_cli

style(patrol_cli): match repo comment and changelog conventions
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

fix(patrol_cli): report a dead flutter attach or logs process
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

fix(patrol): let Android tests clear FLAG_RETRIEVE_INTERACTIVE_WINDOWS
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/platform/android/android_automator_config.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/test/android_automator_config_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

fix(patrol_finders): report drag time on dragUntil timeouts
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

feat: surface test failure details in MCP status output
  packages/patrol_cli/lib/patrol_cli.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

fix: add timeout to npm/playwright install in web test backend
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

refactor: Correctly name params in catch closure
  packages/patrol/lib/src/common.dart
Due: patrol

feat: Rewrite patrol develop on web to do cold start on each restart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

chore: fix patrol_mcp formatting after rebase onto master
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol

Remove unnecessary mcp setup files
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.claude/run-patrol
Due: none

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
Due: none

refactor: render web develop logs via PatrolLogReader
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Unblock patrol develop on web
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: guard hot-restart flag with epoch counter and add screenshot WS timeout
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

feat: use real hot restart for patrol develop on web
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/develop_generation.dart
  packages/patrol/lib/src/develop_generation_io.dart
  packages/patrol/lib/src/develop_generation_web.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Solve lint warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

chore: drop Cursor MCP example, keep Claude Code setup only
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
Due: none

refactor: extract platform session behavior and split web clipboard/key press tests
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_test.dart
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

fix: forward PATROL_LOG entries from web to MCP in develop mode
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: suppress spurious errors when quitting web develop mode
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: add web screenshot support via CDP in MCP
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

fix: use relative paths in MCP configs and add WebSocket connect timeout
  .mcp.json
  dev/e2e_app/.claude/run-patrol
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

fix: surface test failure details in develop mode
  packages/patrol/lib/src/common.dart
Due: patrol

fix: address MCP/web review feedback
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

fix: handle closed stdin when reverting interactive mode
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

refactor(patrol_mcp): drop web-specific session handling; cover web develop in CI
  .github/workflows/test-patrol-develop.yaml
  dev/cli_tests/patrol_develop_test.dart
  dev/e2e_app/patrol_test/web/web_develop_test.dart
  docs/cli-commands/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

feat(patrol_mcp): support web develop sessions; surface DevTools URL on web
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/device_selection.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/test/device_selection_test.dart
Due: patrol, patrol_cli

feat(patrol_cli): serve DevTools with the project registered, so the Patrol extension works on web
  docs/cli-commands/index.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/flutter_command.dart
  packages/patrol_cli/lib/src/web/web_devtools_server.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/test/general/flutter_command_test.dart
Due: patrol, patrol_cli

feat: show the web view hierarchy in the Patrol DevTools extension
  docs/cli-commands/index.mdx
  docs/documentation/other/patrol-devtools-extension.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/lib/src/platform/web/web_native_view.dart
  packages/patrol/lib/src/platform/web/web_native_view.g.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/getNativeViews.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/native_views.dart
  packages/patrol_devtools_extension/lib/api/native_views.g.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/web_node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
