Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

fix xctestrun filename when scheme is not `Runner`
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

docs: specify minimum iOS Deployment Target in docs
  docs/native/setup.mdx
Due: none

docs: specify minimum iOS Deployment Target in docs (#1077)
  docs/native/setup.mdx
Due: none

return `finder.hitTestable()` from `PatrolTester.dragUntilVisible`
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Fix `tap()` not being able to tap on widget previously found by `scrollTo()` (#1072)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
  packages/patrol/test/smoke_test.dart
Due: patrol

patrol: bump version to 1.0.7
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 1.0.7 (#1078)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

delete slack-test.yaml
  .github/workflows/slack-test.yaml
Due: none

delete slack-test.yaml (#1084)
  .github/workflows/slack-test.yaml
Due: none

Fix .xctestrun name when scheme is not `Runner` (#1076)
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.0.10
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 1.0.10 (#1085)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

try to enable Hot Restart on physical iOS
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Explicitly specify appId when running flutter attach (#1093)
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

update changlog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix tests
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

add BuildMode tests for release mode
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

[WIP] create BuildMode enum, remove redundant iOS flags
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

clean up TODOs
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

infer `scheme` and `configuration` when building on iOS
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

remove mentions of removed iOS-specific build options from the docs
  docs/native/setup.mdx
Due: none

IOSTestBackend: link to issue from TODO code comment
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

fix IOSAppOtions.toFlutterBuildInvocation() not taking BuildMode into account
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

remove unused BuildMode constructor
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

remove unnecessary explicit BuildMode specification in `BuildMode._defaultScheme`
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

PatrolCommand: fix --release being incorrectly described as "default build mode"
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

PatrolCommand: improve error message when `buildMode` is used but flags aren't declared
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

IOSTestBackend: fix garbled comment
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

enable Dart beta and Flutter beta
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

update changlog to trigger CI runs
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Infer iOS-specific build options (#1090)
  docs/native/setup.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

bump Podfile to CocoaPods 1.12.0
  packages/patrol/example/ios/Podfile.lock
Due: patrol

wrap `Automator` and `AutomatorServer` classes into a big `#if`def
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Errors.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Automator.swift: remove unnecessary `#if`def (is already wrapped)
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

reformat Swift code
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

create `BuildAndroidCommand` and `BuildIOSCommand`
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

remove leftover Android-only code from BuildCommand
  packages/patrol_cli/lib/src/commands/build.dart
Due: patrol, patrol_cli

BuildIOSCommand: print paths to binaries after successful build
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

fix bug with not being able to specify any build mode
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
