Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add row with min Flutter version to compatibility version (#2407)
  docs/compatibility-table.mdx
Due: none

Hide test file name in test start entry
  packages/patrol_log/lib/src/entries/test_entry.dart
Due: patrol

Bump patrol_log version
  packages/patrol_log/pubspec.yaml
Due: patrol

Wrap actions on finders with patrol logs.
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

Add option to not clear test steps.
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
Due: patrol

Add flag to not clear test steps
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update pubspec
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump packages versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

change docs
  README.md
Due: none

chnages revert
  README.md
Due: none

added lambdatest runner
  packages/patrol/android/src/main/LambdatestPatrolJUnitRunner.java
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/android/settings.gradle
Due: patrol

added LambdaTest Runner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

changes comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

changes for lambdatest runner
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/android/settings.gradle
Due: patrol

Reorganize ansi_codes
  packages/patrol_log/lib/src/ansi_codes.dart
Due: patrol

Print error entry using red color
  packages/patrol_log/lib/src/entries/error_entry.dart
Due: patrol

Add warning entry
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/entries/warning_entry.dart
Due: patrol

Fix invalid test path on failed test list
  packages/patrol_log/lib/src/patrol_single_test_entry.dart
Due: patrol

Replace ' ' in report path with %20 Handle warning entry in PatrolLogReader
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Add flavor to dartDefines android.
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

update test case
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

format
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Bump version and update changelog
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

Fix patrol_log check semver workflow
  .github/workflows/patrol_log-check-semver.yaml
Due: none

Fix patrol_log check semver workflow (#2427)
  .github/workflows/patrol_log-check-semver.yaml
Due: none

Add `ConfigEntry` to pass config from test to `PatrolLogReader`
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

Update changelog
  packages/patrol_log/CHANGELOG.md
Due: patrol

Bump patrol_finders
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Pass config to patrol_log
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

change getters to static variables
  packages/patrol_log/lib/src/ansi_codes.dart
Due: patrol

Change new version to 2.5.0
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare `patrol` and `patrol_cli` to release
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
Due: patrol, patrol_cli

Update version in `constants.dart`
  packages/patrol_cli/lib/src/base/constants.dart
Due: patrol, patrol_cli

Add info about min required `patrol_cli` version in `patrol` changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Change `patrol_cli` version
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Ignore `must_be_immutable` in pubspec_reader
  packages/patrol_cli/lib/src/pubspec_reader.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
