Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

increase Android timeout to 90m, decrease iOS timeout to 30m
  .cirrus.yml
Due: none

use Google Apis Playstore
  .cirrus.yml
Due: none

bump actions/labeler to v4
  .github/workflows/label_pull_request.yaml
Due: none

exclude tests that always fails
  .cirrus.yml
Due: none

upload Junit reports
  .cirrus.yml
Due: none

dont create additional iPhone 14 simulator
  .cirrus.yml
Due: none

fix gradlew not existing
  .cirrus.yml
Due: none

disable `service_bluetooth_test` on iOS simulator
  .cirrus.yml
Due: none

make it possible to tap on views by index on iOS
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/smokes/graceful_fail_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

tiny refactor to AutomatorServer.swift code
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

tiny refactor to AutomatorServer.swift code (#1163)
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Add Google Analytics support for docs (#1164)
  docs.json
Due: none

Fix typo in the top-level README
  README.md
Due: none

Fix typo in the top-level README (#1165)
  README.md
Due: none

add name to all subpages
  docs/ci/firebase-test-lab.mdx
  docs/ci/overview.mdx
  docs/ci/platforms.mdx
  docs/cli-commands/build.mdx
  docs/cli-commands/develop.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/test.mdx
  docs/cli-commands/update.mdx
  docs/effective-patrol.mdx
  docs/finders/advanced.mdx
  docs/finders/overview.mdx
  docs/finders/usage.mdx
  docs/getting-started.mdx
  docs/index.mdx
  docs/native/advanced.mdx
  docs/native/feature-parity.mdx
  docs/native/overview.mdx
  docs/native/setup.mdx
  docs/native/usage.mdx
  docs/tips-and-tricks.mdx
Due: none

add name to all subpages (#1166)
  docs/ci/firebase-test-lab.mdx
  docs/ci/overview.mdx
  docs/ci/platforms.mdx
  docs/cli-commands/build.mdx
  docs/cli-commands/develop.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/test.mdx
  docs/cli-commands/update.mdx
  docs/effective-patrol.mdx
  docs/finders/advanced.mdx
  docs/finders/overview.mdx
  docs/finders/usage.mdx
  docs/getting-started.mdx
  docs/index.mdx
  docs/native/advanced.mdx
  docs/native/feature-parity.mdx
  docs/native/overview.mdx
  docs/native/setup.mdx
  docs/native/usage.mdx
  docs/tips-and-tricks.mdx
Due: none

explain that `patrol develop` is broken on physical iOS devices
  docs/cli-commands/develop.mdx
Due: none

explain that `patrol develop` is broken on physical iOS devices (#1169)
  docs/cli-commands/develop.mdx
Due: none

add demo video to `patrol develop`
  docs/cli-commands/develop.mdx
Due: none

add demo video to `patrol develop` (#1172)
  docs/cli-commands/develop.mdx
Due: none

make `patrol update` also update `package:patrol` in pubspec
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

try to fix tests
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/commands/update_test.dart
  packages/patrol_cli/test/src/fakes.dart
Due: patrol, patrol_cli

Revert "try to fix tests"
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/commands/update_test.dart
  packages/patrol_cli/test/src/fakes.dart
Due: patrol, patrol_cli

delete update_test.dart (brings absolutely no benefits)
  packages/patrol_cli/test/commands/update_test.dart
Due: patrol, patrol_cli

fix duplicated rendering of logger
  packages/patrol_cli/lib/src/commands/update.dart
Due: patrol, patrol_cli

do not update package if no pubspec.yaml is in the dir hierarchy
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Make `patrol update` also update `package:patrol` in pubspec (#1173)
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/update_test.dart
Due: patrol, patrol_cli

patrol update: add --no-pub-upgrade flag
  packages/patrol_cli/lib/src/commands/update.dart
Due: patrol, patrol_cli

patrol update: add --no-pub-upgrade flag (#1175)
  packages/patrol_cli/lib/src/commands/update.dart
Due: patrol, patrol_cli

remove `patrol update` also upgrading pub package
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

remove `patrol update` also upgrading pub package (#1177)
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

start refactoring PatrolBinding to directly report test results to the native side
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

patrol_cli: set `INTEGRATION_TEST_SHOULD_REPORT_RESULTS_TO_NATIVE` to false
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

bump minSdk to 19 (it was 19 anyway)
  packages/patrol/android/build.gradle
Due: patrol

PatrolBinding: add comment to _shouldReportResultsToNative
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolSwiftPlugin: remove all functionality
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
Due: patrol

Android PatrolPlugin: remove all functionality
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
Due: patrol

Android AutomatorServer: handle submitTestResults() RPC
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
Due: patrol

copy code from FlutterTestRunner to PatrolTestRunner to prepare for virtual tests implementation
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestRunner.kt
Due: patrol

works on Android, yay
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestRunner.kt
  packages/patrol/lib/src/binding.dart
Due: patrol
