Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

use code from bug report
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

app/build.gradle: fix workaround for issue #883 breaking `flutter run`
  packages/patrol/example/android/app/build.gradle
Due: patrol

Android Automator: fix IndexOutOfBounds exception when waiting for native view to become visible
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

WebView screen: configure
  packages/patrol/example/lib/webview_screen.dart
Due: patrol

fix the issue by hardcoding waiting
  packages/patrol/example/integration_test/webview_leancode_test.dart
Due: patrol

app/build.gradle: fix workaround for issue #883 breaking `flutter run` (#940)
  packages/patrol/example/android/app/build.gradle
Due: patrol

Android Automator: fix IndexOutOfBounds exception when waiting for native view (#939)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

patrol: bump version to 1.0.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 1.0.1 (#941)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

WebView screen: configure (#945)
  packages/patrol/example/lib/webview_screen.dart
Due: patrol

add shell completion with package:cli_completion
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add shell completion to `patrol_cli` (#950)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

implement timeout for `enterTextByIndex()` on iOS
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

NativeAutomator: make doc comments have more content
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Android Automator: add timeout to enterTextByIndex()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

make example test fill text fields
  packages/patrol/example/integration_test/webview_leancode_test.dart
Due: patrol

refactor webview tests
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/lib/main.dart
Due: patrol

revert changes to webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
Due: patrol

satisfy ktlint
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

remove unnecessary closing of keyboard
  packages/patrol/example/integration_test/webview_login_test.dart
Due: patrol

Add default timeout to `NativeAutomator.enterTextByIndex(int)` (#943)
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Use automated publishing in CD
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

Bump packages versions by build number
  packages/adb/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol: bump version to 1.0.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 1.0.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

adb: bump version to 0.2.4+1
  .github/workflows/adb-prepare.yaml
  packages/adb/CHANGELOG.md
Due: none

patrol_cli: update version in constants.dart to 1.0.1
  packages/patrol_cli/lib/src/common/constants.dart
Due: patrol, patrol_cli

Use pub.dev automated publishing (#953)
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix GitHub Releases not being created because of missing permissions
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

fix GitHub Releases not being created because of missing permissions (#954)
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

adb: bump version to 0.2.4+2
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Due: none

patrol_cli: bump version to 1.0.1+1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol: update changelog for v1.0.2
  packages/patrol/CHANGELOG.md
Due: patrol

Fix Ci failing to create GitHub Release (#955)
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
