Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Add sleeping
  .github/workflows/test-ios-simulator.yaml
Due: none

Fix formatting
  docs/finders/advanced.mdx
Due: none

remove adding TestAsyncUtils.guard() - does not fit in this PR
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

add bullet points
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

try with -
  .github/workflows/send-slack-message.yaml
Due: none

increase memory to 12G
  .cirrus.yml
Due: none

use •
  .github/workflows/send-slack-message.yaml
Due: none

make 'see workflow run' clickable
  .github/workflows/send-slack-message.yaml
Due: none

apply changes to all workflows
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

fix
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

fix
  .github/workflows/test-android-emulator.yaml
Due: none

test
  .cirrus.yml
Due: none

test fvm
  .cirrus.yml
Due: none

add fvm to linux
  .cirrus.yml
Due: none

minor
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

use brew
  .cirrus.yml
  dev/cli_tests/patrol_develop_test.dart
Due: none

tap
  .cirrus.yml
Due: none

add verbose flag
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

increase afterBuildCompletedTimeout to 2 minutes
  dev/cli_tests/patrol_develop_test.dart
Due: none

Add CirrusCI for testing `patrol develop` (#1129)
  .cirrus.yml
  .gitignore
  dev/README.md
  dev/cli_tests/analysis_options.yaml
  dev/cli_tests/patrol_develop_test.dart
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Add docs for 2.0 (#1387)
  docs.json
  docs/finders/advanced.mdx
  docs/getting-started/native.mdx
  docs/tips-and-tricks.mdx
  docs/v2.mdx
Due: none

update changelog
  docs/index.mdx
  packages/patrol/CHANGELOG.md
Due: patrol

update changelog (#1404)
  docs/index.mdx
  packages/patrol/CHANGELOG.md
Due: patrol

Use flutter 3.10.x
  .cirrus.yml
Due: none

decrease emulator performance
  .cirrus.yml
Due: none

update v2.mdx
  docs/v2.mdx
Due: none

update link to the v2 article
  docs/v2.mdx
Due: none

Separate scripts for installing flutter
  .cirrus.yml
Due: none

Update v2.mdx (#1406)
  docs/v2.mdx
Due: none

update patrol to 2.0.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 2.0.0
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release Patrol 2.0 (#1407)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

update readme
  README.md
Due: none

improve index.mdx
  docs/index.mdx
Due: none

Use flutter 3.10.x on CirrusCI (#1405)
  .cirrus.yml
Due: none

demo how to install specific Patrol CLI version
  docs/getting-started/native.mdx
Due: none

More docs updates for v2 (#1408)
  README.md
  docs/getting-started/native.mdx
  docs/index.mdx
Due: none

test another approach
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none
