Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

test
  .github/workflows/test-android-emulator.yaml
Due: none

decrease timeouts
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/integration_test/permissions_location_test.dart
Due: patrol

AndroidAppOptions: fix `--release` not being forwarded to Gradle tasks
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

modify a few tests to cover the fix
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

AndroidAppOptions: fix `--release` not being forwarded to Gradle tasks (#1484)
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

remove `patrol`'s dependency on `http`
  packages/patrol/pubspec.yaml
Due: patrol

remove `patrol`'s dependency on `http` (#1485)
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 2.0.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 2.0.2
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release new versions (patrol v2.0.3, patrol_cli v2.0.2) (#1487)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

remove uploading artifacts
  .github/workflows/test-android-device.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

test
  packages/patrol/example/run_android_testlab
Due: patrol

implement workaround for SemanticsHandle on iOS devices
  packages/patrol/lib/src/common.dart
Due: patrol

implement workaround for SemanticsHandle on iOS devices (#1491)
  packages/patrol/lib/src/common.dart
Due: patrol

wip
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/emulatorwtf.yaml
  packages/patrol/example/test.sh
Due: patrol

fix: make it as required field
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

bump deps
  packages/patrol/example/ios/Podfile.lock
Due: patrol

bump more deps
  packages/patrol/example/pubspec.yaml
Due: patrol

remove wkwebview override
  packages/patrol/example/pubspec.yaml
Due: patrol

example app: fix location permission being broken (#1498)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
Due: patrol

`patrol test`: uninstall the apps before running tests
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

update changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

`patrol develop`: uninstall the apps before running tests
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Uninstall the apps before running tests (#1500)
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

minor
  packages/patrol/example/run_android_testlab
Due: patrol

patrol: bump version to 2.0.4
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 2.0.3
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release new versions (patrol v2.0.4, patrol_cli v2.0.3) (#1506)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

copy-paste `contacts_test.dart` from #968
  packages/patrol/example/integration_test/contacts_test.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

simplify `contacts_test` into a single test beacuse of Patrol limitations
  packages/patrol/example/integration_test/contacts_test.dart
Due: patrol

update proto definition of `EnterTextRequest`
  contracts.proto
Due: none

re-generate protobufs
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

add support for `showKeyboard` in Dart API
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

add support for `showKeyboard` in Android API
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

contacts_test.dart passes on Android
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/contacts_test.dart
Due: patrol

feat: add path to flutter attach and flutter build methods
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

test ios
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_android_testlab
  packages/patrol/example/run_ios_testlab
  packages/patrol/example/test.sh
Due: patrol

feat: add override keys to always use the dart defines keys
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

test
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol
