Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

rephrase index.mdx to mention LeanCode more
  docs/index.mdx
Due: none

make talk video more visible
  docs/index.mdx
Due: none

Get Patrol now - make this call to action more visible
  docs/index.mdx
Due: none

PatrolJUnitRunner: fix log tag in waitForPatrolAppService()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

PatrolBinding.setUp(): fix patrol_test_explorer not being ignored
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolBinding.tearDown(): don't block on testExecutionRequested during the initial run
  packages/patrol/lib/src/binding.dart
Due: patrol

move hotRestartEnabled from constants.dart to global_state.dart, delete constants.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol/lib/src/global_state.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

add patrolDebug() log helper to differentiat between app process runs
  packages/patrol/example/integration_test/internal/callbacks_all_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/logs.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

update dev_docs/GUIDE.md
  dev_docs/GUIDE.md
Due: none

mention LeanCode in READMEs more
  README.md
  packages/patrol/README.md
Due: patrol

PatrolBinding: remove unneeded debug logs in tearDown()
  packages/patrol/lib/src/binding.dart
Due: patrol

WIP: start adding PatrolJUnitRunner.listLifecycleCallbacks()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/integration_test/internal/callbacks_all_test.dart
  packages/patrol/lib/src/common.dart
Due: patrol

Add installedApps for ios inspector
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  schema.dart
Due: patrol, patrol_cli

Add Node abstraction
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_view.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/lib/native_inspector/node_details.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Change color for null values in node details
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
  packages/patrol_devtools_extension/lib/native_inspector/node_details.dart
Due: patrol

Add node expansion
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
Due: patrol

lower iOS deployment target to 11
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

Feature parity: update docs about min iOS version
  docs/patrol/native/feature-parity.mdx
Due: none

add LeanCode to sidebar
  docs.json
Due: none

remove links to old articles
  docs/index.mdx
Due: none

Fix swift-format issues
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
Due: patrol

Add support for ios 11 and 12
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/patrol.podspec
  packages/patrol_gen/lib/src/generators/ios/ios_telegraph_server_generator.dart
Due: patrol

Fix clang format
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

Fix clang-format
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

Feature parity: update docs about min iOS version
  docs/native/feature-parity.mdx
Due: none

Log patrolServer.start() failed
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

patrol: bump version to 2.4.0-dev.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 2.4.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 2.3.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Update CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Rephrase docs and READMEs (#1798)
  README.md
  docs.json
  docs/index.mdx
  packages/patrol/README.md
Due: patrol

Patrol CLI: fix generated test bundle being garbled on Windows (#1797)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 2.2.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 2.2.1 (#1803)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add short/long names for nodes
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_view.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Add flutter hooks
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_view.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Improve item layout
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
Due: patrol

Add tree lines
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_view.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Add initial character
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_tree.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
