Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Fix changelog formatting
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Bump Flutter version in android emulator e2e tests to 3.24
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Downgrade leancode_lint to 12.1.0
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/pubspec.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

Bump package/patrol version to 3.12.0
  packages/patrol/pubspec.yaml
Due: patrol

Fix code formatting
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Setup Flutter in check-semver.yaml
  .github/workflows/check-semver.yaml
Due: none

Add swipe to fix webview_stackoverflow_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Implement native scrollTo for iOS and use it in webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/pubspec.lock
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol, patrol_cli

Set version in packages/patrol changelog to 3.12.0
  packages/patrol/CHANGELOG.md
Due: patrol

Prepare changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Bump flutter_local_notifications in e2e_app to 17.2.3
  dev/e2e_app/pubspec.yaml
Due: none

Bump leancode_lint to 14.1.0 and format kotlin code
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.yaml
  packages/adb/pubspec.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

Bump uiautomator and implement native scrollTo for Android
  dev/e2e_app/pubspec.lock
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Set patrol_cli-prepare.yaml Flutter version to 3.22.x
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Bump min sdk and compileSdk
  dev/e2e_app/android/app/build.gradle
  packages/patrol/android/build.gradle
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

Bump Flutter version to 3.24.x in gh workflow files
  .cirrus.yml
  .github/workflows/check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
Due: none

Revert bumping sdk version to >=3.5.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Set minSdk to 24 in example apps
  dev/e2e_app/android/app/build.gradle
  packages/patrol/example/android/app/build.gradle
Due: patrol

Move default tap coords for enterText other place
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Fix webview tests on Android
  dev/e2e_app/integration_test/external_link_test.dart
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

add android setup documentation to readme file
  README.md
Due: none

Bump compileSdk and minSdk in e2e_app
  dev/e2e_app/android/app/build.gradle
Due: none

Bump flutter_local_notifications package in e2e_app
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Add more pumps to webview tests
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Add swipe to stackoverflow test
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

update troubleshooting build errors in getting-started.mdx file
  README.md
  docs/getting-started.mdx
Due: none

Use alternative keyboardBehavior on stackoverflow tests
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

add resource shrinking code in getting-started file
  docs/getting-started.mdx
Due: none

add android setup documentation to readme file (#2348)
  docs/getting-started.mdx
Due: none

Find project root directory
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

Update dependency to fix example
  packages/patrol/example/pubspec.yaml
Due: patrol

Fix getting target files to test
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

Fix changelog formatting (#2342)
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Install Flutter in check-semver.yaml
  .github/workflows/check-semver.yaml
Due: none

Update dependency, gradle, android sdk and ios target
  dev/e2e_app/android/gradle/wrapper/gradle-wrapper.properties
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
Due: none

Install Flutter in check-semver.yaml (#2352)
  .github/workflows/check-semver.yaml
Due: none

iOS: fix webview_stackoverflow_test and disable webview_leancode_test from workflow
  .github/workflows/test-ios-simulator-webview.yaml
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Revert gradle bump, fix getting absolute paths for excluded tests
  dev/e2e_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

Fix tests
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Add a guide on how to debug Patrol CLI
  .gitignore
  .vscode/launch.json
  CONTRIBUTING.md
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
