Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add changelog entry for for setMockLocation
  packages/patrol/CHANGELOG.md
Due: patrol

Improve mock location method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add missing assertion to mock location test
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Remove comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Fix Android automator exception label in error logs
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/android/android_automator_native.dart
Due: patrol

docs: update Patrol 4.0 blog link on main docs page
  docs/index.mdx
Due: none

Update package README framework description copy
  packages/patrol/README.md
  packages/patrol_cli/README.md
  packages/patrol_finders/README.md
Due: patrol, patrol_cli

add disposedBy
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix mcp readme
  packages/patrol_mcp/README.md
Due: patrol

Create a plan.md file
  packages/patrol/.planning/plan.md
Due: patrol

Create QR scanner plan
  packages/patrol/.planning/qr_scanner_plan.md
Due: patrol

Rebuild the camera feature with image_picker
  packages/patrol/example/android/settings.gradle.kts
  packages/patrol/example/lib/pages/camera/camera_page.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Implement injectCameraPhoto for iOS
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/patrol_test/camera_test.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/ios_automator_client.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  schema.dart
Due: patrol

Add a camera test
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/pages/camera/camera_page.dart
  packages/patrol/example/patrol_test/camera_test.dart
Due: patrol

Add CameraViewfinderInjector to support BS image injection even for QR scanners which rely on a continous feed of AVCaptureSession instead of taking single photos with AvCapturePhotoOutput
  packages/patrol/darwin/Classes/CameraViewfinderInjector.swift
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/patrol_test/qr_scanner_test.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

Add a camera feature to the example app
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner/Info.plist
  packages/patrol/example/lib/pages/camera/camera_page.dart
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Change the basic camera feature into QR code scanning
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/pages/camera/camera_page.dart
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/lib/pages/qr_scanner/qr_scanner_page.dart
  packages/patrol/example/patrol_test/camera_test.dart
  packages/patrol/example/patrol_test/qr_scanner_test.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Update docs
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
Due: patrol

Delete plans
  packages/patrol/.planning/bs_specific_code_plan.md
  packages/patrol/.planning/plan.md
  packages/patrol/.planning/qr_scanner_plan.md
Due: patrol

Use ObjC runtime reflection to access the BrowserStackTestHelper image injector dependency
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Add browserstack flag to the CLI to limit running of BS-specific config code
  packages/patrol/.planning/bs_specific_code_plan.md
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/lib/src/constants.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Tidy up the code
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/example/patrol_test/qr_scanner_test.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

fix review
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Update file title to .kts
  docs/documentation/integrations/browserstack.mdx
Due: none

Fix iOS runner initialization watchdog regression
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Format iOS runner macro for clang-format
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Update GitHub Actions workflows to use actions/upload-artifact@v4 for uploading test results, logs, and videos
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Update Android emulator workflow to exclude a specific test file from the build process
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Add wait in test to avoid flakiness, add 3s delay
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_test.dart
Due: none

Reduce wait time in gallery image selection tests from 10 seconds to 5 seconds to improve test efficiency.
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_test.dart
Due: none

Update Android emulator workflow to exclude specific test file from execution
  .github/workflows/test-android-emulator.yaml
Due: none

Refactor Android emulator workflow command to ensure verbose output during the build process
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Update Android build workflows to exclude a specific test file and ensure verbose output
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
Due: none

Update Android emulator workflow trigger to use 'pull_request' instead of 'pull_request_target'
  .github/workflows/test-android-emulator.yaml
Due: none

Add API lvl 36 and remove tablet device
  .github/workflows/test-android-emulator.yaml
Due: none

Use BS testInstrumentationRunner
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

Configure example app to successfully run patrol build on Android & iOS
  packages/patrol/example/android/app/build.gradle.kts
  packages/patrol/example/android/settings.gradle.kts
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner/Runner.entitlements
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
