Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

fix(patrol_cli): finalize Android screenrecord with SIGINT
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

fix(patrol_cli): surface Android screenrecord startup failures
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

docs(patrol_cli): scope video recording to emulators/simulators only
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

ci(e2e): bump Android compileSdk to 36 and AGP to 8.9.1
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/android/settings.gradle.kts
Due: none

[Bugfix] wrong windows import path
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

docs: clarify agent-skills update instructions
  docs/documentation/other/agent-skills.mdx
  skills/README.md
Due: none

Update packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

fix: Silence leancode_lint included-file warning on Flutter main
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_finders/analysis_options.yaml
  packages/patrol_finders/example/analysis_options.yaml
Due: patrol, patrol_cli

fix: Use proper version constraints instead of 'any' for collection/meta
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix patrol_mcp orphan on client disconnect
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol

fix(patrol_finders): stop in-progress fling so scrollTo works with noSettle
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

Add iOS SPM setup docs
  docs/documentation/index.mdx
  docs_app/public/assets/ios_spm_frameworks.png
  docs_app/public/assets/ios_spm_header_search_paths.png
Due: none

Remove redundant comments
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Exclude build folder from analysis
  dev/e2e_app/analysis_options.yaml
  packages/patrol/example/analysis_options.yaml
Due: patrol

Add XCTest weak framework linking and fix RunnerUITests to work with SPM
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

Add Flutter SPM pre-action to also the prod scheme
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
Due: patrol

Fix fallback support for CocoaPods
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

Explicitly import Foundation in Swift files
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/Errors.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: patrol

Fix unit tests
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/RunnerTests/RunnerTests.xcconfig
Due: none

Fix gen again
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
Due: patrol

Fix formatting
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Fix PatrolPlugin name
  packages/patrol/darwin/patrol/Sources/PatrolImpl/SwiftPatrolPlugin.swift
Due: patrol

Remove a file added to git that is in gitignore and fix patrol log issue with attempting to access last element of an empty list
  packages/patrol/darwin/patrol/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Fix gen from schema using old path
  gen_from_schema
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolAppServiceClient.swift
Due: patrol

Fix issue with including xcctest + add fvm to gitignore
  .gitignore
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Fix patrol_gen formatting
  packages/patrol_gen/bin/main.dart
  packages/patrol_gen/lib/src/generators/android/android_config.dart
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_server_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_config.dart
  packages/patrol_gen/lib/src/generators/dart/dart_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_config.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
  packages/patrol_gen/lib/src/patrol_gen.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
Due: patrol

Move unit tests into separate scheme to avoid dependency conflicts
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerTests.xcscheme
  dev/e2e_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/ios/RunnerTests/RunnerTests-Bridging-Header.h
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  dev/e2e_app/ios/RunnerTests/RunnerTests.xcconfig
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Fix swift formatting
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
Due: patrol

Update CHANGELOG.md for all affected packages and remove outdated doc entries about HEADER_PATHS (unnecessary since umbrella clang module)
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  docs/documentation/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
Due: patrol, patrol_cli

Make code prettier and delete unnecessary import and comment after umbrella clang module
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol_gen/lib/src/generators/android/android_http4k_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
Due: patrol

fix package name
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

add excludes packaging
  packages/patrol/android/build.gradle
Due: patrol

don't set flags for uiAutomation
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

add axe package on ios
  .gitmodules
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/patrol.podspec
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

add more excludes
  packages/patrol/android/build.gradle
Due: patrol

fix typo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
Due: patrol

add only the needed excludes
  packages/patrol/android/build.gradle
Due: patrol
