Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

fix: Simplify mock location executor initialization in Automator class
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Format file
  packages/patrol/lib/src/platform/mobile/mobile_automator_native.dart
Due: patrol

Mark currentLatitude and currentLongitude as volatile for thread safety
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Increase timeout
  .github/workflows/test-android-emulator.yaml
Due: none

Update flutter to 3.38.x
  .github/WORKFLOWS.md
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-web.yaml
Due: none

Add wait to avoid flakiness
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_multiple_image_from_gallery_native2_test.dart
Due: none

Remove redundant comments
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Fix fallback support for CocoaPods
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

Add XCTest weak framework linking and fix RunnerUITests to work with SPM
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

Explicitly import Foundation in Swift files
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/Errors.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/darwin/patrol/Sources/patrol/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/patrol/Sources/patrol/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: patrol

Exclude build folder from analysis
  dev/e2e_app/analysis_options.yaml
  packages/patrol/example/analysis_options.yaml
Due: patrol

Update Android image and action menu selectors for API level changes
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Add support for emulators with API level 36 in pickMultipleImagesFromGallery method
  packages/patrol/CHANGELOG.md
Due: patrol

Update documentation; remove Nexus from emulator.wtf test runs
  .github/WORKFLOWS.md
  .github/workflows/test-android-emulator.yaml
Due: none

Update E2E app workflow and documentation to use Flutter 3.38.x
  .github/WORKFLOWS.md
  .github/workflows/prepare-e2e_app.yaml
Due: none

Make code more readable; add rules for android files
  .cursor/rules/android-kotlin.mdc
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Setup testmu
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/run_android_testmu
Due: none

Fix formatting
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Update iOS simulator workflow to trigger on pull requests and adjust scheduling in documentation
  .github/WORKFLOWS.md
  .github/workflows/test-ios-simulator.yaml
Due: none

Add Flutter SPM pre-action to also the prod scheme
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
Due: patrol

Add readme
  dev/e2e_app/TESTMU.md
  dev/e2e_app/run_android_testmu
Due: none

Fix naming in documentation
  .github/WORKFLOWS.md
Due: none

Extract more IDs to file
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update workflow documentation to use markdown links for workflow files and improve clarity on testing triggers and exclusions.
  .github/WORKFLOWS.md
Due: none

Refactor workflow documentation to enhance clarity
  .github/WORKFLOWS.md
Due: none

Set NO_PROXY for OkHttpCilent
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
Due: patrol

Use new api, and format file for patrol develop test
  dev/cli_tests/patrol_develop_test.dart
Due: none

Handle timezone initialization errors in main.dart by setting UTC as fallback
  dev/e2e_app/lib/main.dart
Due: none

Update readiness check in patrol_develop_test.dart to use new output message for hot restart
  dev/cli_tests/patrol_develop_test.dart
Due: none

Update readiness check in patrol_develop_test.dart to revert to previous output message for hot restart
  dev/cli_tests/patrol_develop_test.dart
Due: none

Migrate patrol develop workflows to GHA
  .cirrus.yml
  .github/WORKFLOWS.md
  .github/workflows/test-patrol-develop.yaml
Due: none

Remove Cirrus CI configuration from labeler.yml
  .github/labeler.yml
Due: none

Increase after build completed timeout in patrol_develop_test.dart from 6 to 8 minutes
  dev/cli_tests/patrol_develop_test.dart
Due: none

Revert 4 min timeout
  dev/cli_tests/patrol_develop_test.dart
Due: none

Increase after build completed timeout in patrol_develop_test.dart from 4 to 6 minutes
  dev/cli_tests/patrol_develop_test.dart
Due: none

Update test output checks in patrol_develop_test.dart to reflect new message formats
  dev/cli_tests/patrol_develop_test.dart
Due: none

Adjust check to debug ios develop problems
  dev/cli_tests/patrol_develop_test.dart
Due: none

Add KVM support to test-patrol-develop workflow
  .github/workflows/test-patrol-develop.yaml
Due: none

Add path trigger for test-patrol-develop workflow on pull requests
  .github/workflows/test-patrol-develop.yaml
Due: none
