Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Make `patrol test` run tests in the same order as `ls -l` would (#882)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
Due: patrol, patrol_cli

patrol-prepare.yaml: add prepare-ios-native job
  .github/workflows/patrol-prepare.yaml
Due: none

format code with swift-format
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
Due: patrol

PatrolIntegrationTestRunner.h: remove unnecessary UIInterruptionMonitor
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Due: patrol

patrol-prepare.yaml: adding clang-format
  .github/workflows/patrol-prepare.yaml
Due: none

patrol-prepare.yaml: add prepare-android job
  .github/workflows/patrol-prepare.yaml
Due: none

add ktlint to android plugin
  .github/workflows/patrol-prepare.yaml
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
Due: patrol

Run more formatting and linting tools for both Android and iOS code (#884)
  .github/workflows/patrol-prepare.yaml
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Due: patrol

fix --dart-defines not being encoded correctly on Android
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix `--dart-defines` not being encoded correctly on Android when `patrol test`-ing (#885)
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.1 (#886)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

start writing docs
  docs/native/setup.mdx
Due: none

improve setup instructions for when iOS and Android app have different names
  docs/native/setup.mdx
Due: none

Revert "WIP: Rename PubspecReader to ConfigReader"
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

WIP: Rename PubspecReader to ConfigReader
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/config_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

Add documentation for `patrol` block in `pubspec.yaml` (#875)
  docs/native/setup.mdx
Due: none

send Slack message when Android testlab workflow completes
  .github/workflows/testlab-android.yaml
Due: none

send Slack message when Android testlab workflow completes (#888)
  .github/workflows/testlab-android.yaml
Due: none

fix gradlew.bat invocation on Windows
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
Due: patrol, patrol_cli

fix gradlew.bat invocation on Windows (#889)
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.2
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.2 (#890)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

add `flavor` to `AndroidPubspecConfig` and `IOSPubspecConfig`
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
Due: patrol, patrol_cli

WIP start refactoring PubspecReader
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Due: patrol, patrol_cli

AndroidTestBackend: fix failing tests
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Due: patrol, patrol_cli

progress with PubspecReader
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
Due: patrol, patrol_cli

more tests
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
Due: patrol, patrol_cli

TestCommand: use variables received from PubspecReader
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
Due: patrol, patrol_cli

NativeAutomator: add `appName` field
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

write more glue
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

improve logging dart defines
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

Glue `PubspecReader` with `TestCommand` and app-side config (#892)
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.3
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 0.9.3 (#893)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

enable doc search with Algolia
  docs.json
Due: none

enable doc search with Algolia (#894)
  docs.json
Due: none

patrol() helper func: add `skip` parameter
  packages/patrol/example/integration_test/android_app_test.dart
  packages/patrol/example/integration_test/common.dart
Due: patrol

integration-test-ios.yaml: disable android_app_test.dart
  .github/workflows/integration-test-ios.yaml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
