Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Address review feedback on key examples
  .claude/skills/patrol-tests-architecture/SKILL.md
  .cursor/rules/patrol-test-with-architecture/patrol-test-keys.mdc
Due: none

Note additional setup requirement in patrol README
  packages/patrol/README.md
Due: patrol

Address review feedback on README callout
  packages/patrol/README.md
Due: patrol

patrol_mcp: don't listen for SIGTERM on Windows
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

patrol_cli: don't listen for SIGTERM on Windows in DevelopService
  packages/patrol_cli/lib/src/commands/develop_service.dart
Due: patrol, patrol_cli

patrol_mcp: use conditional init + late final per review
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

feat: Unblock patrol develop on web
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: forward PATROL_LOG entries from web to MCP in develop mode
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: add web screenshot support via CDP in MCP
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

fix: add timeout to npm/playwright install in web test backend
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Rewrite patrol develop on web to do cold start on each restart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

feat: surface test failure details in MCP status output
  packages/patrol_cli/lib/patrol_cli.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

refactor: extract platform session behavior and split web clipboard/key press tests
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_test.dart
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

fix: guard hot-restart flag with epoch counter and add screenshot WS timeout
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

feat: Solve lint warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: use relative paths in MCP configs and add WebSocket connect timeout
  .mcp.json
  dev/e2e_app/.claude/run-patrol
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  dev/e2e_app/pubspec.lock
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
Due: none

Remove unnecessary mcp setup files
  .claude/run-patrol
  dev/e2e_app/.claude/run-patrol
  dev/e2e_app/.mcp.json
Due: none

fix: suppress spurious errors when quitting web develop mode
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

created many textfields screen to e2e app for testing
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/many_textfields_screen.dart
Due: none

refactor: render web develop logs via PatrolLogReader
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: surface test failure details in develop mode
  packages/patrol/lib/src/common.dart
Due: patrol

refactor: Correctly name params in catch closure
  packages/patrol/lib/src/common.dart
Due: patrol

fix: handle closed stdin when reverting interactive mode
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

created test for testing mobile keyboard enter
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
Due: none

Add dismissible docs banner
  docs_app/app/layout.tsx
Due: none

Move docs banner below navigation
  docs_app/app/(docs)/layout.tsx
  docs_app/app/global.css
  docs_app/app/layout.tsx
Due: none

Adjust webinar banner styling
  docs_app/app/(docs)/layout.tsx
  docs_app/app/global.css
Due: none

Move webinar banner above navigation
  docs_app/app/(docs)/layout.tsx
  docs_app/app/global.css
  docs_app/app/layout.tsx
Due: none

fixed screen for testing
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/many_textfields_screen.dart
Due: none

added sendKeyboardEnter to schema, implemented android side
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/MobileAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/lib/src/platform/contracts/mobile_automator_client.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  schema.dart
Due: patrol

edited patrol_tester to fix enterText hiding system keyboard
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Refactor AndroidAppOptions to dynamically read project name from gradle.properties, enhancing support for custom Android project structures in add-to-app setups.
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Add offset support to native taps
  docs/documentation/native/usage.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Run melos bootstrap in workflows that resolve overridden packages
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/test-android-emulator-webview.yaml
Due: none

Import patrol_log_reader barrel in patrol_cli test backends
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Move PatrolLogReader to a separate export to fix WASM compatibility
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/patrol_log.dart
  packages/patrol_log/lib/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

comment cleanup
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

updated changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
Due: patrol

fixed typo in changelog
  packages/patrol/CHANGELOG.md
Due: patrol
