Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

minor refactor to lib/src/features structure
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/devices/device_finder.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
  packages/patrol_cli/lib/src/features/drive/platform/android_driver.dart
  packages/patrol_cli/lib/src/features/drive/platform/ios_driver.dart
  packages/patrol_cli/lib/src/features/drive/test_runner.dart
  packages/patrol_cli/lib/src/features/run_commons/constants.dart
  packages/patrol_cli/lib/src/features/run_commons/dart_defines_reader.dart
  packages/patrol_cli/lib/src/features/run_commons/device.dart
  packages/patrol_cli/lib/src/features/run_commons/device.freezed.dart
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_runner.freezed.dart
  packages/patrol_cli/test/fakes.dart
  packages/patrol_cli/test/features/drive/dart_defines_reader_test.dart
  packages/patrol_cli/test/features/drive/device_finder_test.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/test_finder_test.dart
  packages/patrol_cli/test/features/test/android_test_runner_test.dart
  packages/patrol_cli/test/fixtures.dart
Due: patrol, patrol_cli

disable jetifier in example app
  packages/patrol/example/android/gradle.properties
Due: patrol

add basic IOSTestRunner
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

add implementation and tests for a basic AndroidTestRunner
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/test/android_test_driver.dart
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
  packages/patrol_cli/lib/src/features/test/ios_test_driver.dart
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_runner.freezed.dart
  packages/patrol_cli/test/features/test/android_test_runner_test.dart
Due: patrol, patrol_cli

remove unneeded parentheses
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
Due: patrol, patrol_cli

make TestRunner abstract
  packages/patrol_cli/lib/src/features/test/test_runner.dart
Due: patrol, patrol_cli

make TestCommand hidden
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

test command: remove application binary flag
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

add ANDROID_SERIAL comment
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
Due: patrol, patrol_cli

`patrol test`: fail with non-zero exit code
  packages/patrol/example/integration_test/features/permissions/location_test.dart
  packages/patrol/example/integration_test/features/permissions/permissions_test.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/flutter_test_runner.dart
  packages/patrol_cli/lib/src/features/run_commons/result.dart
  packages/patrol_cli/lib/src/features/run_commons/test_runner.dart
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
  packages/patrol_cli/lib/src/features/test/app_options.dart
  packages/patrol_cli/lib/src/features/test/app_options.freezed.dart
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
  packages/patrol_cli/lib/src/features/test/native_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/test_runner_test.dart
  packages/patrol_cli/test/features/test/android_test_runner_test.dart
Due: patrol, patrol_cli

clean up unused freezed files
  packages/patrol_cli/lib/src/features/run_commons/device.dart
  packages/patrol_cli/lib/src/features/run_commons/device.freezed.dart
  packages/patrol_cli/test/features/drive/flutter_test_runner_test.dart
  packages/patrol_cli/test/features/run_commons/dart_defines_reader_test.dart
  packages/patrol_cli/test/features/run_commons/device_finder_test.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
Due: patrol, patrol_cli

NativeTestRunner: add tests
  packages/patrol_cli/test/features/test/native_test_runner_test.dart
Due: patrol, patrol_cli

Patrol Test (#731)
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/integration_test/features/permissions/location_test.dart
  packages/patrol/example/integration_test/features/permissions/permissions_test.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/logging_local_process_manager.dart
  packages/patrol_cli/lib/src/features/devices/device_finder.dart
  packages/patrol_cli/lib/src/features/drive/device.freezed.dart
  packages/patrol_cli/lib/src/features/drive/flutter_test_runner.dart
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
  packages/patrol_cli/lib/src/features/drive/platform/android_driver.dart
  packages/patrol_cli/lib/src/features/drive/platform/ios_driver.dart
  packages/patrol_cli/lib/src/features/run_commons/constants.dart
  packages/patrol_cli/lib/src/features/run_commons/dart_defines_reader.dart
  packages/patrol_cli/lib/src/features/run_commons/device.dart
  packages/patrol_cli/lib/src/features/run_commons/result.dart
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/lib/src/features/run_commons/test_runner.dart
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
  packages/patrol_cli/lib/src/features/test/app_options.dart
  packages/patrol_cli/lib/src/features/test/app_options.freezed.dart
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
  packages/patrol_cli/lib/src/features/test/native_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
  packages/patrol_cli/test/fakes.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/flutter_test_runner_test.dart
  packages/patrol_cli/test/features/run_commons/dart_defines_reader_test.dart
  packages/patrol_cli/test/features/run_commons/device_finder_test.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
  packages/patrol_cli/test/features/test/android_test_runner_test.dart
  packages/patrol_cli/test/features/test/native_test_runner_test.dart
  packages/patrol_cli/test/fixtures.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 0.8.2
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 0.8.2 (#778)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

remove "the most" from index.md description
  docs/index.mdx
Due: none

fix minor syntax issue
  packages/patrol_cli/test/features/run_commons/dart_defines_reader_test.dart
Due: patrol, patrol_cli

fix minor syntax issue (#780)
  packages/patrol_cli/test/features/run_commons/dart_defines_reader_test.dart
Due: patrol, patrol_cli

start adding roadmap
  docs.json
  docs/roadmap.mdx
Due: none

explain why we are removing `patrol drive`
  docs/roadmap.mdx
Due: none

fix typos
  docs/roadmap.mdx
Due: none

Add roadmap (#781)
  docs.json
  docs/index.mdx
  docs/roadmap.mdx
Due: none

update roadmap
  docs/roadmap.mdx
Due: none

update patrol_cli changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

patrol_cli: bump version to 0.8.2+1
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Minor documentation updates (#783)
  docs/roadmap.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

change docs accent color to leancode yellow
  docs.json
Due: none

change docs accent color to leancode yellow (#784)
  docs.json
Due: none

temporarily unpblish roadmap
  docs.json
  docs/roadmap.mdx
Due: none

temporarily unpblish roadmap (#787)
  docs.json
  docs/roadmap.mdx
Due: none

remove dependency on forked flutter_driver
  packages/patrol/example/pubspec.yaml
Due: patrol

remove dependency on forked flutter_driver (#789)
  packages/patrol/example/pubspec.yaml
Due: patrol

patrol: bump minimum Flutter version to 3.3.0
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

update versions in workflow files
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Bump minimum Flutter version to 3.3.0 (#790)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

fix(IOSTestBackend): fix failing to build for simulator due to --simulator flag missing
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/test/features/test/ios_test_backend_test.dart
Due: patrol, patrol_cli

patrol test: add `scheme`, `xcconfig`, and `configuration` for iOS
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

fix(IOSTestBackend): run `flutter build --config-only` before xcodebuild
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
  packages/patrol_cli/test/features/test/ios_test_backend_test.dart
Due: patrol, patrol_cli

* split AppOptions into AndroidAppOptions and IOSAppOptions
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/app_options.dart
  packages/patrol_cli/lib/src/features/test/app_options.freezed.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Due: patrol, patrol_cli

slightly refactor AndroidAppOptions and IOSAppOptions
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Due: patrol, patrol_cli
