Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Release new versions (patrol 2.2.0, patrol_cli 2.1.0) (#1592)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix android swipe (#1571)
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Fix android swipe (#1571) (#1593)
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Add macos project to example
  packages/patrol/example/.metadata
  packages/patrol/example/macos/.gitignore
  packages/patrol/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/patrol/example/macos/Flutter/Flutter-Release.xcconfig
  packages/patrol/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/patrol/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/patrol/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/patrol/example/macos/Runner/AppDelegate.swift
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/patrol/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/patrol/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/patrol/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/patrol/example/macos/Runner/Configs/Debug.xcconfig
  packages/patrol/example/macos/Runner/Configs/Release.xcconfig
  packages/patrol/example/macos/Runner/Configs/Warnings.xcconfig
  packages/patrol/example/macos/Runner/DebugProfile.entitlements
  packages/patrol/example/macos/Runner/Info.plist
  packages/patrol/example/macos/Runner/MainFlutterWindow.swift
  packages/patrol/example/macos/Runner/Release.entitlements
  packages/patrol/example/macos/RunnerTests/RunnerTests.swift
Due: patrol

Add build and test commands to the patrol cli for macos platform. RunnerTests works only
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Add Allure runner support
  packages/patrol/example/allure-results.tar
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/PatrolAllureJUnitRunner.kt
  packages/patrol/example/android/app/src/main/res/allure.properties
  packages/patrol/example/android/build.gradle
Due: patrol

Add macos config to xcode and macos_assemble scripts
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/macos/RunnerUITests/RunnerUITests.m
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Add empty macos with grpc to patrol
  packages/patrol/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/macos/.clang-format
  packages/patrol/macos/.gitignore
  packages/patrol/macos/Assets/.gitkeep
  packages/patrol/macos/Classes/PatrolPlugin.h
  packages/patrol/macos/Classes/PatrolPlugin.m
  packages/patrol/macos/Classes/SwiftPatrolPlugin.swift
  packages/patrol/macos/patrol.podspec
  packages/patrol/pubspec.yaml
Due: patrol

Added check of kIsWeb before usage of Platform / dart:io package (#1578)
  packages/patrol/lib/src/common.dart
Due: patrol

delete `allure-results.tar`
  packages/patrol/example/allure-results.tar
Due: patrol

add missing newlines
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/PatrolAllureJUnitRunner.kt
  packages/patrol/example/android/app/src/main/res/allure.properties
Due: patrol

Downgrade grpc-ProtoRPC
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/macos/patrol.podspec
Due: patrol

Add basic Marathon files
  packages/patrol/example/Marathondevices
  packages/patrol/example/Marathonfile.android
  packages/patrol/example/Marathonfile.ios
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/build.gradle
  packages/patrol/example/android/gradle.properties
Due: patrol

Add missing --use-orchestrator flag for Android runs on FTL
  docs/ci/firebase-test-lab.mdx
Due: none

Add missing --use-orchestrator flag for Android runs on FTL (#1610)
  docs/ci/firebase-test-lab.mdx
Due: none

add `appId` to `NativeAutomator.waitUntilVisible()`
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

update changelogs
  packages/patrol/CHANGELOG.md
Due: patrol

Add missing `appId` parameter to `NativeAutomator.waitUntilVisible()` (#1611)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

patrol: bump version to 2.2.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 2.2.1 (#1612)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

RunnerUITests starts with plugin
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/RunnerUITests/RunnerUITests.m
  packages/patrol/macos/Classes/AutomatorServer/Automator.swift
  packages/patrol/macos/Classes/AutomatorServer/Logger.swift
  packages/patrol/macos/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/macos/Classes/PatrolAppServiceClient.swift
  packages/patrol/macos/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/macos/Classes/PatrolUtils.h
  packages/patrol/macos/Classes/PatrolUtils.m
  packages/patrol/macos/Classes/SwiftPatrolPlugin.swift
  packages/patrol/macos/patrol.podspec
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Improve gen_protobufs
  gen_protobufs
Due: none

Use ProtoCompiler in podspec
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/macos/Classes/AutomatorServer/Contracts.pbobjc.h
  packages/patrol/macos/Classes/AutomatorServer/Contracts.pbobjc.m
  packages/patrol/macos/Classes/AutomatorServer/Contracts.pbrpc.h
  packages/patrol/macos/Classes/AutomatorServer/Contracts.pbrpc.m
  packages/patrol/macos/patrol.podspec
Due: patrol

Update services banner to newer version
  docs/assets/services.png
Due: none

rename CREDS to BROWSERSTACK_CREDS
  packages/patrol/example/bs_ios
Due: patrol

delete `onlyTesting` from body of the final request
  packages/patrol/example/bs_ios
Due: patrol

make `bs_ios` executable
  packages/patrol/example/bs_ios
Due: patrol

change test execution endpoint from `build` to `xctestrun-build`
  packages/patrol/example/bs_ios
Due: patrol

create xctestplan
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/TestPlan.xctestplan
Due: patrol

fix various errors in bs_ios
  packages/patrol/example/bs_ios
Due: patrol

programatically remove DiagnosticCollectionPolicy
  packages/patrol/example/bs_ios
Due: patrol

Fix compilation with generated files
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/macos/Classes/PatrolAppServiceClient.swift
  packages/patrol/macos/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/macos/patrol.podspec
Due: patrol

add Allure integration docs
  docs/integrations/allure.mdx
Due: none

update docs.json
  docs.json
Due: none

add browserstack docs
  docs/integrations/allure.mdx
  docs/integrations/browserstack.mdx
Due: none

write browserstack docs
  docs/integrations/browserstack.mdx
Due: none

improve
  docs/integrations/allure.mdx
  docs/integrations/browserstack.mdx
Due: none

update allure docs
  docs/integrations/allure.mdx
Due: none

fix: rename in andSettle deprecation message The deprecation message refers to a settleBehavior parameter, whereas the correct name is settlePolicy.
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

change location of generated iOS test results into `build/ios_results_$timestamp`
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli
