Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Add links
  docs/documentation/index.mdx
Due: none

Docs for running app inside a test (#2735)
  dev/e2e_app/integration_test/common.dart
  docs/documentation/index.mdx
Due: none

Increase timeout on waiting for runDartTest
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/patrol.spec.ts
Due: patrol

Add json reporter
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Change the way of executing tests without building phase
  dev/e2e_app/pubspec.lock
  packages/adb/lib/src/adb.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/build_path_cache_manager.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test_without_building.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/build_path_cache.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/flutter_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/src/command_options_writer_test.dart
Due: patrol, patrol_cli

Bump playwright to 1.55.1
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
Due: patrol

vs code extension docs
  docs/assets/vsc-ext-additional-args.png
  docs/assets/vsc-ext-debugging-toolbar.png
  docs/assets/vsc-ext-devtools-dropdown.png
  docs/assets/vsc-ext-devtools.png
  docs/assets/vsc-ext-green-play-button.png
  docs/assets/vsc-ext-sample.png
  docs/assets/vsc-ext-stop-button.png
  docs/assets/vsc-ext-testexplorer.png
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

place vsc extension docs on sidebar
  docs.json
Due: none

Update shown example to include a device that exists on browser stack
  docs/integrations/browserstack.mdx
Due: none

Correct the description of the `patrol build` command
  docs/cli-commands/build.mdx
Due: none

Add beta warning
  docs.json
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

Test cdp connection
  packages/patrol/web_runner/patrol.develop.ts
Due: patrol

Update adb package; add recording videos functionallity
  dev/e2e_app/pubspec.lock
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_config.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add iOS video recording support
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Refactor process output decoding to use Utf8Decoder with allowMalformed option
  packages/patrol_cli/lib/src/base/process.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add WiFi enable/disable methods in IOSAutomator to support iOS 18 and above.
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add support for enabling/disabling WiFi on iOS 18 in CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Move logic to proper place
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix inccorect logic in enable/disable methods for ios 18
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi toggle logic in IOSAutomator for improved readability and consistency
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi enable/disable methods in IOSAutomator to enhance logic for iOS 18 and above
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi enable/disable methods in IOSAutomator for improved logic and consistency across iOS versions
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Prepare web develop infrastructure
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/.gitignore
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/integration_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_io.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/patrol.develop.ts
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/patrol.spec.ts
  packages/patrol/web_runner/tests/patrolNativeRequests.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

Fix patrol test
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/tests.json
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Add interactive device selection to DeviceFinder
  packages/patrol_cli/lib/src/base/interactive_prompts.dart
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli

Add changelog entry for patrol_cli
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Refactor _shouldShowInteractiveSelection to remove test environment check
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli

Fix web initalisation sequence
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/tests.json
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Remove JSON channel and communicate with JS side directly
  dev/e2e_app/integration_test/web_example_test.dart
  packages/patrol/build.yaml
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/teardown.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add playwright log reader
  packages/patrol/lib/src/native/native_automator_web.dart
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

Remove echo mode change
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Add stdin flags only when has terminal
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Increase timeout in playwright config
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Bump playwright to 1.56.0
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
Due: patrol

Bump playwright version
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
Due: patrol

Get fresh package-lock
  packages/patrol/web_runner/package-lock.json
Due: patrol

Increase timeout in patrol_cli for web tests execution
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli
