Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

POC: build-time iOS test discovery + static XCTest codegen
  dev/e2e_app/.gitignore
  dev/e2e_app/ios/RunnerUITests/RunnerUITests.m
  dev/e2e_app/patrol_test/dynamic_test.dart
  packages/patrol/darwin/patrol/Sources/PatrolImpl/PatrolTestManifest.swift
  packages/patrol/darwin/patrol/Sources/patrol/include/PatrolIntegrationTestIosRunner.h
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Use always valid UDIDs for destination argument in xcodebuild test-without-building instead of device name which can contain invalid characters like commas
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Add change to changelog
  packages/patrol/CHANGELOG.md
Due: patrol

change tags type on iOS
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Contracts.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/MobileAutomatorServer.swift
Due: patrol

make AxeBridge visible
  packages/patrol/darwin/patrol/Sources/patrol/include/AxeBridge.h
  packages/patrol/darwin/patrol/Sources/patrol/include/AxeBridge.m
  packages/patrol/darwin/patrol/Sources/patrol/include/patrol.h
Due: patrol

fix tags, part 3
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  schema.dart
Due: patrol

Remove tags; remove not needed test
  dev/e2e_app/patrol_test/selector_test.dart
Due: none

Update selector test to use correct webview and search labels
  dev/e2e_app/patrol_test/selector_test.dart
Due: none

Fix selector test to use platform tap method for cookie consent
  dev/e2e_app/patrol_test/selector_test.dart
Due: none

Remove unnecessary comment from selector test
  dev/e2e_app/patrol_test/selector_test.dart
Due: none

Refactor cookie consent popup comments for clarity in selector tests
  dev/e2e_app/patrol_test/selector_test.dart
  dev/e2e_app/patrol_test/webview_patrol_docs_test.dart
Due: none

fix(e2e): align pubspec.lock SDK-pinned packages with Flutter 3.38.10
  dev/e2e_app/pubspec.lock
Due: none

fix(e2e): bump Android Kotlin to 2.3.20 for google_maps_flutter_android 2.19.10
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/android/settings.gradle.kts
  dev/e2e_app/pubspec.lock
Due: none

fix(e2e): disable Kotlin incremental compilation on Android
  dev/e2e_app/android/gradle.properties
Due: none

fix(e2e): match Patrol MCP search result by text only in webview test
  dev/e2e_app/patrol_test/webview_patrol_docs_test.dart
Due: none

Add test for names with comma and fix changelog
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Remove setting patrol enabled to true on every SPM build
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

ci(ios): use iPhone 17 / iOS 26.2 simulator in prepare-e2e_app
  .github/workflows/prepare-e2e_app.yaml
Due: none

Skip native test because it is flaky (deprecated)
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_image_from_gallery_native2_test.dart
Due: none

Revert test; and apply fix
  dev/e2e_app/patrol_test/native_tests/camera_features/pick_image_from_gallery_native2_test.dart
Due: none

ci(android): scope kotlin.incremental=false to the Windows job only
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/android/gradle.properties
Due: none

ci(ios): pin setup-xcode action to commit SHA
  .github/workflows/prepare-e2e_app.yaml
Due: none

ci(ios): pin setup-xcode to commit SHA in test-ios-simulator
  .github/workflows/test-ios-simulator.yaml
Due: none

Set the PATROL_ENABLED flag in Package.swift based on an env variable set only by patrol cli, so normal app builds work.
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol_cli/lib/src/crossplatform/patrol_build_environment.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Add kotlin-android apply false for Kotlin DSL script classpath
  dev/e2e_app/android/app/build.gradle.kts
Due: none

Add logging to runAppService
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
Due: patrol

Use Ktor instead of OkHttp in PatrolAppServiceClient
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
Due: patrol

Use http_multi_server to gather all network traffic on the loopback
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/pubspec.yaml
Due: patrol

Fix Ktor deps
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
Due: patrol

Make patrol_gen generate Ktor code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol_gen/lib/src/generators/android/android_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_ktor_client_generator.dart
Due: patrol

Set `patrol` version to 3.16.0-dev.3
  packages/patrol/CHANGELOG.md
Due: patrol

Remove unused http4k client, commented out code, debug prints and unused imports
  packages/patrol/android/build.gradle
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/pubspec.yaml
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
Due: patrol

Fix formatting
  packages/patrol_gen/lib/src/generators/android/android_ktor_client_generator.dart
Due: patrol

Remove unused file
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
Due: patrol

Format
  packages/patrol/darwin/patrol/Package.swift
Due: patrol

Migrate Japanese text resources to SPM
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/Resources/ja.lproj/Localizable.strings
Due: patrol

Update CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

fix(patrol_cli): generate relative, valid imports in test_bundle.dart for targets outside test_directory
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

fix(patrol_cli): resolve relative test paths against project root in test bundler
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

docs(skills): add fix-issue contributor skill
  .agents/skills/README.md
  .agents/skills/fix-issue/SKILL.md
Due: none
