Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

fix: forward PATROL_LOG entries from web to MCP in develop mode
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: add web screenshot support via CDP in MCP
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

fix: add timeout to npm/playwright install in web test backend
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Rewrite patrol develop on web to do cold start on each restart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

feat: Solve lint warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: surface test failure details in MCP status output
  packages/patrol_cli/lib/patrol_cli.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

fix: use relative paths in MCP configs and add WebSocket connect timeout
  .mcp.json
  dev/e2e_app/.claude/run-patrol
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
Due: none

fix: handle closed stdin when reverting interactive mode
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

fix: address MCP/web review feedback
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

chore: drop Cursor MCP example, keep Claude Code setup only
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
Due: none

Remove unnecessary mcp setup files
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.claude/run-patrol
Due: none

refactor: Correctly name params in catch closure
  packages/patrol/lib/src/common.dart
Due: patrol

fix: surface test failure details in develop mode
  packages/patrol/lib/src/common.dart
Due: patrol

fix: guard hot-restart flag with epoch counter and add screenshot WS timeout
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

fix: suppress spurious errors when quitting web develop mode
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

refactor: extract platform session behavior and split web clipboard/key press tests
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_test.dart
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

refactor: render web develop logs via PatrolLogReader
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

chore: fix patrol_mcp formatting after rebase onto master
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol

feat: use real hot restart for patrol develop on web
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/develop_generation.dart
  packages/patrol/lib/src/develop_generation_io.dart
  packages/patrol/lib/src/develop_generation_web.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

refactor(patrol_mcp): drop web-specific session handling; cover web develop in CI
  .github/workflows/test-patrol-develop.yaml
  dev/cli_tests/patrol_develop_test.dart
  dev/e2e_app/patrol_test/web/web_develop_test.dart
  docs/cli-commands/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

feat(patrol_mcp): support web develop sessions; surface DevTools URL on web
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/device_selection.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/test/device_selection_test.dart
Due: patrol, patrol_cli

feat: show the web view hierarchy in the Patrol DevTools extension
  docs/cli-commands/index.mdx
  docs/documentation/other/patrol-devtools-extension.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/lib/src/platform/web/web_native_view.dart
  packages/patrol/lib/src/platform/web/web_native_view.g.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/getNativeViews.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/native_views.dart
  packages/patrol_devtools_extension/lib/api/native_views.g.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/web_node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol, patrol_cli

feat(patrol_cli): serve DevTools with the project registered, so the Patrol extension works on web
  docs/cli-commands/index.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/flutter_command.dart
  packages/patrol_cli/lib/src/web/web_devtools_server.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/test/general/flutter_command_test.dart
Due: patrol, patrol_cli

chore: drop em dashes from prose and remove a stale TODO
  .github/workflows/test-patrol-develop.yaml
  docs/cli-commands/index.mdx
  docs/documentation/other/patrol-devtools-extension.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/develop_generation.dart
  packages/patrol/lib/src/develop_generation_io.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: add video recording support for patrol cli
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_config.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

fix(patrol_cli): finalize Android screenrecord with SIGINT
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

fix(patrol_cli): surface Android screenrecord startup failures
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

docs(patrol_cli): scope video recording to emulators/simulators only
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

refactor(patrol_cli): address video recording review comments
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_config.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

docs(patrol_cli): mention physical Android devices for --record-video
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

refactor(patrol_cli): extract abstract VideoRecordingManager base class
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_manager.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

refactor(patrol_cli): apply video recording review feedback
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_config.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

docs: mention --web-video for recording web tests via Playwright
  docs/cli-commands/test.mdx
Due: none

feat(patrol_cli): report recorded videos in the CLI test summary
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_manager.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

docs: document --record-video in patrol test command
  docs/cli-commands/test.mdx
Due: none

docs(patrol_cli): shorten --record-video changelog entry
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

refactor(patrol_cli): rename video_recording_manager.dart to android_video_recording_manager.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
Due: patrol, patrol_cli

style(patrol_cli): dart format video recording managers
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

ci(ios): record test videos via `patrol test --record-video`
  .github/WORKFLOWS.md
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
