Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add SPM support note to patrol and patrol_cli READMEs
  packages/patrol/README.md
  packages/patrol_cli/README.md
Due: patrol, patrol_cli

Bump patrol to 4.7.1 and patrol_cli to 4.5.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/README.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Canonicalize PROJECT_ROOT to an absolute path
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

docs: align macOS Configure Runner UITests step with iOS setup
  docs/documentation/index.mdx
Due: none

docs: link macOS SPM setup step from SPM announcement
  docs/spm-announcement.mdx
Due: none

fix(patrol, patrol_log): report correct test description when test fails
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/test/test_entry_test.dart
Due: patrol

chore: add PR number to changelog entries
  packages/patrol/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
Due: patrol

fix(patrol_cli): fail fast when ANDROID_HOME is not set
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/test/android/android_test_backend_test.dart
Due: patrol, patrol_cli

chore: add PR number to changelog entry
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

test(patrol_finders): add regression test for keys with special characters
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

chore: add PR number to changelog entry
  packages/patrol_finders/CHANGELOG.md
Due: patrol

refactor(patrol_log): detect file prefix by _test suffix only
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/test/test_entry_test.dart
Due: patrol

Add findAttachedDevices to DevelopSessionFactory
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
Due: patrol, patrol_cli

Surface backend error on early MCP shutdown
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol

Fix patrol develop hang when app shuts down early
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/test/commands/develop_service_test.dart
  packages/patrol_cli/test/src/mocks.dart
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

Redirect stray print output to stderr in findAttachedDevices
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
Due: patrol, patrol_cli

Add multi-device support to patrol_mcp
  .github/WORKFLOWS.md
  .github/workflows/patrol_mcp-prepare.yaml
  packages/patrol_mcp/.gitignore
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/device_lister.dart
  packages/patrol_mcp/lib/src/device_selection.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/test/device_lister_test.dart
  packages/patrol_mcp/test/device_selection_test.dart
Due: patrol

Make FVM resolver tests cross-platform
  packages/patrol_mcp/test/flutter_command_resolver_test.dart
Due: patrol

Note the required patrol_cli version in the hang-fix changelog
  packages/patrol_mcp/CHANGELOG.md
Due: patrol

fix(android): address biometric code-review findings
  dev/e2e_app/lib/biometric_screen.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

docs(changelog): add PR number (#3174)
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add patrol-setup skill to user-facing catalog
  skills/README.md
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: wait for emulator boot to complete before running test
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: trim to minimal ordered setup + doc links
  skills/README.md
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: mention Patrol MCP as optional next step
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: defer first-test code to the docs
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: minimise to guardrails + doc pointers
  skills/patrol-setup/SKILL.md
Due: none

docs: fix gitignore glob (mobile+web) and add Patrol AI pointer
  docs/documentation/index.mdx
Due: none

patrol-setup: don't call .patrol.env generated (it's dev-authored)
  docs/documentation/index.mdx
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: describe the emulator run, drop the shell script
  skills/patrol-setup/SKILL.md
Due: none

patrol-setup: drop bundle-compile gotcha (no siblings in from-scratch setup)
  skills/patrol-setup/SKILL.md
Due: none

feat: add video recording support for patrol cli
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_config.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

fix(patrol_cli): finalize Android screenrecord with SIGINT
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

fix(patrol_cli): surface Android screenrecord startup failures
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
Due: patrol, patrol_cli

docs(patrol_cli): scope video recording to emulators/simulators only
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

refactor(patrol_cli): address video recording review comments
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_config.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

docs(patrol_cli): mention physical Android devices for --record-video
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

refactor(patrol_cli): extract abstract VideoRecordingManager base class
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_manager.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

refactor(patrol_cli): apply video recording review feedback
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_config.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
Due: patrol, patrol_cli

docs: trim gitignore note to one sentence
  docs/documentation/index.mdx
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
