Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add test for new method
  dev/e2e_app/lib/external_app_screen.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/ios_back_to_previous_app_button_test.dart
  schema.dart
Due: none

Add support for patching DYLD_FRAMEWORK_PATH in xctestrun for Xcode 26+
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Refactor iOS test to use keys for element visibility checks and simplify query logic in IOSAutomator
  dev/e2e_app/patrol_test/ios_back_to_previous_app_button_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Implement workaround for phantom teardown failures in Dart tests by treating failures with no details as passes. Update error handling in PatrolJUnitRunner.
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

changed .w --> .i
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Implement workaround for phantom failures in Dart tests by logging success for failures with null details. Update error handling in PatrolAppService.
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
Due: patrol

Implement new method for ios
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/ios_automator_client.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Add changelog
  packages/patrol/CHANGELOG.md
Due: patrol

fix(patrol_cli): Fix flavor from config in pubspec.yaml
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

docs(patrol_cli): Update CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Refactor IOSTapBackToPreviousAppButtonRequest to remove appId and simplify method signatures across iOS and Dart implementations
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Fix formating
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Format dart files
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Bump patrol_mcp to 0.1.4 with patrol_cli ^4.3.0
  docs/documentation/other/patrol-mcp.mdx
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol

Restore hosted sources in patrol_mcp pubspec.lock
  packages/patrol_mcp/pubspec.lock
Due: patrol

Split patrol_mcp 0.1.4 row in compatibility table
  docs/documentation/other/patrol-mcp.mdx
Due: none

Simplify patrol_mcp 0.1.4 row in compatibility table
  docs/documentation/other/patrol-mcp.mdx
Due: none

Redeploy docs
  docs/overview/getting-started.mdx
Due: none

Restore pubspec.yaml
  dev/e2e_app/pubspec.yaml
Due: none

style(patrol_cli): Dart format
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Cleanup
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Update tests
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
  dev/e2e_app/pubspec.yaml
Due: none

Implement sendEnterKeyboard on IOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix sendEnterKeyboard on IOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Document that appId is ignored on Android in PlatformAutomator
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

dart format
  dev/e2e_app/lib/keys.dart
Due: none

swift format
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Reframe appId dartdoc as iOS-only and document default behavior
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

Update docs app dependencies
  docs_app/global.d.ts
  docs_app/lib/source.tsx
  docs_app/next.config.mjs
  docs_app/package-lock.json
  docs_app/package.json
  docs_app/tsconfig.json
Due: none

Fix docs Vercel workflow root
  .github/WORKFLOWS.md
  .github/workflows/docs-preview.yaml
  .github/workflows/docs-production.yaml
Due: none

Remove deprecated docs tsconfig baseUrl
  docs_app/tsconfig.json
Due: none

Revert pubspec.yaml
  dev/e2e_app/pubspec.yaml
Due: none

Add changelog entries for SIGTERM Windows fix
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_mcp/CHANGELOG.md
Due: patrol, patrol_cli

Log missing docs pages
  docs_app/app/(docs)/[[...slug]]/page.tsx
Due: none

[patrol_finders] Prepare Release v3.5.0
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Fix docs cache poisoning by internal segment paths
  docs_app/app/(docs)/[[...slug]]/page.tsx
Due: none

patrol_cli: fix Windows :app:dependencies hang and garbled test bundle
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Update lock-threads action to version 6 in GitHub workflow for locking closed issues
  .github/workflows/lock-closed-issues.yaml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
