Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Fix link to feature parity
  docs/supported-platforms.mdx
Due: none

Clear textfield before enterText on iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

remove automatic scrolling in tap method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Adjust scrollTo to native rework pt 2
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Adjust scrollTo to native api rework
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  schema.dart
Due: patrol

Add api for scrollTo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

add scrollTo
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Fix single quotes error
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update contracts
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Fix nullsafety
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Revert "Fix devtools not showing new IOSNode data"
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Remove dummy values in iOS predicate construction
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Add clearing textfield before entering text
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Rename variable
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add clearing textfield before entering text (#2145)
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

hotfix: add focusing on textfield by tapping
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Revert "Clear textfield before enterText on iOS"
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Use macos-13 on patrol-prepare and prepare-e2e_app workflows
  .github/workflows/patrol-prepare.yaml
  .github/workflows/prepare-e2e_app.yaml
Due: none

Add missing self. in IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Use existing iPhone simulator on prepare-e2e_app workflow:
  .github/workflows/prepare-e2e_app.yaml
Due: none

Fix tapOnNotification to work as before $.native
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

format swift code
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Use iPhone 15 on prepare-e2e_app workflow
  .github/workflows/prepare-e2e_app.yaml
Due: none

Prepare changelog for the release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Pass app-server-port and test-server-port as Gradle project properties
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Use port options in patrol_cli commands for all platforms
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Fix app_options_test
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Fix KtLint
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
Due: patrol

Update changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix clearAndEnterText
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Prepare version for release
  docs/compatibility-table.mdx
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add clearing text to changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Fix clearing text before inserting new
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix comment
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

WIP
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/devices.dart
  packages/patrol_cli/lib/src/commands/doctor.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/runner/flutter_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

teensy bit of polishing
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/flutter_command.dart
Due: patrol, patrol_cli

update compatibility checker to use flutter-command
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
Due: patrol, patrol_cli

format
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

fix: flutter command via env variable
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

fix: patrol doctor on Windows
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli
