Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Fix dark mode functions for iOS 18 in Patrol
  packages/patrol/CHANGELOG.md
Due: patrol

Remove unused import; format files
  dev/e2e_app/integration_test/service_dark_mode_test.dart
  dev/e2e_app/lib/location_screen.dart
  dev/e2e_app/lib/notifications_screen.dart
  dev/e2e_app/lib/permissions_screen.dart
Due: none

Remove duplicated test; move mock classes to mocks.dart
  packages/patrol_cli/test/commands/patrol_android_build_test.dart
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
  packages/patrol_cli/test/commands/patrol_build_ios_print_path_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

log pull to refresh as itself
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update dev/e2e_app/integration_test/service_wifi_test.dart
  dev/e2e_app/integration_test/service_wifi_test.dart
Due: none

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add changelog entry
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Format
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Mention gallery permission dialog fix
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

align swipeBack and PullToRefresh code, log swipeBack correctly
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

do not show cli update prompt when current version is max compatible
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Format file
  dev/e2e_app/integration_test/service_wifi_test.dart
Due: none

Add comment for iOS 18 developer option swipe requirement in IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

change help message
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Refactor tests in patrol_build_android_print_paths_test.dart for clarity and accuracy. Updated test names for better context and modified flavor handling test to reflect null behavior.
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
Due: patrol, patrol_cli

Remove redundant test for null flavor handling in patrol_build_android_print_paths_test.dart to streamline test suite.
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
Due: patrol, patrol_cli

Format file with flutter 3.32
  packages/patrol/lib/src/global_state.dart
Due: patrol

Refactor printApkPaths call in BuildAndroidCommand for improved readability by consolidating parameters into a single line.
  packages/patrol_cli/lib/src/commands/build_android.dart
Due: patrol, patrol_cli

Update CHANGELOG.md to clarify the addition of APK path printing after `patrol build` command.
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add documentation for printApkPaths and printBinaryPaths
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

Update getting-started.mdx
  docs/getting-started.mdx
Due: none

Fix changelog for patrol package
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Prepare patrol_cli 3.10.0 and patrol 3.19.0 for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update version compatibility table
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
Due: patrol, patrol_cli

Regenerate compatibility table
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
Due: none

Format version_compatibility.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
Due: patrol, patrol_cli

Prepare patrol_cli 3.10.0 and patrol 3.19.0 for release (#2714)
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add important warnings
  docs/documentation/integrations/browserstack.mdx
Due: none

Docs for running iOS tests on BrowserStack (#2610)
  docs.json
  docs/assets/convert_to_use_test_plans.png
  docs/assets/create_test_plan_from_scheme.png
  docs/assets/edit_scheme.png
  docs/assets/rename_to_testplan.png
  docs/documentation/integrations/browserstack.mdx
  docs/integrations/browserstack.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
Due: patrol

Add WiFi enable/disable methods in IOSAutomator to support iOS 18 and above.
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add support for enabling/disabling WiFi on iOS 18 in CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Add semantics finders section to the documentation overview
  docs/documentation/finders/overview.mdx
Due: none

Update semantics finders description for clarity in documentation overview
  docs/documentation/finders/overview.mdx
Due: none

Move semantics info to usage
  docs/documentation/finders/overview.mdx
  docs/documentation/finders/usage.mdx
Due: none

Add more info about test reports for both platforms
  docs/documentation/logs.mdx
Due: none

Update podfile lock to be able to run test on ios in example
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
Due: patrol

Add interactive device selection to DeviceFinder
  packages/patrol_cli/lib/src/base/interactive_prompts.dart
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli

Add changelog entry for patrol_cli
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
