Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Add redirection from native/setup to /getting-started
  docs/native/setup.mdx
Due: none

Resolves an issue where test bundler would generate invalid code if the file path included dashes
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

Correct formatting
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

Add redirection from native/setup to /getting-started (#2121)
  docs/native/setup.mdx
Due: none

Try closing system dialog on wifi disable on iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Migrate android selector
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Fix automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Fix ios native view issues
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Add value to ios native view
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  schema.dart
Due: patrol

Add ios element type enum
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/ios_node.dart
  schema.dart
Due: patrol

Fix test
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Revert log message changes
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix hackernews test
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Fix macos compilation
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/example/macos/Podfile.lock
Due: patrol

Fix webview tests
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Bring back the old selector and native view in contracts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Add NativeSelector and NativeAutomator2 in dart side
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Migrate tests
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Copy old Selector, Predicate from master
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
Due: patrol

Revert Selector api in automator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Revert Automators
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Migrate AutomatorServer
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
  schema.dart
Due: patrol

Revert Contracts extensions and UiTreeUtils
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
Due: patrol

Migrate kotlin
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Fix messages
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update inspector
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_hierarchy.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/native_view_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Remove hardcoded elementType predictors from enterText with IOSSelector
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add properties to node details in inspector
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
Due: patrol

Format kotlin code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
Due: patrol

Format swift code
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
Due: patrol

Format runner tests
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Add PATROL_ENABLED to compliation condition for RunnerTests
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
Due: none

Remove IOSSelector tests
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Fix automator format
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Improve setup instruction
  docs/getting-started.mdx
Due: none

Add value property in IOSSelector
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  schema.dart
Due: patrol

Fix boolean arguments not working in IOSSelector
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Fix devtools not showing new IOSNode data
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Add hint about bundle_id in instruction
  docs/getting-started.mdx
Due: none

Add supported platforms page
  docs.json
  docs/native/feature-parity.mdx
  docs/supported-platforms.mdx
Due: none
