Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Improve details, add copy button
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector_view.dart
  packages/patrol_devtools_extension/lib/native_inspector/node_details.dart
Due: patrol

Remove deprecated code
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

PatrolBinding: fix bug in detecting patrol_test_explorer in setUp()
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolAppServiceClient: fix duplicated override of runDartTest()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
Due: patrol

PatrolBinding: accept PatrolAppService in constructor
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolJUnitRunner: implement basic listDartLifecycleCallbacks()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

PatrolAppService: remove topLevelGroup from constructor
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

test_bundler: adjust generated bundle to PatrolBinding and PatrolAppService changes
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

native Android side: only call listDartLifecycleCallbacks() during initial run
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Add to docs to be aware of proguard in the Getting started page, closes #1804
  docs/getting-started.mdx
Due: none

# 1770 | PatrolTester: added longPress gesture
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

conclude investigation
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/example/integration_test/permissions/notifications_test.dart
Due: patrol

PatrolJUnitRunner: add comment about where patrol.txt is created
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/CustomPatrolJUnitRunner.kt
Due: patrol

PatrolJUnitRunner: save lifecycle callbacks to JSON during initial run
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

PatrolBinding: add dependency on NativeAutomator
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

schema: add NativeAutomator.markLifecycleCallbackExecuted()
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  schema.dart
Due: patrol

implement NativeAutomator.markLifecycleCallbackExecuted
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

implement clearing state on initial run (might be unneeded?)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

schema: add PatrolAppService.setLifecycleCallbacksState
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/patrol_app_service_server.dart
  schema.dart
Due: patrol

progress with PatrolAppService.setLifecycleCallbacksState
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  schema.dart
Due: patrol

fix bug with white screen on normal test run
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

logs.dart: fix analyzer warnings
  packages/patrol/lib/src/logs.dart
Due: patrol

Add map support
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_contracts_generator.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
  packages/patrol_gen/lib/src/schema.dart
Due: patrol

remove PatrolJUnitRunner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/CustomPatrolJUnitRunner.kt
  packages/patrol/example/android/app/build.gradle
Due: patrol

delete cleaning state file on initial run (not needed)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

remove redundant debugLog from generated test_bundle
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

remove some debugging aids
  packages/patrol/lib/src/common.dart
Due: patrol

update completer names to be `didX` - more readable
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix endpoints that do not return results
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
Due: patrol

MainActivityTest.java: care about backward compatibility
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Provide redirects for link changes from 2138733
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Due: none

Revert "Provide redirects for link changes from 2138733"
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Due: none

update guide
  dev_docs/GUIDE.md
Due: none

PatrolJUnitRunner: update comment
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Revert "Revert "Provide redirects for link changes from #1792""
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Due: none

fix generated test_bundle referencing Completers with changede names
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

make Hot Restart work again
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

fix setUpAll and tearDownAll - don't block when Hot Restart is enabled
  packages/patrol/lib/src/common.dart
Due: patrol

regenerate contracts
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
Due: patrol

copy PATROL_INTEGRATION_TEST_IOS_RUNNER macro to RunnerUITests
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
