Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Update changelog
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Fix typo in changelog
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Add isPlatform getter for all platforms
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Change warning message
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

feat: add video recording support for patrol cli
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/android/video_recording_config.dart
  packages/patrol_cli/lib/src/android/video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_patrol_log_reader_with_video.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix at() to wait for widget to be visible
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Create regression test
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

Fix handling negative numbers
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Fix coverage lookup in Pub workspaces
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/test/general/coverage_tool_test.dart
Due: patrol, patrol_cli

feat(web): add multi-tab browser support for web tests (#2871)
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/web/web_example_app.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  docs/documentation/web.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/playwright.integration.config.ts
  packages/patrol/web_runner/playwright.unit.config.ts
  packages/patrol/web_runner/tests/__tests__/assumptions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/existingActions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/pageManager.test.ts
  packages/patrol/web_runner/tests/__tests__/patrolPlatformHandler.test.ts
  packages/patrol/web_runner/tests/__tests__/tabActions.test.ts
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/closeTab.ts
  packages/patrol/web_runner/tests/actions/getCurrentTab.ts
  packages/patrol/web_runner/tests/actions/getTabs.ts
  packages/patrol/web_runner/tests/actions/openNewTab.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
  packages/patrol/web_runner/tests/actions/switchToTab.ts
  packages/patrol/web_runner/tests/actions/waitForPopup.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol/web_runner/tests/pageManager.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Fix handlePatrolPlatformAction
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/__tests__/patrolPlatformHandler.test.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
Due: patrol

Fix web integrations tests
  packages/patrol/web_runner/tests/__tests__/assumptions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
Due: patrol

Return page identifiers only in getPages method
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/actions/getPages.ts
Due: patrol

Add switchToMainPage web action
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/switchToMainPage.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Add close method to PageManager
  packages/patrol/web_runner/tests/actions/closePage.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
  packages/patrol/web_runner/tests/actions/switchToMainPage.ts
  packages/patrol/web_runner/tests/actions/switchToPage.ts
  packages/patrol/web_runner/tests/pageManager.ts
Due: patrol

Align waitForPopup to mirror acceptNextDialog/dismissNextDialog
  docs/documentation/web.mdx
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/actions/waitForPopup.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Add getCurrentPageUrl web method
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  docs/documentation/web.mdx
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/actions/getCurrentPageUrl.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add missing semicolon
  docs/documentation/web.mdx
Due: none

Remove unused params
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
Due: patrol

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_app.dart
Due: none

Add getCurrentPageUrl to known actions
  packages/patrol/web_runner/tests/actions.ts
Due: patrol

feat: Dart coverage collection that survives BrowserStack Espresso runs
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackCoverage.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/bs_coverage.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/bs.dart
  packages/patrol_cli/lib/src/commands/bs_pull_coverage.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Refactor code for getting platform
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Remove unsupported platforms from getters
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

feat(cross_origin_poc): add cross_origin_lib — RPC, DSL, lookup, orchestrator
  dev/cross_origin_poc/cross_origin_lib/bin/orchestrate.dart
  dev/cross_origin_poc/cross_origin_lib/lib/cross_origin_lib.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/patrol_remote_test.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/remote_app.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/remote_app_tester.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/remote_app_wrapper.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/remote_apps_lookup.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/remote_patrol_finder.dart
  dev/cross_origin_poc/cross_origin_lib/lib/src/serialized_finder.dart
  dev/cross_origin_poc/cross_origin_lib/pubspec.lock
  dev/cross_origin_poc/cross_origin_lib/pubspec.yaml
Due: none

feat(cross_origin_poc): three Flutter Web apps (auth, panel, canvas)
  dev/cross_origin_poc/apps/auth/lib/main.dart
  dev/cross_origin_poc/apps/auth/pubspec.lock
  dev/cross_origin_poc/apps/auth/pubspec.yaml
  dev/cross_origin_poc/apps/auth/web/index.html
  dev/cross_origin_poc/apps/canvas/lib/main.dart
  dev/cross_origin_poc/apps/canvas/pubspec.lock
  dev/cross_origin_poc/apps/canvas/pubspec.yaml
  dev/cross_origin_poc/apps/canvas/web/index.html
  dev/cross_origin_poc/apps/panel/lib/main.dart
  dev/cross_origin_poc/apps/panel/pubspec.lock
  dev/cross_origin_poc/apps/panel/pubspec.yaml
  dev/cross_origin_poc/apps/panel/web/index.html
Due: none

feat(cross_origin_poc): controller app with cross-origin patrolRemoteTest
  dev/cross_origin_poc/apps/controller/lib/main.dart
  dev/cross_origin_poc/apps/controller/patrol_test/cross_origin_test.dart
  dev/cross_origin_poc/apps/controller/pubspec.lock
  dev/cross_origin_poc/apps/controller/pubspec.yaml
  dev/cross_origin_poc/apps/controller/test_bundle.dart
  dev/cross_origin_poc/apps/controller/web/index.html
Due: none

docs(cross_origin_poc): README, run.sh entry point, gitignore
  dev/cross_origin_poc/.gitignore
  dev/cross_origin_poc/README.md
  dev/cross_origin_poc/run.sh
Due: none

Restore patrol_finder to master version
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Change tests
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
Due: none

Delete comments from closed issues
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Refactor at() and fix first and last
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Add regression tests
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

Create test for e2e_app
  dev/e2e_app/patrol_test/at_finder_test.dart
Due: none

Edit pubspec.yaml in e2e_app to use local version of patrol_finders
  dev/e2e_app/pubspec.yaml
Due: none
