Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

dart format
  dev/e2e_app/lib/many_textfields_screen.dart
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator.dart
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

changed mobile_keyboard_enter_test
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
Due: none

fixed typo in changelog
  packages/patrol/CHANGELOG.md
Due: patrol

dart format
  dev/e2e_app/patrol_test/mobile_keyboard_enter_test.dart
Due: none

Fix error in IOSAutomator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add app-name argument to cli
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Create tests
  packages/patrol_cli/test/commands/build_android_command_test.dart
  packages/patrol_cli/test/commands/build_ios_command_test.dart
  packages/patrol_cli/test/commands/build_macos_command_test.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix(patrol_cli): Fix flavor iOS
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

feat(web): implement playwright screenshot support
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/screenshot.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Update packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions.ts
Due: patrol

Update packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Update packages/patrol/web_runner/tests/actions/screenshot.ts
  packages/patrol/web_runner/tests/actions/screenshot.ts
Due: patrol

Update permissions screen
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/permissions_screen.dart
Due: none

Update permissions tests
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
Due: none

Update AndroidManifest.xml
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
Due: none

Add patrol interactions
  packages/patrol/example/lib/main_web.dart
  packages/patrol/example/lib/pages/quiz/question_page.dart
  packages/patrol/example/lib/ui/components/text_field.dart
  packages/patrol/example/patrol_test/main_test.dart
  packages/patrol/example/patrol_test/web_showcase_test.dart
  packages/patrol/example/playwright-report/index.html
  packages/patrol/example/test-results/.last-run.json
  packages/patrol/example/web/iframe_challenge.html
Due: patrol

Prepare patrol web demo
  dev/e2e_app/pubspec.lock
  packages/patrol/example/.metadata
  packages/patrol/example/android/app/build.gradle.kts
  packages/patrol/example/lib/main_web.dart
  packages/patrol/example/patrol_test/main_test.dart
  packages/patrol/example/patrol_test/web_showcase_test.dart
  packages/patrol/example/playwright-report/index.html
  packages/patrol/example/pubspec.yaml
  packages/patrol/example/test-results/.last-run.json
  packages/patrol/example/web/favicon.png
  packages/patrol/example/web/icons/Icon-192.png
  packages/patrol/example/web/icons/Icon-512.png
  packages/patrol/example/web/icons/Icon-maskable-192.png
  packages/patrol/example/web/icons/Icon-maskable-512.png
  packages/patrol/example/web/iframe_challenge.html
  packages/patrol/example/web/index.html
  packages/patrol/example/web/manifest.json
  packages/patrol/web_runner/package-lock.json
Due: patrol

fix toTextFieldNSPredicate when selector doesn't have any of the fields it expects
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/AndroidAutomatorServer.kt
  packages/patrol/lib/src/platform/contracts/android_automator_client.dart
  schema.dart
Due: patrol

Create patrol interface for allowPermission()
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
Due: patrol

Implement allowPermission() on android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update test
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
Due: none

Implement denyPermission for battery optimization
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

add tests
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/patrol_test/enter_text_native_test.dart
  dev/e2e_app/pubspec.lock
Due: none

fix kotlin lint
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add macos app name to develop
  packages/patrol_cli/lib/src/commands/develop_service.dart
Due: patrol, patrol_cli

chore: refresh pricing documentation
  docs/pricing/index.mdx
Due: none

docs: fix capitalization and grammar in enterprise pricing table
  docs/pricing/index.mdx
Due: none

fix LeanCode in v4
  docs/v4.mdx
Due: none

Add warning to physical ios setup
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Add warning to physical ios devices setup
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Fix Control use
  packages/patrol/example/lib/main_web.dart
  packages/patrol/example/patrol_test/web_showcase_test.dart
Due: patrol

Fix autofocus issue on android
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Edit pubspec.yaml in e2e_app to use local patrol_finders
  dev/e2e_app/pubspec.yaml
Due: none

Add flag for enterText to hide keyboard
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

dart format
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Add hideKeyboard flag to ActionCombiner
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
