Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

disable running on Pixel 6 API 33 to reduce costs
  packages/patrol/example/run_android_testlab
Due: patrol

More fixes to GitHub Actions workflows (#840)
  .github/workflows/integration-test-ios.yaml
  .github/workflows/testlab-android.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

fix broken link
  docs/tips-and-tricks.mdx
Due: none

updating readme
  README.md
Due: none

disable permissions_location_test.dart on android
  .github/workflows/testlab-android.yaml
Due: none

update README
  README.md
Due: none

Update readme (#841)
  .github/workflows/testlab-android.yaml
  README.md
  docs/tips-and-tricks.mdx
Due: none

Add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add bug report issue template (#842)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

print info when packageName/bundleId is unknown
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

delete HostAutomator class
  packages/patrol/lib/src/host/host_automator.dart
Due: patrol

remove re-export of host_automator.dart from patrol.dart
  packages/patrol/lib/patrol.dart
Due: patrol

remove the rest of references to HostAutomator
  packages/patrol/example/integration_test/common.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

migrate example app to webview v4.0.0
  melos.yaml
  packages/patrol/example/lib/webview_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/lib/src/common/extensions/stopwatch.dart
  packages/patrol_cli/lib/src/common/logger.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

Chores and cleaning up after Flutter 3.7 (#838)
  melos.yaml
  packages/patrol/example/lib/webview_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/lib/src/common/extensions/stopwatch.dart
  packages/patrol_cli/lib/src/common/logger.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

patrol_cli: bump version to 0.8.5
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 0.8.5 (#847)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Delete host automation feature (#846)
  packages/patrol/example/integration_test/common.dart
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/lib/src/host/host_automator.dart
Due: patrol

IOSTestBackend: add uninstall() method
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

TestCommand: disable redundant bundleId/packageName checks
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

uninstall app on android as well
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

iOS and Android: rename classes to have matching names
  packages/patrol/android/src/main/AndroidManifest.xml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

example app: fix webview_screen.dart
  packages/patrol/example/lib/webview_screen.dart
Due: patrol

implement support for `index` in Selector
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/contacts_test.dart
Due: patrol

Uninstall app after tests finish (#848)
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug_report.md (#851)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

WIP write Dart tests for tap()/enterText() with index support
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/contacts_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Revert "WIP write Dart tests for tap()/enterText() with index support"
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/contacts_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

remove contacts_test.dart
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/contacts_test.dart
Due: patrol

Android: add support for `Selector.index` (#849)
  packages/patrol/android/src/main/AndroidManifest.xml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/example/lib/webview_screen.dart
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

force the same iOS deployment target for all Pods
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner/AppDelegate.swift
Due: patrol

revert changes in AppDelegate
  packages/patrol/example/ios/Runner/AppDelegate.swift
Due: patrol

PatrolTester.native: improve assertion message when it's null
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

PatrolTester.native: improve assertion message when it's null (#856)
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Example app: Fix Pods' iOS Deployment Target (#857)
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
Due: patrol

fix(patrol_cli): line splitting
  packages/patrol_cli/lib/src/common/extensions/process.dart
Due: patrol, patrol_cli

fix(patrol_cli): line splitting (#858)
  packages/patrol_cli/lib/src/common/extensions/process.dart
Due: patrol, patrol_cli

bump linter
  packages/patrol_cli/lib/src/common/artifacts_repository.dart
  packages/patrol_cli/lib/src/common/logger.dart
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

bump leancode_lint in all packages and fix new warnings
  packages/adb/pubspec.yaml
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/pubspec.yaml
Due: patrol
