Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

add excludes packaging
  packages/patrol/android/build.gradle
Due: patrol

add more excludes
  packages/patrol/android/build.gradle
Due: patrol

add only the needed excludes
  packages/patrol/android/build.gradle
Due: patrol

remove unnecessary version constraints
  packages/patrol/android/build.gradle
Due: patrol

POC for patrol extensions
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/android/settings.gradle.kts
  dev/e2e_app/patrol_test/patrol_axe_native_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  dev/patrol_axe/README.md
  dev/patrol_axe/android/build.gradle
  dev/patrol_axe/android/src/main/AndroidManifest.xml
  dev/patrol_axe/android/src/main/kotlin/pl/leancode/patrol/axe/AxeAutomator.kt
  dev/patrol_axe/android/src/main/kotlin/pl/leancode/patrol/axe/AxeServerExtension.kt
  dev/patrol_axe/android/src/main/kotlin/pl/leancode/patrol/axe/PatrolAxePlugin.kt
  dev/patrol_axe/android/src/main/resources/META-INF/services/pl.leancode.patrol.PatrolServerExtension
  dev/patrol_axe/darwin/patrol_axe/Sources/PatrolAxe/AxeServerExtension.swift
  dev/patrol_axe/example/patrol_axe_example_test.dart
  dev/patrol_axe/lib/patrol_axe.dart
  dev/patrol_axe/lib/src/axe_automator.dart
  dev/patrol_axe/lib/src/contracts/axe_automator_client.dart
  dev/patrol_axe/lib/src/patrol_axe_extension.dart
  dev/patrol_axe/pubspec.lock
  dev/patrol_axe/pubspec.yaml
  dev/patrol_axe/schema/axe.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServerExtension.kt
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolServerExtension.swift
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/extensions/patrol_extension.dart
Due: patrol

fix(patrol_mcp): target the active session device in screenshot command
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

First draft of documentation for adding new packages.
  docs/documentation/native/extension-packages.mdx
  docs/documentation/native/usage.mdx
Due: none

Add AutoClosable to client and generator and use it in runners
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol_gen/lib/src/generators/android/android_ktor_client_generator.dart
Due: patrol

Add null check
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
Due: patrol

fix(patrol): stop web tests hanging between bundled tests
  packages/patrol/CHANGELOG.md
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

ci(potential-duplicates): pin action to SHA and lower threshold to 0.5
  .github/workflows/potential-duplicates.yaml
Due: none

Fix patrol pub publish --dry-run issues
  .github/workflows/patrol-prepare.yaml
  packages/patrol/pubspec.yaml
Due: patrol

fix(patrol_finders): enterText resolves hint-text finder to EditableText
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

chore(patrol_finders): add unreleased changelog entry for hint-text enterText fix
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Change example test to test input hint
  dev/e2e_app/patrol_test/example_test.dart
Due: none

release patrol_log 0.9.1
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

fix ios workflow
  .github/workflows/prepare-e2e_app.yaml
Due: none

feat(web): add multi-tab browser support for web tests (#2871)
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/web/web_example_app.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  docs/documentation/web.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/playwright.integration.config.ts
  packages/patrol/web_runner/playwright.unit.config.ts
  packages/patrol/web_runner/tests/__tests__/assumptions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/existingActions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/pageManager.test.ts
  packages/patrol/web_runner/tests/__tests__/patrolPlatformHandler.test.ts
  packages/patrol/web_runner/tests/__tests__/tabActions.test.ts
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/closeTab.ts
  packages/patrol/web_runner/tests/actions/getCurrentTab.ts
  packages/patrol/web_runner/tests/actions/getTabs.ts
  packages/patrol/web_runner/tests/actions/openNewTab.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
  packages/patrol/web_runner/tests/actions/switchToTab.ts
  packages/patrol/web_runner/tests/actions/waitForPopup.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol/web_runner/tests/pageManager.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Add close method to PageManager
  packages/patrol/web_runner/tests/actions/closePage.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
  packages/patrol/web_runner/tests/actions/switchToMainPage.ts
  packages/patrol/web_runner/tests/actions/switchToPage.ts
  packages/patrol/web_runner/tests/pageManager.ts
Due: patrol

Add switchToMainPage web action
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/switchToMainPage.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Fix web integrations tests
  packages/patrol/web_runner/tests/__tests__/assumptions.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
Due: patrol

Return page identifiers only in getPages method
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/actions/getPages.ts
Due: patrol

Align waitForPopup to mirror acceptNextDialog/dismissNextDialog
  docs/documentation/web.mdx
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/actions/waitForPopup.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Add getCurrentPageUrl web method
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  docs/documentation/web.mdx
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/multiTab.integration.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/actions/getCurrentPageUrl.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Fix handlePatrolPlatformAction
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/__tests__/patrolPlatformHandler.test.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
Due: patrol

Remove unused params
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
Due: patrol

Add missing semicolon
  docs/documentation/web.mdx
Due: none

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_app.dart
Due: none

Add getCurrentPageUrl to known actions
  packages/patrol/web_runner/tests/actions.ts
Due: patrol

Adjust comments to describe what main page is
  packages/patrol/lib/src/platform/web/web_automator.dart
Due: patrol

Improve docs of web's multi-page support
  docs/documentation/web.mdx
Due: none

Rename mainPage to initialPage
  dev/e2e_app/patrol_test/web/web_example_multi_tab_navigation_test.dart
  dev/e2e_app/patrol_test/web/web_example_multi_tab_test.dart
  docs/documentation/web.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/web_runner/tests/__tests__/contracts.test.ts
  packages/patrol/web_runner/tests/__tests__/pageActions.test.ts
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/switchToInitialPage.ts
  packages/patrol/web_runner/tests/actions/switchToMainPage.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/pageManager.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
Due: patrol

Fix page initialization leaks
  packages/patrol/web_runner/tests/actions/openNewPage.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
Due: patrol

Revert generated fle change
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
Due: none

WIP: epitaxy pre-switch from feat/android-biometric-authentication
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/android/app/src/main/kotlin/pl/leancode/patrol/e2e_app/MainActivity.kt
  dev/e2e_app/lib/biometric_screen.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/native_tests/biometric_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/AndroidAutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/android_automator_client.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol, patrol_cli

fix(android): make biometric e2e tests pass on API 36 emulators
  dev/e2e_app/lib/biometric_screen.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

test(biometric): wait for auth result to avoid flaky assertion
  dev/e2e_app/patrol_test/native_tests/biometric_test.dart
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
