Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

add notice about generated code to `test_bundle.dart`
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

tiny improvement to the "responsibilities" comment
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

make surrounding comments more clear
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

move the big comment to the top
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Use test bundling on CI (#1248)
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-2.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

fix lint warning
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

replace .excelidraw with .svg that has embedded .excalidraw inside
  dev_docs/test_bundling.excalidraw
  dev_docs/test_bundling.svg
Due: none

fix `configure()` not being called on the start of every test
  packages/patrol/lib/src/common.dart
Due: patrol

lock Flutter 3.10.0 because 3.10.1 formats code differently (most likely a bug)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Clean up bundled test (#1283)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

update readme
  dev_docs/README.txt
Due: none

Add more logs, change video format, move find xresult step
  .github/workflows/test-ios-simulator.yaml
Due: none

Upload logs to artifact
  .github/workflows/test-ios-simulator.yaml
Due: none

fix
  .github/workflows/test-ios-simulator.yaml
Due: none

fix Hot Restart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

DevelopCommand: remove `TestBundler` argument
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

delete PATROL_INTEGRATION_TEST_SHOULD_REPORT_RESULTS_TO_NATIVE, which is not used anywhere
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/constants.dart
Due: patrol

delete patrolChannel (not used anymore)
  packages/patrol/lib/src/binding.dart
Due: patrol

patrol_cli: bump Dart constraint in pubspec.lock
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

remove h264 codec
  .github/workflows/test-ios-simulator.yaml
Due: none

try
  .github/workflows/test-ios-simulator.yaml
Due: none

Kill recording more gracefully and depend on exit code for slack message
  .github/workflows/test-ios-simulator.yaml
Due: none

test
  .github/workflows/test-ios-simulator.yaml
Due: none

fix typo
  .github/workflows/test-ios-simulator.yaml
Due: none

Clean up
  .github/workflows/test-ios-simulator.yaml
Due: none

Sleep 20 before streaming logs
  .github/workflows/test-ios-simulator.yaml
Due: none

or sleep 120
  .github/workflows/test-ios-simulator.yaml
Due: none

update setting status
  .github/workflows/test-ios-simulator.yaml
Due: none

support matrix
  .github/workflows/test-ios-simulator.yaml
Due: none

include not working test
  .github/workflows/test-ios-simulator.yaml
Due: none

remove this line
  .github/workflows/test-ios-simulator.yaml
Due: none

fix output
  .github/workflows/test-ios-simulator.yaml
Due: none

Set mason_logger to fixed version 0.2.5
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bring back Hot Restart (#1286)
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

Lower mason_logger version to 0.2.4
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix compilation errors
  packages/patrol_cli/lib/src/base/logger.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

Depend on two outputs at a time for slack message
  .github/workflows/test-ios-simulator.yaml
Due: none

patrol_cli: bump version to 1.1.10
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Remove redundant quotes
  .github/workflows/test-ios-simulator.yaml
Due: none

update constraints
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
