Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Implement takePhotoMethod on native side
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Pod repo update patrol
  packages/patrol/example/ios/Podfile.lock
Due: patrol

Update CONTRIBUTING.md to clarify contributing
  CONTRIBUTING.md
Due: none

Implement pickImageFromGallery method in native side for android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Add integration test for picking images from gallery in native2
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_native2_test.dart
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_test.dart
Due: none

Uncomment code for Ci/CD testing
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_native2_test.dart
Due: none

Fix tests for iOS
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_native2_test.dart
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_test.dart
Due: none

Implement pickImageFromGallery in native iOS side
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Add Patrol plugin registration in GeneratedPluginRegistrant.swift
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
Due: none

Add pickMultipleImagesFromGallery to android nativeAutomator's
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Update tests for both native automators
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_native2_test.dart
Due: none

Update CONTRIBUTING.md to add steps for method signature generation and iOS development setup
  CONTRIBUTING.md
Due: none

Implement pickMultipleImages on native side for iOS
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Update tests for iOS
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_native2_test.dart
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_test.dart
Due: none

Refactor test conditions to use isVirtualDevice instead of isSimulator for better clarity and accuracy in device checks
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_native2_test.dart
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_test.dart
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_native2_test.dart
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_test.dart
  dev/e2e_app/integration_test/camera_features/take_a_photo_native2_test.dart
  dev/e2e_app/integration_test/camera_features/take_a_photo_test.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Format files
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Add missing trailing comma
  packages/patrol_devtools_extension/lib/api/contracts.dart
Due: patrol

Regenerate contracts
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
Due: patrol

Refactor Automator and AutomatorServer for improved readability by adding spaces and aligning code formatting
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Review comments
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
Due: patrol, patrol_cli

Update to latest changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Introduce native swipe back mimic
  dev/e2e_app/emulatorwtf.yaml
  dev/e2e_app/integration_test/swipe_back_test.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Update patrol CHANGELOG.MD
  packages/patrol/CHANGELOG.md
Due: patrol

Fix example usage
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add formating to gen_from_schema script; regenerate contracts
  gen_from_schema
  packages/patrol/lib/src/native/contracts/contracts.dart
Due: patrol

Add dart fix --apply for devtools
  gen_from_schema
  packages/patrol_devtools_extension/lib/api/contracts.dart
Due: patrol

Add dart format to gen_from_schema script
  gen_from_schema
Due: none

disable update checking if command name is 'completion'
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add logger to log locale
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LocalizationHelper.kt
Due: patrol

Add German and French localization for airplane mode and location settings strings
  packages/patrol/android/src/main/res/values-de/strings_de.xml
  packages/patrol/android/src/main/res/values-fr/strings_fr.xml
Due: patrol

Make method private
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LocalizationHelper.kt
Due: patrol

Implement getLocale method for automators for both platforms
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/patrol.podspec
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Remove iOS-specific compilation condition from IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add files for strings
  packages/patrol/darwin/Resources/de.lproj/Localizable.strings
  packages/patrol/darwin/Resources/en.lproj/Localizable.strings
  packages/patrol/darwin/Resources/fr.lproj/Localizable.strings
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol

Enhance localization support in IOSAutomator by directly using system locale for UI strings
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Format file
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol
