Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

patrol_cli: bump version to 1.1.3 (#1138)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

test-ios-simulator.yaml: fix webview test selection
  .github/workflows/test-ios-simulator.yaml
Due: none

test-ios-simulator.yaml: fix webview test selection (#1140)
  .github/workflows/test-ios-simulator.yaml
Due: none

add docs for `waitUntilVisible()`
  docs/finders/usage.mdx
Due: none

mention that visible == hit-testable
  docs/finders/usage.mdx
  packages/patrol/lib/src/custom_finders/exceptions.dart
Due: patrol

mention Hot Restart in index.mdx
  docs/index.mdx
Due: none

mention native automation in top-level readme
  README.md
  docs/index.mdx
Due: none

Improve docs: mention Hot Restart in `index`, mention Native Automation in readme (#1142)
  README.md
  docs/index.mdx
Due: none

apply review suggestions by @zoskar - explain that hit-testability also affects scrollTo()
  docs/finders/usage.mdx
Due: none

Add docs for `waitUntilVisible()` (#1141)
  docs/finders/usage.mdx
  packages/patrol/lib/src/custom_finders/exceptions.dart
Due: patrol

add docs about `PatrolFinder.which()`
  docs/finders/usage.mdx
Due: none

improve tests of `PatrolFinder.which()`
  packages/patrol/test/patrol_finder_test.dart
Due: patrol

improve docs about `PatrolFinder.which()`
  docs/finders/usage.mdx
Due: none

move docs about `which()` to a better place
  docs/finders/usage.mdx
Due: none

fix missing negation
  docs/finders/usage.mdx
Due: none

Add docs about `PatrolFinder.which()` (#1144)
  docs/finders/usage.mdx
  packages/patrol/test/patrol_finder_test.dart
Due: patrol

remove Competition from docs
  docs.json
  docs/comparison.mdx
Due: none

Remove the outdated "Competition" section from docs (#1146)
  docs.json
  docs/comparison.mdx
Due: none

add initial Cirrus CI config file
  .cirrus.yml
Due: none

fix more failures on iOS
  .cirrus.yml
Due: none

increase Android timeout to 90m, decrease iOS timeout to 30m
  .cirrus.yml
Due: none

increase RAM to 6G
  .cirrus.yml
Due: none

exclude tests that always fails
  .cirrus.yml
Due: none

add test_ios_task
  .cirrus.yml
Due: none

dont create additional iPhone 14 simulator
  .cirrus.yml
Due: none

decrease RAM to 4G
  .cirrus.yml
Due: none

fix tests not starting on iOS simulator
  .cirrus.yml
Due: none

IOSAppOptions: use device UDID as destination specifier to be more deterministic
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

fix excludes not being applied
  .cirrus.yml
Due: none

use Google Apis Playstore
  .cirrus.yml
Due: none

delete `clean_up_test.dart`
  packages/patrol/example/integration_test/clean_up_test.dart
Due: patrol

upload Junit reports
  .cirrus.yml
Due: none

disable `service_bluetooth_test` on iOS simulator
  .cirrus.yml
Due: none

permissions_*_test.dart: use `pumpAndSettle()` after permission is granted to counter flakiness
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
Due: patrol

bump actions/labeler to v4
  .github/workflows/label_pull_request.yaml
Due: none

use `google_apis` emulator image instead of `default`
  .cirrus.yml
Due: none

fix gradlew not existing
  .cirrus.yml
Due: none

try to fix location in iOS simulator
  .cirrus.yml
Due: none

use CIRRUS_ENV
  .cirrus.yml
Due: none

attempt to fix PatrolFinder.which() - take parent finder into account
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
