Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Exclude service_location_test from ios test pipelines
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Update docs
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Fix opening settings app with clean state on iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Format swift code
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Fix AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Add native skip on macos
  dev/e2e_app/integration_test/macos/macos_app_test.dart
  dev/e2e_app/macos/Podfile.lock
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Align '\' in PatrolIntegrationTestIosRunner
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Add native skip on android
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  dev/e2e_app/integration_test/android_app_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/test/internals_test.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Add ios native skip
  dev/e2e_app/integration_test/open_app_test.dart
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Revert changes in MainActivityTests
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Skip test in PatrolJUnitRunner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Fix kotlin test
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
Due: patrol

Format *.h fles
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Revert unneeded changes
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Add tags support
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/integration_test/example_test.dart
  dev/e2e_app/pubspec.lock
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol, patrol_cli

Add exclude-tags Use BooleanSelector
  dev/e2e_app/integration_test/example_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Revert versions numbers
  dev/e2e_app/pubspec.lock
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update versions and changelogs
  dev/e2e_app/pubspec.lock
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update contracts test
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
Due: patrol

Add missing usesExcludeTagsOption
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Remove usesExcludeTagsOption from develop
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Fix ContractsExtensionsTest
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
Due: patrol

Exclude flaky tests from ios simulator workflows
  .github/workflows/test-ios-simulator.yaml
Due: none

feat: add vm_service and coverage dependencies
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

feat: add coverage collector
  packages/patrol_cli/lib/src/crossplatform/coverage_collector.dart
  packages/patrol_cli/lib/src/crossplatform/coverage_options.dart
Due: patrol, patrol_cli

feat: add log processor to filter observatory url
  packages/patrol_cli/lib/src/ios/log_processor.dart
Due: patrol, patrol_cli

feat: add coverage parameters
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

feat: Add coverage collection and log processing for iOS tests
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Use macos-12 and iOS 16.2 Simulators
  .github/workflows/test-ios-simulator.yaml
Due: none

Use Xcode 13 on macos latest
  .github/workflows/test-ios-simulator.yaml
Due: none

Use macos-14
  .github/workflows/test-ios-simulator.yaml
Due: none

Use macos-14-arm64
  .github/workflows/test-ios-simulator.yaml
Due: none

Use macos-13 and Xcode 14.2
  .github/workflows/test-ios-simulator.yaml
Due: none

Use iOS 17
  .github/workflows/test-ios-simulator.yaml
Due: none

Use Xcode 14.3.1
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Temporary stop sending slack message from webview workflow
  .github/workflows/test-ios-simulator-webview.yaml
Due: none

Add tags docs
  docs/cli-commands/test.mdx
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
