Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

add only the needed excludes
  packages/patrol/android/build.gradle
Due: patrol

Handle dialogs
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/acceptDialog.ts
  packages/patrol/web_runner/tests/actions/dismissDialog.ts
  packages/patrol/web_runner/tests/actions/getDialogMessage.ts
  packages/patrol/web_runner/tests/actions/pressKey.ts
  packages/patrol/web_runner/tests/actions/pressKeyCombo.ts
  packages/patrol/web_runner/tests/actions/setClipboard.ts
Due: patrol

Handle iframes tests
  dev/e2e_app/assets/iframe_content.html
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/enterText.ts
  packages/patrol/web_runner/tests/actions/scrollTo.ts
  packages/patrol/web_runner/tests/actions/tap.ts
  packages/patrol/web_runner/tests/actions/todo/enterText.ts
  packages/patrol/web_runner/tests/actions/todo/scrollTo.ts
  packages/patrol/web_runner/tests/actions/todo/tap.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/parseWebSelector.ts
Due: patrol

Handle file upload
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/todo/uploadFile.ts
  packages/patrol/web_runner/tests/actions/uploadFile.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Handle resize action
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/resizeWindow.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Update clipboard actions to return nulls on fail
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions/getClipboard.ts
  packages/patrol/web_runner/tests/actions/setClipboard.ts
  packages/patrol/web_runner/tests/utils.ts
Due: patrol

Handle file downloads, Improve dialogs and clipboard handling
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/acceptDialog.ts
  packages/patrol/web_runner/tests/actions/acceptNextDialog.ts
  packages/patrol/web_runner/tests/actions/dismissDialog.ts
  packages/patrol/web_runner/tests/actions/dismissNextDialog.ts
  packages/patrol/web_runner/tests/actions/getClipboard.ts
  packages/patrol/web_runner/tests/actions/setClipboard.ts
  packages/patrol/web_runner/tests/actions/startTest.ts
  packages/patrol/web_runner/tests/actions/todo/waitForDownload.ts
  packages/patrol/web_runner/tests/actions/verifyFileDownloads.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Create basic platform automator infrastructure
  gen_from_schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_config.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/android/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/android/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/android/empty_android_automator.dart
  packages/patrol/lib/src/platform/android/native_android_automator.dart
  packages/patrol/lib/src/platform/android/schema.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/web/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/web/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol/lib/src/platform/web/schema.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_generator.dart
Due: patrol, patrol_cli

wip
  gen_from_schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/AndroidAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/integration_test/test_bundle.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/android/android_automator_empty.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/android/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/android/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_config.dart
  packages/patrol/lib/src/platform/ios/ios_automator_empty.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/ios/schema.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator.dart
  packages/patrol/lib/src/platform/mobile/native_mobile_automator.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/web/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/web/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_config.dart
  packages/patrol/lib/src/platform/web/web_automator_empty.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol_gen/lib/src/generators/android/android_generator.dart
  schema.dart
  schema_old.dart
Due: patrol

wip
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol/lib/src/platform/web/upload_file_data.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_empty.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/lib/src/platform/web/web_selector.dart
Due: patrol

Sync all files with Install doc
  docs/documentation/native/setup.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
Due: none

Remove $ from commands to copy
  docs/documentation/index.mdx
Due: none

Make copying commands from Install easier (#2758)
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
Due: none

remove copyWith from generator
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
Due: patrol

Increase test timeout on web
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/initialise.ts
Due: patrol

Add playwright options to patrol cli
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Implement patrol_log for develop mode on web
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

Add more playwright config options
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Handle playwright install
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add npm check to patrol doctor
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

pass patrol flutter command to coverage tool
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix stdin modes handling
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Rename doctor web
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

Prepare release
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix swift formating
  packages/patrol/darwin/Classes/Telegraph/Clients/WebSocketClient.swift
  packages/patrol/darwin/Classes/Telegraph/Clients/WebSocketClientError.swift
Due: patrol

Update docs for web
  docs.json
  docs/cli-commands/test.mdx
  docs/getting-started.mdx
  docs/supported-platforms.mdx
  docs/web.mdx
Due: none

Add node to web doctor
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

Format file
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
Due: patrol, patrol_cli

Fix web logs
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

refactor version checking
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

use pubpsec.lock and not yaml for reading Patrol version
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
Due: patrol, patrol_cli

fix: Add @ on native web side to fix tags in patrol tests on web
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Disable develop mode on web
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Patrol Web native interactions
  dev/web_mvp/README.md
  dev/web_mvp/run.js
  dev/web_mvp/test_poc.sh
  packages/patrol/devtools_options.yaml
  packages/patrol/example/devtools_options.yaml
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/integration_test/second_example_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/patrol_app_service_web.dart
Due: patrol
