Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

fix log paths
  .github/workflows/test-ios-simulator.yaml
Due: none

Optimize which finder
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Fix `PatrolFinder.which()` so that it takes previous finder(s) into account (#1271)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/test/patrol_finder_test.dart
Due: patrol

Patrol: bump version to 1.1.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Patrol: bump version to 1.1.3 (#1275)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

add namespace to android/build.gradle
  packages/patrol/android/build.gradle
Due: patrol

clean up PatrolJUnitRunner.java and MainActivityTest.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

explain some terminology
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Add namespace to android/build.gradle (#1276)
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
Due: patrol

patrol: bump version to 1.1.4
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 1.1.4 (#1279)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix typo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Remove bluepill
  .github/workflows/test-ios-simulator.yaml
Due: none

Run iOS tests on master and develop
  .github/workflows/test-ios-simulator.yaml
Due: none

use patrol test instead of patrol build
  .github/workflows/test-ios-simulator.yaml
Due: none

kill recording
  .github/workflows/test-ios-simulator.yaml
Due: none

improve comments in the generated test_bundle.dart
  contracts.proto
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

test simplified statuses condition
  .github/workflows/test-ios-simulator.yaml
Due: none

Simplify code and add more comments in native Android part (#1278)
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Revert "test simplified statuses condition"
  .github/workflows/test-ios-simulator.yaml
Due: none

run other workflows on master and develop
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

save what is left out of the original :(
  dev_docs/README.txt
  dev_docs/test_bundling.excelidraw
Due: none

done step 1: generating and building
  dev_docs/test_bundling.excalidraw
Due: none

remove running on two branches
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

begin step 2: test discovery phase
  dev_docs/test_bundling.excalidraw
Due: none

finish step 2: test discovery phase
  dev_docs/test_bundling.excalidraw
Due: none

Upload separated artifacts
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

fix typo
  .github/workflows/test-ios-simulator.yaml
Due: none

Change name of summary step
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Break one test
  packages/patrol/example/integration_test/notifications_test.dart
Due: patrol

fix slack message
  .github/workflows/test-android-emulator.yaml
Due: none

in progress phase 3: test execution
  dev_docs/test_bundling.excalidraw
Due: none

whoo, mostly done
  dev_docs/test_bundling.excalidraw
Due: none

final final
  dev_docs/test_bundling.excalidraw
Due: none

minor changes
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Use upload-artifact@v3
  .github/workflows/test-android-device.yaml
Due: none

add final comment
  dev_docs/test_bundling.excalidraw
Due: none

Revert "Break one test"
  packages/patrol/example/integration_test/notifications_test.dart
Due: patrol
