Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

feat: Unblock patrol develop on web
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Rewrite patrol develop on web to do cold start on each restart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

fix: guard hot-restart flag with epoch counter and add screenshot WS timeout
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

feat: surface test failure details in MCP status output
  packages/patrol_cli/lib/patrol_cli.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

Remove unnecessary mcp setup files
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.claude/run-patrol
Due: none

refactor: render web develop logs via PatrolLogReader
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: surface test failure details in develop mode
  packages/patrol/lib/src/common.dart
Due: patrol

fix: add timeout to npm/playwright install in web test backend
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: use relative paths in MCP configs and add WebSocket connect timeout
  .mcp.json
  dev/e2e_app/.claude/run-patrol
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol

fix: forward PATROL_LOG entries from web to MCP in develop mode
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: handle closed stdin when reverting interactive mode
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

fix: suppress spurious errors when quitting web develop mode
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

feat: Solve lint warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Fix formatting
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
Due: none

refactor: Correctly name params in catch closure
  packages/patrol/lib/src/common.dart
Due: patrol

refactor: extract platform session behavior and split web clipboard/key press tests
  .claude/run-patrol
  .mcp.json
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/integration_test/patrol_test_bundle.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_and_clicks_test.dart
  dev/e2e_app/patrol_test/web/web_example_clipboard_test.dart
  dev/e2e_app/patrol_test/web/web_example_key_press_test.dart
  dev/e2e_app/pubspec.yaml
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/platform_session_behavior.dart
Due: patrol, patrol_cli

feat: add web screenshot support via CDP in MCP
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

fix: address MCP/web review feedback
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

chore: drop Cursor MCP example, keep Claude Code setup only
  dev/e2e_app/.cursor/mcp.json
  dev/e2e_app/.cursor/run-patrol
Due: none

chore: remove @fylyppo from CODEOWNERS (#3149)
  .github/CODEOWNERS
Due: none

chore: remove @gogolon from CODEOWNERS
  .github/CODEOWNERS
Due: none

add only the needed excludes
  packages/patrol/android/build.gradle
Due: patrol

bring back minSdk in apps, fix build.gradle
  dev/e2e_app/android/app/build.gradle.kts
  packages/patrol/android/build.gradle
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

bring back minSdk 21
  packages/patrol/android/build.gradle
Due: patrol

move packaging sections to apps' build.gradles
  dev/e2e_app/android/app/build.gradle.kts
  packages/patrol/android/build.gradle
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

add excludes packaging
  packages/patrol/android/build.gradle
Due: patrol

bump minSdk to 26
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/pubspec.lock
  packages/patrol/android/build.gradle
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

add packaging sections to Install guide
  docs/documentation/index.mdx
Due: none

bump ktor packages and exclude netty
  packages/patrol/android/build.gradle
Due: patrol

remove unnecessary version constraints
  packages/patrol/android/build.gradle
Due: patrol

add more excludes
  packages/patrol/android/build.gradle
Due: patrol

Prepare patrol 4.7.0 and patrol_cli 4.5.0 for release
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Upgrade package_config to ^3.0.0, resolve dependency conflicts
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Organize changelogs for patrol and patrol_cli
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Apply suggestion from @gemini-code-assist[bot]
  packages/patrol/CHANGELOG.md
Due: patrol

Fix changelog punctuation and phrasing
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Update constraints
  .github/workflows/patrol_cli-prepare.yaml
  .gitignore
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update Flutter in workflows
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-web.yaml
Due: none

Upgrade more packages
  packages/patrol/example/analysis_options.yaml
  packages/patrol/example/lib/firebase_options.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_gen/.gitignore
  packages/patrol_log/analysis_options.yaml
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/error_entry.dart
  packages/patrol_log/lib/src/entries/log_entry.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/lib/src/entries/warning_entry.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_mcp/.gitignore
  packages/patrol_mcp/analysis_options.yaml
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/pubspec.yaml
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
