Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Improve testing of `grantPermissionOnlyThisTime` on Android (#1561)
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/emulatorwtf.yaml
  packages/patrol/example/integration_test/permissions_many_test.dart
Due: patrol

minor refactor to emulatorwtf.yaml structure
  packages/patrol/example/emulatorwtf.yaml
Due: patrol

minor refactor to emulatorwtf.yaml structure (#1562)
  packages/patrol/example/emulatorwtf.yaml
Due: patrol

ignore calls to `select[Fine|Coarse]Location()` on iOS < 14
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

forward NativeView children
  packages/patrol/example/integration_test/get_native_views_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/lib/src/native/native.dart
Due: patrol

ignore calls to `select[Fine|Coarse]Location()` on iOS < 14 (#1564)
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

add `--no-generate-bundle` flag to `test`, `develop`, `build android`, and `build ios` commands
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

TestBundler: add dependency `Logger`, deduplicate logging code in other places
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

Add `--no-generate-bundle` flag (#1565)
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

add `get_native_views_test.dart` to ignores
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Add support for `getNativeViews` on iOS (#1553)
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/example/integration_test/get_native_views_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

delete get_native_views_test
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/integration_test/get_native_views_test.dart
Due: patrol

delete get_native_views_test (#1566)
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/integration_test/get_native_views_test.dart
Due: patrol

Update protobuf to 3.0.0
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
Due: patrol

Update grpc to 3.2.3
  packages/patrol/pubspec.yaml
Due: patrol

make Selector.instance work on iOS
  packages/patrol/example/integration_test/internal/tap_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

make `Selector.instance` work for `enterText` on iOS
  packages/patrol/example/integration_test/internal/enter_text_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

cleaning up
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

add 1 sec wait after entering text
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

delete `internal` tests
  packages/patrol/example/integration_test/internal/enter_text_test.dart
  packages/patrol/example/integration_test/internal/tap_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

Make `Selector.instance` work on iOS (#1569)
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

disable duplicated CI run after merge to `master`
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

disable duplicated CI run after merge to `master` (#1573)
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

use Flutter 3.10 everywhere on CI
  .github/workflows/patrol-prepare.yaml
Due: none

use Flutter 3.10 everywhere on CI (#1574)
  .github/workflows/patrol-prepare.yaml
Due: none

Added check of kIsWeb before usage of Platform / dart:io package
  packages/patrol/lib/src/common.dart
Due: patrol

Fixed import order
  packages/patrol/lib/src/common.dart
Due: patrol

Remove finders from patrol package (#999)
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol/example/test/analysis_options.yaml
  packages/patrol/example/test/loading_screen_test.dart
  packages/patrol/example/test/overlay_screen_test.dart
  packages/patrol/example/test/scrolling_screen_test.dart
  packages/patrol/example/test/selector_test.dart
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/custom_finders.dart
  packages/patrol/lib/src/custom_finders/exceptions.dart
  packages/patrol/lib/src/custom_finders/native_patrol_tester.dart
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/lib/src/extensions.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/patrol_finder_test.dart
  packages/patrol/test/patrol_tester_test.dart
  packages/patrol/test/smoke_test.dart
  packages/patrol_finders/lib/src/common.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/utils.dart
  packages/patrol_finders/lib/src/extensions.dart
Due: patrol

Add framePolicy to patrolIntegrationTest
  packages/patrol/lib/src/common.dart
Due: patrol

Move PATROL_WAIT logic to patrol_finders
  packages/patrol/lib/src/common.dart
  packages/patrol_finders/lib/src/common.dart
Due: patrol

Rename methods and use typedef for PatrolIntegrationTester (#999)
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/native_patrol_tester.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_test.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
  packages/patrol_finders/lib/src/common.dart
Due: patrol

Rename file (#999)
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
Due: patrol

Deprecate PatrolTester in patrol package
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
Due: patrol

Store screenshots in device memory (wip))
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/PatrolScreenCaptureProcessor.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/ScreenshotTakingRule.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/ScreenshotUtils.java
Due: patrol

Add basic Marathon files
  packages/patrol/example/Marathondevices
  packages/patrol/example/Marathonfile.android
  packages/patrol/example/Marathonfile.ios
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/build.gradle
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/ios/Podfile.lock
Due: patrol

Use proper context in Runner (#1575) (#1455)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Use proper context in Runner (#1575) (#1455) (#1591)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

patrol_cli: bump version to 2.1.0
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol: bump version to 2.2.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
