Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Update patrol test for at()
  dev/e2e_app/patrol_test/at_finder_test.dart
Due: none

dart format
  dev/e2e_app/patrol_test/at_finder_test.dart
Due: none

Apply review fixes
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Add changelog to patrol_cli
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Resolve coverage packages once per run + dart format
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/test/general/coverage_tool_test.dart
Due: patrol, patrol_cli

Add --coverage-workspace flag for monorepo coverage
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/test/general/coverage_tool_test.dart
Due: patrol, patrol_cli

Fix Xcode 26+ xctestrun DYLD_FRAMEWORK_PATH for simulator builds
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Bump `patrol_log` to 0.9.0
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

chore: Bump patrol_log to 0.9.0
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump patrol_log and finders in patrol and cli
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix type exports and usages so that they show up in generated docs
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
Due: patrol

Bump `patrol_log`
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_mcp/pubspec.lock
Due: patrol, patrol_cli

Add changelog entry
  packages/patrol/CHANGELOG.md
Due: patrol

Bump patrol_log
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Update changelog
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Update CHANGELOG
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Fix focus issues with shown keyboard
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Create regression tests
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

Remove dart:io from finders
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Restore pubspec.yaml to use official packages
  dev/e2e_app/pubspec.yaml
Due: none

Delete redundant web check
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Refactor the e2e test for at()
  dev/e2e_app/lib/at_finder_screen.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/at_finder_test.dart
Due: none

Fix for hidden keyboard
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update regression tests
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

Update comment location in pubspec
  dev/e2e_app/pubspec.yaml
Due: none

Add patrol_cli CHANGELOG entries for #2844 fix and --coverage-workspace
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Bump patrol_finders version
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump patrol_finders in patrol to 3.4.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix: rename vendored HTTPParserC enums to avoid macOS http.h conflicts
  packages/patrol/darwin/Classes/Telegraph/HTTPParserC/http_parser.c
  packages/patrol/darwin/Classes/Telegraph/HTTPParserC/http_parser.h
  packages/patrol/darwin/Classes/Telegraph/Protocols/HTTP/Models/HTTPParser+Raw.swift
Due: patrol

feat: add screen recording and log capture to macOS CI
  .github/workflows/test-macos.yaml
Due: none

fix: update stale comment reference to renamed enum type
  packages/patrol/darwin/Classes/Telegraph/HTTPParserC/http_parser.h
Due: patrol

patrol_mcp: add per-call device parameter to run tool
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
  packages/patrol_mcp/test/build_flag_parts_test.dart
Due: patrol

Implement new method for ios
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/ios_automator_client.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Refactor physical device support in IOSTestBackend to prepare and embed Xcode runtime artifacts for improved compatibility with Xcode 26+
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Adjust fix to also cover physical phones
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Add changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Format file
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
