Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Remove register/unregister workaround from enterText
  packages/patrol/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update .gitignore
  dev/e2e_app/.gitignore
Due: none

Rename textfield test files
  .github/workflows/test-ios-device.yaml
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
Due: none

Use workaround for iOS release
  dev/e2e_app/integration_test/enter_text_test.dart
  dev/e2e_app/lib/login_flow_screen.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Prepare patrol_finders 2.7.1-dev.1 for release
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare patrol 3.15.1-dev.1 for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

test: Extract keys for autofocus_textfield_test.dart and remove redundant steps
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/login_flow_screen.dart
Due: none

chore: Address other CR comments
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

chore: Prepare changelog for patrol and patrol_finders
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

fix: Fix choosing first match in enterText method
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update `http4k` (#2559)
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
Due: patrol

Use tester.testTextInput.reset() in enterText method
  .github/workflows/test-ios-device.yaml
  dev/e2e_app/integration_test/enter_text_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Allow to turn of register textfield workaround in enterText
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

chore: Update gitignore in patrol_finders example
  packages/patrol_finders/example/.gitignore
Due: patrol

chore: Remove widget_tester patch code
  dev/e2e_app/integration_test/text_fields_test.dart
  packages/patrol_finders/lib/src/custom_finders/custom_finders.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
Due: patrol

chore: Prepare patrol_finders 2.7.2 for release
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

chore: Use patrol_finders 2.7.2 in patrol
  packages/patrol/pubspec.yaml
Due: patrol

chore: Bump flutter_bloc dependency in example app
  dev/e2e_app/pubspec.lock
  packages/patrol/example/pubspec.yaml
Due: patrol

chore: Fix bug introduced in latest provider package
  packages/patrol/example/pubspec.yaml
Due: patrol

fix: `$.enterText` method (#2570)
  dev/e2e_app/.gitignore
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/.gitignore
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/lib/src/custom_finders/custom_finders.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

Add ability to quit process and uninstall app using q
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Add entry to changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add changelog entry, refactor logging
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Remove incorrect changelog entry (whoops)
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Update patrol_develop_test.dart
  dev/cli_tests/patrol_develop_test.dart
Due: none

Add ability to quit the `patrol develop` process by pressing q on the keyboard (#2577)
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Attempt to solve issue 2334
  .github/workflows/verify_compatibility.yml
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_comparator.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/src/compatibility_checker/version_compatibility_test.dart
Due: patrol, patrol_cli

Fix warnings and test
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/src/compatibility_checker/version_compatibility_test.dart
Due: patrol, patrol_cli

Add `build-number` and `build-name` flags to build commands and pass them to app options
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Replace resolvedName with an actual name
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/devices.dart
Due: patrol, patrol_cli
