Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Revert "Refactor test entry logging to use currentTestFullName for start status and update related test cases for consistency"
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Bump dart-apitool in sermver workflows
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_log-check-semver.yaml
Due: none

Refactor GitHub workflows for improved organization and clarity.
  .github/WORKFLOWS.md
  .github/workflows/documentation/docs-preview.yaml
  .github/workflows/documentation/docs-production.yaml
  .github/workflows/package-preparation/adb-prepare.yaml
  .github/workflows/package-preparation/patrol-prepare.yaml
  .github/workflows/package-preparation/patrol_cli-prepare.yaml
  .github/workflows/package-preparation/patrol_devtools_extension-prepare.yaml
  .github/workflows/package-preparation/patrol_finders-prepare.yaml
  .github/workflows/package-preparation/patrol_gen-prepare.yaml
  .github/workflows/package-preparation/patrol_log-prepare.yaml
  .github/workflows/package-preparation/prepare-e2e_app.yaml
  .github/workflows/publishing/adb-publish.yaml
  .github/workflows/publishing/patrol-publish.yaml
  .github/workflows/publishing/patrol_cli-publish.yaml
  .github/workflows/publishing/patrol_finders-publish.yaml
  .github/workflows/publishing/patrol_log-publish.yaml
  .github/workflows/semver-check/patrol-check-semver.yaml
  .github/workflows/semver-check/patrol_finders-check-semver.yaml
  .github/workflows/semver-check/patrol_log-check-semver.yaml
  .github/workflows/testing/android/test-android-device.yaml
  .github/workflows/testing/android/test-android-emulator-webview.yaml
  .github/workflows/testing/android/test-android-emulator.yaml
  .github/workflows/testing/android/test-android-locales.yaml
  .github/workflows/testing/ios/test-ios-device.yaml
  .github/workflows/testing/ios/test-ios-locales.yaml
  .github/workflows/testing/ios/test-ios-simulator-webview.yaml
  .github/workflows/testing/ios/test-ios-simulator.yaml
  .github/workflows/testing/other/test-macos.yaml
  .github/workflows/testing/other/test-web.yaml
  .github/workflows/utility/add-to-project.yaml
  .github/workflows/utility/close-inactive-issues.yaml
  .github/workflows/utility/label_pull_request.yaml
  .github/workflows/utility/lock-closed-issues.yaml
  .github/workflows/utility/potential-duplicates.yaml
  .github/workflows/utility/send-slack-message.yaml
  .github/workflows/utility/verify_compatibility.yml
Due: none

Refactor test entry logging to use declared test description for skipped tests and improve handling of test entry closure in PatrolLogReader
  packages/patrol/lib/src/common.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Add new test, and update current
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

reuse adb package, rename patrol mcp endpoints
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol

initial patrol mcp commit
  packages/patrol_mcp/README.md
  packages/patrol_mcp/analysis_options.yaml
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/log_streaming.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol

rewrite mcp to integrate with patrol
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/develop.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol, patrol_cli

undo workaround for ios logs and patrol mcp
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

improve setup readme
  packages/patrol_mcp/README.md
Due: patrol

add changelog, license, align testServerPort, update readme
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/LICENSE
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol

update readme
  packages/patrol_mcp/README.md
Due: patrol

update mcp readme
  packages/patrol_mcp/README.md
Due: patrol

reuse string for developCompletedKey, rename onLogEntry
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/pubspec.lock
Due: patrol, patrol_cli

migrate from run-patrol to PATROL_FLUTTER_COMMAND
  packages/patrol_mcp/README.md
Due: patrol

fix mcp readme
  packages/patrol_mcp/README.md
Due: patrol

fix mcp config paths for Copilot and Antigravity
  packages/patrol_mcp/README.md
Due: patrol

add instructions, update compatibility table
  docs/documentation/compatibility-table.mdx
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

improve testFile description in run tool
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

support global flags (--verbose, --flutter-command) from PATROL_FLAGS in MCP
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_mcp/README.md
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

improve patrol_mcp README clarity and structure
  packages/patrol_mcp/README.md
Due: patrol

fix double finalizer call in develop service
  packages/patrol_cli/lib/src/commands/develop_service.dart
Due: patrol, patrol_cli

use git dependency for patrol_log in patrol_cli
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

call finalizer on quit in develop service
  packages/patrol_cli/lib/src/commands/develop_service.dart
Due: patrol, patrol_cli

fix patrol_log dependency conflict in e2e_app
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol_mcp/README.md
  packages/patrol_mcp/pubspec.lock
Due: patrol

remove patrol_mcp from compatibility table
  docs/documentation/compatibility-table.mdx
  packages/patrol_mcp/README.md
Due: patrol

update lock files after rebase onto master
  dev/e2e_app/pubspec.lock
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_mcp/pubspec.lock
Due: patrol

Fix --exclude flag
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Format file
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

Add test for excluding files in test finder
  packages/patrol_cli/test/general/test_finder_test.dart
Due: patrol, patrol_cli

fix: pass appId
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

fix CI: sort e2e_app dependency_overrides, add patrol_log changelog
  dev/e2e_app/pubspec.yaml
  packages/patrol_log/CHANGELOG.md
Due: patrol

Update CHANGELOG
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add documentation for exclude handling in TestFinder
  packages/patrol_cli/lib/src/test_finder.dart
Due: patrol, patrol_cli

Revert "Merge pull request #2989 from leancodepl/workflows/reorganize-workflows-files"
  .github/WORKFLOWS.md
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/add-to-project.yaml
  .github/workflows/close-inactive-issues.yaml
  .github/workflows/docs-preview.yaml
  .github/workflows/docs-production.yaml
  .github/workflows/label_pull_request.yaml
  .github/workflows/lock-closed-issues.yaml
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_cli-publish.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/potential-duplicates.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-web.yaml
  .github/workflows/verify_compatibility.yml
Due: none

Remove locale testing tag from native tests. Fix workflow
  .github/WORKFLOWS.md
  .github/workflows/test-android-locales.yaml
  dev/e2e_app/patrol_test/native_tests/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/native_tests/service_location_test.dart
Due: none

Update Android locale testing workflow documentation
  .github/WORKFLOWS.md
Due: none

Apply suggestion from @gemini-code-assist[bot]
  .github/WORKFLOWS.md
Due: none

Remove empty tags arrays
  dev/e2e_app/patrol_test/native_tests/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/native_tests/service_location_test.dart
Due: none
