Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Add createAppServiceClient invocation to MainActivityTest in e2e_app setup
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
Due: none

Remove appServerPort from app options across platforms
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Pass test server port to NativeAutomator constructor
  packages/patrol/lib/src/common.dart
Due: patrol

Wrap getting port from arguments in PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Adjust indentation in SwiftPatrolPlugin port retrieval code
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Add steps to docs
  docs/documentation/index.mdx
Due: none

Read log using idevicesyslog in iOS release
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

Remove register/unregister workaround from enterText
  packages/patrol/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Allow to turn of register textfield workaround in enterText
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update http4k
  packages/patrol/android/build.gradle
Due: patrol

Regenerate contracts
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Use tester.testTextInput.reset() in enterText method
  .github/workflows/test-ios-device.yaml
  dev/e2e_app/integration_test/enter_text_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update .gitignore
  dev/e2e_app/.gitignore
Due: none

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Use workaround for iOS release
  dev/e2e_app/integration_test/enter_text_test.dart
  dev/e2e_app/lib/login_flow_screen.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Restore devtools files
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Rename textfield test files
  .github/workflows/test-ios-device.yaml
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
Due: none

Prepare patrol_finders 2.7.1-dev.1 for release
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare patrol 3.15.1-dev.1 for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Regenerate files
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Add warnings and description
  docs/assets/ios_runneruitests_disable_automatic_signing.png
  docs/documentation/index.mdx
Due: none

Add more details
  docs/documentation/index.mdx
Due: none

Shorten warning
  docs/documentation/index.mdx
Due: none

Swap your.organization.app to be consistent with previous bundle ids
  docs/documentation/index.mdx
Due: none

Add step about cert
  docs/documentation/index.mdx
Due: none

remove generate gradle wrapper
  .github/workflows/test-android-emulator.yaml
Due: none

remove gradle cache
  .github/workflows/test-android-emulator.yaml
Due: none

chore: Bump Flutter version in workflows to 3.29.x
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
Due: none

chore: Add .cxx files to .gitignore
  dev/e2e_app/.gitignore
  packages/patrol/example/.gitignore
Due: patrol

chore: Solve lint warnings after bump Flutter to 3.29.x
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol, patrol_cli

chore: Regenerate contracts
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

chore: Bump custom_lint and leancode_lint deps versions
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
  packages/patrol_log/pubspec.yaml
Due: patrol, patrol_cli

chore: Bump Flutter version in cirrusCI workflow
  .cirrus.yml
Due: none

chore: Add entry in changelogs about bumping custom_lint and leancode_lint
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
Due: patrol, patrol_cli

chore: Bump min sdk in devtools extension to 3.6.0
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Bump Flutter version in cirrusCI workflows to 3.29.0
  .cirrus.yml
Due: none
