Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

include bug repro
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
Due: patrol

minors
  .github/workflows/test-ios-simulator.yaml
Due: none

fix
  .github/workflows/test-ios-simulator.yaml
Due: none

apply to all
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

test
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

fix
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

update promo graphics
  README.md
  docs/assets/promo.png
  docs/assets/promo.webp
Due: none

test
  .github/workflows/test-ios-simulator.yaml
Due: none

exit build tests step
  .github/workflows/test-ios-simulator.yaml
Due: none

test with always
  .github/workflows/test-android-emulator.yaml
Due: none

test exit 1
  .github/workflows/test-android-emulator.yaml
Due: none

test
  .github/workflows/test-android-emulator.yaml
Due: none

go
  .github/workflows/test-android-emulator.yaml
Due: none

apply to all
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Fix Slack messages from matrix (#1396)
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/run_android_testlab
Due: patrol

override to webview_flutter_wkwebview: '3.5.0'
  packages/patrol/example/pubspec.yaml
Due: patrol

Add comment with link to issue
  packages/patrol/example/pubspec.yaml
Due: patrol

Override `webview_flutter_wkwebview` version to '3.5.0' (#1415)
  packages/patrol/example/pubspec.yaml
Due: patrol

Add required PR labels
  .cirrus.yml
Due: none

test
  packages/patrol/example/integration_test/common.dart
Due: patrol

test 2
  packages/patrol/example/integration_test/common.dart
  packages/patrol_cli/lib/src/dart_defines_reader.dart
Due: patrol, patrol_cli

Revert "test 2"
  packages/patrol/example/integration_test/common.dart
  packages/patrol_cli/lib/src/dart_defines_reader.dart
Due: patrol, patrol_cli

revert
  packages/patrol/example/integration_test/common.dart
Due: patrol

Add required PR labels to CirrusCI workflows (#1417)
  .cirrus.yml
Due: none

Update advanced.mdx
  docs/native/advanced.mdx
Due: none

add and modify `bs_ios` script
  packages/patrol/example/bs_ios
Due: patrol

Update advanced.mdx (#1418)
  docs/native/advanced.mdx
Due: none

convert Xcode project to use Test Plans
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/TestPlan.xctestplan
Due: patrol

fix webview_stackoverflow_test trying to tap on iOS-only button on Android
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
Due: patrol

fix webview_stackoverflow_test trying to tap on iOS-only button on Android (#1423)
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
Due: patrol

try to wait with Completer until WebView finishes loading - does not work
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/lib/webview_screen.dart
Due: patrol

try workaround with webview warmup (pre-enter) - does not work
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

run $.native.getNativeViews before tapping on webview
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/lib/webview_screen.dart
Due: patrol

start debugging webviews
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
