Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Add entry to patrol_log changelog
  packages/patrol_log/CHANGELOG.md
Due: patrol

Add entry to patrol_log changelog (#2807)
  packages/patrol_log/CHANGELOG.md
Due: patrol

Prepare patrol_finders 3.0.0-dev.1 to release
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare patrol_finders 3.0.0-dev.1 to release (#2808)
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare patrol 4.0.0-dev.1 for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix unit tests
  packages/patrol_cli/test/commands/build_ios_command_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/general/devices_test.dart
Due: patrol, patrol_cli

Prepare patrol 4.0.0-dev.1 for release (#2809)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/build_ios_command_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/general/devices_test.dart
Due: patrol, patrol_cli

Switch to newest OSs available
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
Due: none

Add NSLocalNetworkUsageDescription
  dev/e2e_app/ios/Runner/Info.plist
Due: none

Fix
  dev/e2e_app/ios/Podfile
Due: none

exclude web test
  .github/workflows/test-android-emulator.yaml
Due: none

refactor tests to platform automator
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/camera_features/camera_helpers.dart
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/take_a_photo_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/take_a_photo_test.dart
  dev/e2e_app/patrol_test/example_test.dart
  dev/e2e_app/patrol_test/external_link_test.dart
  dev/e2e_app/patrol_test/internal/group_test.dart
  dev/e2e_app/patrol_test/internal/long_name_test.dart
  dev/e2e_app/patrol_test/mock_location_test.dart
  dev/e2e_app/patrol_test/open_app_test.dart
  dev/e2e_app/patrol_test/open_deep_link_test.dart
  dev/e2e_app/patrol_test/open_quick_settings_test.dart
  dev/e2e_app/patrol_test/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_location_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
  dev/e2e_app/patrol_test/pull_to_refresh_test.dart
  dev/e2e_app/patrol_test/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/service_cellular_test.dart
  dev/e2e_app/patrol_test/service_dark_mode_test.dart
  dev/e2e_app/patrol_test/service_location_test.dart
  dev/e2e_app/patrol_test/service_wifi_test.dart
  dev/e2e_app/patrol_test/swipe_back_test.dart
  dev/e2e_app/patrol_test/swipe_test.dart
  dev/e2e_app/patrol_test/tap_at_test.dart
  dev/e2e_app/patrol_test/volume_test.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_leancode_test.dart
  dev/e2e_app/patrol_test/webview_stackoverflow_test.dart
Due: none

update config, remove BETA marker
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

remove readme
  dev/e2e_app/patrol_test/native_tests/internal/README
Due: none

update docs with optional config
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

Change native to platform in docs
  docs/web.mdx
Due: none

use info section
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

use new line
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

migrate to steps
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

simplify setup steps
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

remove patrol 4.0 ref
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

dart format
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
Due: none

add fallback to ios notfication tap
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

fix tapOnNotificationByIndex on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

remove changelog update
  packages/patrol/CHANGELOG.md
Due: patrol

add changelog entry missed in #2770
  packages/patrol/CHANGELOG.md
Due: patrol

Update ios runner tests
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Fix ios selector unit tests
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Update ios runner tests (#2810)
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Make dartdoc future-proof
  packages/patrol/lib/src/platform/selector.dart
Due: patrol

Rename to PlatformSelector
  packages/patrol/lib/src/platform/selector.dart
Due: patrol

Add an usage to CompoundSelector
  packages/patrol/lib/src/platform/selector.dart
Due: patrol

Add E2E test
  dev/e2e_app/patrol_test/platform_selector_test.dart
Due: none

Use just tap not mobile tap
  dev/e2e_app/patrol_test/platform_selector_test.dart
Due: none

Fix devtools
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol_devtools_extension/lib/api/native_views.dart
  packages/patrol_devtools_extension/lib/api/native_views.g.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
Due: patrol

add try catch to version parsing
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Do not report to patrol_log when calling getNativeViews
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
Due: patrol
