Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Android part done
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

ios done
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

remove redundant try
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

ios done
  packages/patrol/pubspec.yaml
Due: patrol

bump http version
  packages/patrol/pubspec.yaml
Due: patrol

Modify test-macos.yaml to be able to test it
  .github/workflows/test-macos.yaml
Due: none

Setup fastlane for macos
  .github/workflows/test-macos.yaml
  dev/e2e_app/macos/Gemfile
  dev/e2e_app/macos/Gemfile.lock
  dev/e2e_app/macos/Matchfile
  dev/e2e_app/macos/fastlane/Appfile
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Set correct platforms in Fastfile
  dev/e2e_app/ios/fastlane/Fastfile
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Properly define platform in Fastfile for macos
  .github/workflows/test-macos.yaml
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Add macos suffix to Fastfile app id
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Remove macos suffix
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Update Matchfile
  dev/e2e_app/macos/Matchfile
Due: none

Test fixes
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Use wildcard app_identifiers in ios Matchfile
  dev/e2e_app/ios/Matchfile
Due: none

Update entitlements
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/RunnerUITests/Release.entitlements
Due: none

Remove screen recording from macos tests workflow
  .github/workflows/test-macos.yaml
Due: none

Set schedule for running macos tests and increase timeout to 15min
  .github/workflows/test-macos.yaml
Due: none

Fix android and iOS scripts links
  docs/ci/firebase-test-lab.mdx
Due: none

Add macos setup instruction to docs
  docs/assets/macos_deployment_target.png
  docs/assets/macos_deployment_target_2.png
  docs/assets/macos_entitlements.png
  docs/assets/macos_runner_build_phases.png
  docs/getting-started.mdx
Due: none

Fix typo & add more info about entitlements in instruction
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  docs/assets/macos_ui_entitlements.png
  docs/getting-started.mdx
Due: none

Update example test to not fail on macos
  dev/setup_test/integration_test/example_test.dart
  docs/getting-started.mdx
Due: none

Fix bolded text
  docs/getting-started.mdx
Due: none

Fix android and iOS scripts links (#1988)
  docs/ci/firebase-test-lab.mdx
Due: none

Remove example_test.dart from code
  dev/setup_test/integration_test/example_test.dart
Due: none

Describe macOS in feature parity docs page
  docs/getting-started.mdx
  docs/native/feature-parity.mdx
Due: none

Fix formatting
  docs/native/feature-parity.mdx
Due: none

xcodebuild: pass `-only-testing RunnerUITests/RunnerUITests`
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

fix tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

update Podfile.lock
  packages/patrol/example/ios/Podfile.lock
Due: patrol

Patrol CLI: pass more specific `-only-testing` args to `xcodebuild` (#1991)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

update patrol_cli changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

update patrol_cli changelog (#1992)
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

remove debugging aids
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

make selecting individual tests with `xcodebuild -only-testing` work
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

create PatrolTestCaseBase[.h|.m]
  packages/patrol/darwin/Classes/PatrolTestCaseBase.h
  packages/patrol/darwin/Classes/PatrolTestCaseBase.m
Due: patrol

progress with PatrolTestCaseBase[.h|.m]
  packages/patrol/darwin/Classes/PatrolTestCaseBase.h
  packages/patrol/darwin/Classes/PatrolTestCaseBase.m
Due: patrol

Create FAQ draft and add platform sections to patrol doctor output
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

running with `patrol test` works
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolTestCaseBase.h
  packages/patrol/darwin/Classes/PatrolTestCaseBase.m
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol
