Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Fix formatting
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/macos/macos_app_test.dart
  dev/e2e_app/patrol_test/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/patrol_test/web_example_test.dart
Due: none

Update test command in CI workflow to specify target file instead of using tags for web tests
  .github/workflows/test-web.yaml
Due: none

Update documentation; add column for tags
  .github/WORKFLOWS.md
Due: none

Refactor patrol tests to improve readability and add tags for better categorization across various test files.
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/macos/macos_app_test.dart
  dev/e2e_app/patrol_test/overflow_test.dart
  dev/e2e_app/patrol_test/permissions/clear_permissions_test.dart
  dev/e2e_app/patrol_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_location_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
  dev/e2e_app/patrol_test/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/service_cellular_test.dart
  dev/e2e_app/patrol_test/service_wifi_test.dart
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_leancode_test.dart
Due: none

Add longer wait and have variables for coordinates
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Remove duplicated tests from not native_test folder
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_native2_test.dart
  dev/e2e_app/patrol_test/camera_features/take_a_photo_native2_test.dart
  dev/e2e_app/patrol_test/pull_to_refresh_test.dart
  dev/e2e_app/patrol_test/webview_hackernews_test.dart
  dev/e2e_app/patrol_test/webview_leancode_test.dart
Due: none

Update waiting in mock location to avoid race conditions
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Remove not needed excludes
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Refactor test tags for consistency and clarity across various test files, removing unnecessary tags and ensuring proper categorization for better test management.
  dev/e2e_app/patrol_test/android_app_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/pick_multiple_image_from_gallery_test.dart
  dev/e2e_app/patrol_test/camera_features/take_a_photo_test.dart
  dev/e2e_app/patrol_test/permissions/permissions_location_test.dart
  dev/e2e_app/patrol_test/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/service_cellular_test.dart
  dev/e2e_app/patrol_test/service_wifi_test.dart
Due: none

Use BS testInstrumentationRunner
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

Add migration guide link for Patrol 4.0 in documentation
  docs/v4.mdx
Due: none

Update test to make tapping on the instrumented BS biometric dialog work on Android
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/patrol_test/biometric_test.dart
Due: patrol

Add biometric auth with BrowserStack instrumentation test to the example app
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/android/app/src/main/kotlin/pl/leancode/patrol/example/MainActivity.kt
  packages/patrol/example/android/settings.gradle.kts
  packages/patrol/example/ios/Runner/Info.plist
  packages/patrol/example/lib/handlers/biometric_handler.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/biometric/biometric_page.dart
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/patrol_test/biometric_test.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Add GitHub Actions workflow to detect potential duplicate issues
  .github/workflows/potential-duplicates.yaml
Due: none

Add examples and rename page
  docs/meta.json
  docs/native-to-platform-migration.mdx
Due: none

Update migration guide link in documentation to reflect new naming convention for Patrol 4.0
  docs/v4.mdx
Due: none

Fix link to Native to Platform Migration guide in documentation for Patrol 4.0 to align with updated naming conventions.
  docs/v4.mdx
Due: none

Fix mock location test
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Move setmockLocation to different line
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Add pumpAndSettle after setMockLocation
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Correct information about directory
  docs/native-to-platform-migration.mdx
Due: none

Fix code examples
  docs/native-to-platform-migration.mdx
Due: none

Comment out After and Before blocks
  docs/native-to-platform-migration.mdx
Due: none

reuse adb package, rename patrol mcp endpoints
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol

initial patrol mcp commit
  packages/patrol_mcp/README.md
  packages/patrol_mcp/analysis_options.yaml
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/log_streaming.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol

reuse string for developCompletedKey, rename onLogEntry
  dev/e2e_app/pubspec.lock
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/pubspec.lock
Due: patrol, patrol_cli

rewrite mcp to integrate with patrol
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/develop.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/develop_arg_parser.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/pubspec.lock
  packages/patrol_mcp/pubspec.yaml
Due: patrol, patrol_cli

undo workaround for ios logs and patrol mcp
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

add changelog, license, align testServerPort, update readme
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/LICENSE
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/native_tree_service.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol

improve setup readme
  packages/patrol_mcp/README.md
Due: patrol

migrate from run-patrol to PATROL_FLUTTER_COMMAND
  packages/patrol_mcp/README.md
Due: patrol

update readme
  packages/patrol_mcp/README.md
Due: patrol

update mcp readme
  packages/patrol_mcp/README.md
Due: patrol

add instructions, update compatibility table
  docs/documentation/compatibility-table.mdx
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

Update misleading error logging for Android automator
  packages/patrol/lib/src/platform/android/android_automator_native.dart
Due: patrol

Update workflows file, and add missing tags
  .github/WORKFLOWS.md
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
  dev/e2e_app/patrol_test/swipe_back_test.dart
  dev/e2e_app/patrol_test/swipe_test.dart
  dev/e2e_app/patrol_test/tap_at_test.dart
  dev/e2e_app/patrol_test/volume_test.dart
Due: none

Update GitHub Actions workflows to include pull request paths for various packages and exclude markdown files
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  .github/workflows/test-web.yaml
Due: none

Improve mock location method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add missing assertion to mock location test
  dev/e2e_app/patrol_test/mock_location_test.dart
Due: none

Remove comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
