Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Try add automatic codesign
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Prepare patrol 3.12.0 and patrol_cli 3.3.0 for release
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add version requirements to changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Prepare patrol 3.12.0 and patrol_cli 3.3.0 for release (#2392)
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Add logcat method to adb
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Due: none

Add logcat method to adb (#2397)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Due: none

Use new notification tile identifier for iOS 18
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Use new notification tile identifier for iOS 18 (#2394)
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Prepare patrol_log for release
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  packages/patrol_log/.gitignore
  packages/patrol_log/.metadata
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/LICENSE
  packages/patrol_log/README.md
  packages/patrol_log/analysis_options.yaml
  packages/patrol_log/lib/patrol_log.dart
  packages/patrol_log/lib/src/ansi_codes.dart
  packages/patrol_log/lib/src/emojis.dart
  packages/patrol_log/lib/src/entry.dart
  packages/patrol_log/lib/src/entry.g.dart
  packages/patrol_log/lib/src/log_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
  packages/patrol_log/lib/src/patrol_single_test_entry.dart
  packages/patrol_log/lib/src/step_entry.dart
  packages/patrol_log/lib/src/test_entry.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Update analysis_options.yaml
  packages/patrol_log/analysis_options.yaml
Due: patrol

Explain ignore
  packages/patrol_log/lib/src/entry.dart
Due: patrol

Remove steps from patrol_log-prepare.yaml
  .github/workflows/patrol_log-prepare.yaml
Due: none

Add ErrorEntry
  packages/patrol_log/lib/patrol_log.dart
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/entries/error_entry.dart
  packages/patrol_log/lib/src/entries/log_entry.dart
  packages/patrol_log/lib/src/entries/step_entry.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Prepare patrol_log for release (#2398)
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  packages/patrol_log/.gitignore
  packages/patrol_log/.metadata
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/LICENSE
  packages/patrol_log/README.md
  packages/patrol_log/analysis_options.yaml
  packages/patrol_log/lib/patrol_log.dart
  packages/patrol_log/lib/src/ansi_codes.dart
  packages/patrol_log/lib/src/emojis.dart
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/entries/error_entry.dart
  packages/patrol_log/lib/src/entries/log_entry.dart
  packages/patrol_log/lib/src/entries/step_entry.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
  packages/patrol_log/lib/src/patrol_single_test_entry.dart
  packages/patrol_log/pubspec.yaml
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Reset step counter
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Prepare changelog
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

Patrol log reset counter (#2399)
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
Due: patrol

Use patrol_log in PatrolTester
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump feat version of patrol_finders
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

Use patrol_log in PatrolTester (#2400)
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

Add list of failed tests in summary
  packages/patrol_log/lib/src/test_entry.dart
Due: patrol

Log patrol test status in service
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

Change pretty of TestEntry
  packages/patrol_log/lib/src/test_entry.dart
Due: patrol

Add patrol_log package and use it
  dev/e2e_app/integration_test/example_test.dart
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/pubspec.lock
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_log/lib/src/entry.dart
  packages/patrol_log/lib/src/log_entry.dart
  packages/patrol_log/lib/src/step_entry.dart
  packages/patrol_log/lib/src/test_entry.dart
Due: patrol, patrol_cli

Wrap native2 with patrol logs
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Treat process error as detail logs
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Change pretty of StepEntry status
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Treat ios process error as detail logs
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Display test file path in logs
  packages/patrol_log/lib/src/test_entry.dart
Due: patrol

Assign PatrolLogWriter value directly in native
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Prepare logs for patrol develop
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Remove : from StepEntry pretty
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Show flutter logs and test steps with flag
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

Rename printNumber to printIndex and add comment
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Remove unused import
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Create proper report path on android app with flavor
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Change LogEntry pretty
  packages/patrol_log/lib/src/log_entry.dart
Due: patrol

Don't clear lines when flutter logs are enabled
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Use const indentation
  packages/patrol_log/lib/src/entry.dart
  packages/patrol_log/lib/src/log_entry.dart
  packages/patrol_log/lib/src/step_entry.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
