Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Update Patrol CLI's dependencies (#1904)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/logger.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

copy over bs_ios script
  packages/patrol/example/bs_ios
Due: patrol

init testplan and build
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/TestPlan.xctestplan
Due: patrol

Fail example test to run on BS
  packages/patrol/example/bs_ios
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Matchfile
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

update for Flutter 3.16.x
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol/test/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

bump min SDK versions to 3.2
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

CI workflows: use Flutter 3.16.x
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol_devtools_extension/pubspec.lock
Due: patrol

update cirrusCI to use Flutter 3.16.0
  .cirrus.yml
Due: none

update docs of `patrol test` and `patrol build`
  docs/cli-commands/build.mdx
  docs/cli-commands/test.mdx
Due: none

Prepare for Flutter 3.16.x (#1909)
  .cirrus.yml
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol/test/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

replace v2 migration docs with v3 migration docs
  docs.json
  docs/patrol-finders-release.mdx
  docs/v2.mdx
  docs/v3.mdx
Due: none

Update docs for v3 (#1910)
  docs.json
  docs/cli-commands/build.mdx
  docs/cli-commands/test.mdx
  docs/patrol-finders-release.mdx
  docs/v2.mdx
  docs/v3.mdx
Due: none

implement PATROL_NO_COMPLETION
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Remove warning about `patrol_finders` being split from `patrol`
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

update patrol_cli readme
  packages/patrol_cli/README.md
Due: patrol, patrol_cli

update changelogs and populate topics fields
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol, patrol_cli

Fix/cli disable completion (#1911)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/README.md
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 2.3.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_finders: bump version to 2.0.1
  packages/patrol_finders/pubspec.yaml
Due: patrol

Release new versions (#1912)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol, patrol_cli

fix tags in patrol and patrol_cli
  packages/patrol/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol

fix tags in patrol and patrol_cli (#1913)
  packages/patrol/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol

bump to patrol_finders 2.0.1
  packages/patrol/pubspec.yaml
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Release new versions (#1914)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 3.0.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 3.0.2 (#1915)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

add screenshots to all user-facing packages
  packages/patrol/pubspec.yaml
  packages/patrol/screenshots/logo.png
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/screenshots/logo.png
  packages/patrol_finders/pubspec.yaml
  packages/patrol_finders/screenshots/logo.png
Due: patrol, patrol_cli

update pubspecs and changelogs of pkgs
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol, patrol_cli

Add screenshots to `pubspec.yaml` of user-facing packages (#1917)
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol/screenshots/logo.png
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/screenshots/logo.png
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
  packages/patrol_finders/screenshots/logo.png
Due: patrol, patrol_cli

Fix schedule notification on Android 14 phone
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/integration_test/permissions/notifications_test.dart
  packages/patrol/example/lib/notifications_screen.dart
Due: patrol

Create workflow to run tests on Android 14
  .github/workflows/test-android-14-device.yaml
Due: none

add workflow to lock closed issues
  .github/workflows/lock-closed-issues.yaml
Due: none

add workflow to close inactive issues
  .github/workflows/close-inactive-issues.yaml
Due: none

change time to close/lock from 14 to 7 days
  .github/workflows/close-inactive-issues.yaml
  .github/workflows/lock-closed-issues.yaml
Due: none

Set up GitHub Actions to automatically close and lock issues (#1920)
  .github/workflows/close-inactive-issues.yaml
  .github/workflows/lock-closed-issues.yaml
Due: none

Use workaround for checkign permission page & remove additional workflow
  .github/workflows/test-android-14-device.yaml
  .github/workflows/test-android-device.yaml
  packages/patrol/example/integration_test/permissions/notifications_test.dart
Due: patrol

Remove unnecessary device_model array from workflow
  .github/workflows/test-android-device.yaml
Due: none

Revert formatting in AndroidManifest.xml
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
Due: patrol
