Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

improve comment about workaround since Flutter 3.10 on Android (#1393)
  packages/patrol/lib/src/common.dart
Due: patrol

add NativeAutomator.initialize() RPC in contracts.proto
  contracts.proto
Due: none

regenerate contracts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

implement NativeAutomator.initialize() on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

implement NativeAutomator.initialize() in Dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

remove temporary workaround for the bug
  packages/patrol/lib/src/common.dart
Due: patrol

regenerate dart code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

implement NativeAutomator.initialize() on iOS (no-op)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Implement a fix for `SemanticsHandle`s bug on Android (#1395)
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

test
  .github/workflows/test-ios-simulator.yaml
Due: none

dont try to get xcresult if tests arent finished
  .github/workflows/test-ios-simulator.yaml
Due: none

maybe fix
  .github/workflows/test-ios-simulator.yaml
Due: none

maybe this way
  .github/workflows/test-ios-simulator.yaml
Due: none

test ios simulator without collecting logs and screenrecording
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

minor
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Revert "Implement a fix for `SemanticsHandle`s bug on Android (#1395)"
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Revert "Implement a fix for `SemanticsHandle`s bug on Android (#1395)" (#1397)
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

create /dev directory with a readme
  dev/README.md
Due: none

create a full-blown Dart package `cli_tests`, with pubspec and analysis_options
  .cirrus.yml
  .gitignore
  dev/cli_tests/analysis_options.yaml
  dev/cli_tests/patrol_develop_test.dart
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
  packages/patrol/example/pubspec.yaml
Due: patrol

test_linux_task: decrease `cpu` to 4 and `memory` to 6G
  .cirrus.yml
Due: none

test with collecting logs
  .github/workflows/test-ios-simulator.yaml
Due: none

dont send messages
  .github/workflows/test-ios-simulator.yaml
Due: none

record screen
  .github/workflows/test-ios-simulator.yaml
Due: none

Revert "dont send messages"
  .github/workflows/test-ios-simulator.yaml
Due: none

test
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

dont send
  .github/workflows/test-ios-simulator.yaml
Due: none

wip
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

test
  .github/workflows/send-slack-message.yaml
Due: none

Add info about scrollable to view rename
  docs/v2.mdx
Due: none

test
  .cirrus.yml
  dev/cli_tests/patrol_develop_test.dart
Due: none

fix
  .github/workflows/send-slack-message.yaml
Due: none

minor
  .cirrus.yml
  dev/cli_tests/patrol_develop_test.dart
Due: none

increase cores to 6
  .cirrus.yml
Due: none

set EOF
  .github/workflows/send-slack-message.yaml
Due: none
