Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

fix trying to reference non-existent job
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

update changelogs
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Fix trying to reference non-existent job in `*-publish` workflows (#956)
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

add dart-lang/setup-dart action to patrol-publish.yaml
  .github/workflows/patrol-publish.yaml
  packages/patrol/CHANGELOG.md
Due: patrol

add dart-lang/setup-dart action to patrol-publish.yaml (#957)
  .github/workflows/patrol-publish.yaml
  packages/patrol/CHANGELOG.md
Due: patrol

improve Usage section of Native Automation
  docs/native/usage.mdx
Due: none

add warning about non-English lanugage
  docs/native/usage.mdx
Due: none

add videos
  docs/native/usage.mdx
Due: none

Improve native automation docs (#958)
  docs/native/usage.mdx
Due: none

fix `--wait` argument preventing frames from being pumped
  packages/patrol/lib/src/common.dart
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

disable running on Dart&Flutter beta
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Fix `--wait` argument preventing frames from being pumped (#959)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
Due: patrol

clean up notifications_test.dart
  packages/patrol/example/integration_test/notifications_test.dart
Due: patrol

clean up notifications_test.dart (#960)
  packages/patrol/example/integration_test/notifications_test.dart
Due: patrol

Create `contacts_test.dart` in example app
  packages/patrol/example/integration_test/contacts_test.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

remove top-level .vscode directory
  .vscode/launch.json
  .vscode/settings.json
Due: none

redesign NotificationsScreen
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/location_screen.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

implement and use `createApp($)` helper func
  packages/patrol/example/integration_test/android_app_test.dart
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol/example/integration_test/service_airplane_mode_test.dart
  packages/patrol/example/integration_test/service_all_test.dart
  packages/patrol/example/integration_test/service_bluetooth_test.dart
  packages/patrol/example/integration_test/service_cellular_test.dart
  packages/patrol/example/integration_test/service_dark_mode_test.dart
  packages/patrol/example/integration_test/service_wifi_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
Due: patrol

make notification appear heads-up on Android
  packages/patrol/example/lib/notifications_screen.dart
Due: patrol

add info about `--wait` to `patrol test` docs
  docs/cli-commands/test.mdx
Due: none

simplify notification_test.dart
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/lib/notifications_screen.dart
Due: patrol

AutomatorServer: minor naming fixes
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

test android device: always send slack notification
  .github/workflows/test-android-device.yaml
Due: none

rename label_pull_request.yaml
  .github/workflows/label_pull_request.yaml
Due: none

test android emulator: don't stop running tests when one fails
  .github/workflows/test-android-emulator.yaml
Due: none

Send notifications to LeanCode slack about builds (#962)
  .github/workflows/label_pull_request.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

Clean up example app's tests (#961)
  .vscode/launch.json
  .vscode/settings.json
  docs/cli-commands/test.mdx
  packages/patrol/example/integration_test/android_app_test.dart
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol/example/integration_test/service_airplane_mode_test.dart
  packages/patrol/example/integration_test/service_all_test.dart
  packages/patrol/example/integration_test/service_bluetooth_test.dart
  packages/patrol/example/integration_test/service_cellular_test.dart
  packages/patrol/example/integration_test/service_dark_mode_test.dart
  packages/patrol/example/integration_test/service_wifi_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/location_screen.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

fix tapOnNotification() not working on iPad simulator
  packages/patrol/CHANGELOG.md
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

`patrol update`: fix command description
  packages/patrol_cli/lib/src/features/update/update_command.dart
Due: patrol, patrol_cli

print less verbose errors when running on Android
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix tapOnNotification() not working on iPad simulator (#963)
  packages/patrol/CHANGELOG.md
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

use charlie root as dummy user name in docs
  README.md
  docs/finders/overview.mdx
Due: none

use charlie root as dummy user name in docs (#965)
  README.md
  docs/finders/overview.mdx
Due: none

Don't print verbose Gradle output when test fails and `--verbose` is not passed (#964)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/update/update_command.dart
Due: patrol, patrol_cli

fix test-android-emulator workflow (incorrect yaml scalar used)
  .github/workflows/test-android-emulator.yaml
Due: none

fix test-android-emulator workflow (incorrect yaml scalar used) (#966)
  .github/workflows/test-android-emulator.yaml
Due: none

Android Automator: disable showing software keyboard in enterText/enterTextByIndex
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
