Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Update pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol

Update patrol_log_writer.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

version
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

update
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

test
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

update log
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

add exception handler
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

update
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

change rror
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

apply change
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

apply change
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

change
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

base process
  packages/patrol_cli/lib/src/base/process.dart
Due: patrol, patrol_cli

update
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol, patrol_cli

update process
  packages/patrol_cli/lib/src/base/process.dart
Due: patrol, patrol_cli

uninstall
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

bump Gradle
  dev/e2e_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/CHANGELOG.md
  packages/patrol/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/android/gradle/wrapper/gradle-wrapper.properties
Due: patrol

add stopwatch tracing to see what takes most time on startup
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

use Isolate.spawn for checking version (crashes)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Link correct docs
  docs/documentation/integrations/lambdatest.mdx
Due: none

Link correct docs (#2513)
  docs/documentation/integrations/lambdatest.mdx
Due: none

change uninstall
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Bump iOS and macOS deployment target
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
  packages/patrol/darwin/patrol.podspec
  packages/patrol/example/ios/Podfile
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Update packages/patrol/CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Remove additional build phases from e2e_app
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/pubspec.lock
Due: none

Remove build phases from patrol/example
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

Remove adding build phases from setup docs
  docs/documentation/index.mdx
Due: none

Upgrade firebase packages
  packages/patrol/example/.gitignore
  packages/patrol/example/ios/Flutter/AppFrameworkInfo.plist
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner/AppDelegate.swift
  packages/patrol/example/pubspec.yaml
Due: patrol

Bump min android sdk due to firebase_auth requirements
  packages/patrol/example/android/app/build.gradle
Due: patrol

Gracefully handle analytics failing to send
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
Due: patrol, patrol_cli

Remove build_phases from macos setup
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Runner/AppDelegate.swift
  docs/documentation/index.mdx
Due: none

Remove build_phases from patrol/example app
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
Due: patrol

Add missing schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
