Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Correct typo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

Bump Flutter version in cirrusCI workflow
  .cirrus.yml
Due: none

chore: Bump min sdk in patrol, patrol_cli and patrol_devtools_extension
  dev/e2e_app/lib/main.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol, patrol_cli

feat: Introduce check-compatibility flag in cli to allow disabling the compatibility check
  .cirrus.yml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

chore: Use Flutter 3.32.0 in workflows
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

chore: Organize versions and changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bump min Flutter SDK in patrol_gen
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol

Apply code review suggestions
  docs/documentation/native/native2.mdx
Due: none

Prepare patrol 3.16.0 and patrol_cli 3.7.0 for release
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol, patrol_cli

docs: Update Native2 documentation to include new appId parameter for iOS and clarify platform-specific attributes
  docs/documentation/native/native2.mdx
Due: none

test: Adjust compatibility test to new table records
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
Due: patrol, patrol_cli

docs: Update title casing and enhance introduction for Native2 documentation
  docs/documentation/native/native2.mdx
Due: none

docs: Correct minor wording in Native2 documentation for clarity
  docs/documentation/native/native2.mdx
Due: none

Prepare patrol 3.16.0 and patrol_cli 3.7.0 for release (#2654)
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol, patrol_cli

Refine Patrol DevTools Extension documentation by removing outdated sections and adding Flutter inspector usage details.
  docs/documentation/patrol-devtools-extension.mdx
Due: none

Update Patrol DevTools Extension documentation to correct property names and enhance clarity in the troubleshooting section.
  docs/documentation/patrol-devtools-extension.mdx
Due: none

docs: Update Native2 documentation to improve clarity by adjusting headings and formatting for consistency
  docs/documentation/native/native2.mdx
Due: none

docs: Clarify Native2 documentation by emphasizing platform-specific selectors and updating method descriptions
  docs/documentation/native/native2.mdx
Due: none

Update getting started documentation to reflect Firebase Studio instead of IDX
  docs/overview/getting-started.mdx
Due: none

Update getting started documentation to reference Firebase Studio
  docs/overview/getting-started.mdx
Due: none

Rename IDXButton to FirebaseStudioButton and update associated link in getting started documentation
  docs/overview/getting-started.mdx
Due: none

docs: Refine Native2 documentation to clarify selector differences between iOS and Android, and update appId parameter usage
  docs/documentation/native/native2.mdx
Due: none

docs: Enhance Native2 documentation by clarifying selector terminology and emphasizing platform-specific capabilities
  docs/documentation/native/native2.mdx
Due: none

docs: Update Native2 documentation to improve heading consistency and enhance warning visibility
  docs/documentation/native/native2.mdx
Due: none

docs: Update Native2 documentation to replace warning with info block for improved clarity
  docs/documentation/native/native2.mdx
Due: none

Remove >
  docs/documentation/native/native2.mdx
Due: none

Add comment as documentation for macosAutomator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Update native2.mdx
  docs/documentation/native/native2.mdx
Due: none

Fix incorrect parameter
  docs/documentation/native/native2.mdx
Due: none

Implement get OS version for iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Fix copy of takeCameraPhoto method
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Enhance NativeAutomator to differentiate iOS platform handling in takeCameraPhoto method
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Refactor key management in UI components by centralizing key definitions in the Keys class, enhancing maintainability and readability across the application.
  dev/e2e_app/lib/camera_screen.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/permissions_screen.dart
  dev/e2e_app/lib/text_fields_screen.dart
Due: none

Add copyWith method generation to Dart contracts, improving immutability support. Adjusted constructor parameter formatting for better readability.
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  schema.dart
Due: patrol

Introduce native swipe back mimic
  dev/e2e_app/emulatorwtf.yaml
  dev/e2e_app/integration_test/swipe_back_test.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add `build-number` and `build-name` flags to build commands and pass them to app options
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Remove unnecessary package from e2eapp
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Regenerate contracts; fix ports
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Regenerate pubspec.lock
  dev/e2e_app/pubspec.lock
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
