Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Pass test server port to NativeAutomator constructor
  packages/patrol/lib/src/common.dart
Due: patrol

Remove unused PatrolPlugin import in MainActivityTest
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Refactor PatrolServer Swift code formatting
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Wrap getting port from arguments in PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Adjust indentation in SwiftPatrolPlugin port retrieval code
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Format server_port_provider.dart
  packages/patrol/lib/src/server_port_provider.dart
Due: patrol

Move port declarations outside PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Address some of the CR comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Address more CR comments
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/pubspec.yaml
Due: patrol

Add instructions to deactivate, install specific patrol_cli ver to help message
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Add warning to build command when packages are incompatible
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Change title
  docs.json
  docs/documentation/index.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Docs for iOS codesigning (#2571)
  docs.json
  docs/assets/ios_runneruitests_disable_automatic_signing.png
  docs/documentation/index.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Address PR comments
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
Due: patrol, patrol_cli

Add feature guide tab and bluetooth page
  docs.json
  docs/feature-guide/bluetooth.mdx
  docs/feature-guide/index.mdx
Due: none

Remove redirect
  docs/feature-guide/index.mdx
Due: none

Add instructions to deactivate, install specific patrol_cli ver to help message (#2596)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

[patrol_cli]: Add throwToolExit to build commands when packages are incompatible (#2597)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Add introduction page
  docs.json
  docs/feature-guide/introduction.mdx
Due: none

Fix sidebar
  docs.json
Due: none

Add code snippet
  docs/feature-guide/bluetooth.mdx
  docs/feature-guide/index.mdx
  docs/feature-guide/introduction.mdx
Due: none

Add YT video
  docs/feature-guide/bluetooth.mdx
Due: none

Add feature guide tab and bluetooth page (#2600)
  docs.json
  docs/feature-guide/bluetooth.mdx
  docs/feature-guide/index.mdx
  docs/feature-guide/introduction.mdx
Due: none

Add unit tests for formatDuration method
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Make extension on Duration instead of method; remove trim; fix test
  packages/patrol_log/lib/src/duration_extension.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/test/patrol_log_test.dart
Due: patrol

Update changelog to reference test duration formatting change
  packages/patrol_log/CHANGELOG.md
Due: patrol

Enhance duration reporting format in PatrolLogReader
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Mention format duration change in changelog
  packages/patrol_log/CHANGELOG.md
Due: patrol

Fix ANSI color codes
  packages/patrol_log/lib/src/ansi_codes.dart
Due: patrol

Add changelog entry
  packages/patrol_log/CHANGELOG.md
Due: patrol

Introduce native swipe back mimic
  dev/e2e_app/integration_test/swipe_back_test.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Introduce swipeBack to native automator 2
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

remove verificaion if swipe back was successful in test
  dev/e2e_app/integration_test/swipe_back_test.dart
Due: none

Verify if swipe back navigation worked
  dev/e2e_app/integration_test/swipe_back_test.dart
Due: none

Use offset dy rather than height
  dev/e2e_app/integration_test/swipe_back_test.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add steps for iOS
  docs/assets/convert_to_use_test_plans.png
  docs/assets/create_test_plan_from_scheme.png
  docs/assets/edit_scheme.png
  docs/assets/rename_to_testplan.png
  docs/documentation/integrations/browserstack.mdx
Due: none

Move steps for scheduling into accordions
  docs/documentation/integrations/browserstack.mdx
Due: none

Respect BrowserStack
  docs.json
  docs/documentation/integrations/browserstack.mdx
  docs/integrations/browserstack.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
Due: patrol

Bump emulatorwtf devices api version to 33
  dev/e2e_app/emulatorwtf.yaml
Due: none

Prepare multiple tests to run on marathon cloud
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/marathon_ios
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
