Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Update workflow and docs
  .github/WORKFLOWS.md
  .github/workflows/test-flutter-main.yaml
Due: none

Update Flutter main channel testing workflow to run weekly on Tuesday and always create a PR with test results. Adjust documentation to reflect these changes.
  .github/WORKFLOWS.md
  .github/workflows/test-flutter-main.yaml
Due: none

Reduce timeout
  .github/workflows/test-flutter-main.yaml
Due: none

Move docs to Other platform testing
  .github/WORKFLOWS.md
Due: none

Enhance macOS testing workflow by integrating xcresultparser for JUnit report generation
  .github/WORKFLOWS.md
  .github/workflows/test-macos.yaml
Due: none

fix: Fix passing locale to web tests
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

fix: Pass locale to web test workflow
  .github/workflows/test-web.yaml
Due: none

Set 1 worker for web tests on CI
  .github/workflows/test-web.yaml
Due: none

fix: Web tests workflow (#3004)
  .github/workflows/test-web.yaml
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

feat: Unblock patrol develop on web
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: forward PATROL_LOG entries from web to MCP in develop mode
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add Patrol MCP documentation page and update README
  docs/articles/index.mdx
  docs/documentation/other/meta.json
  docs/documentation/other/patrol-mcp.mdx
  packages/patrol_mcp/README.md
  packages/patrol_mcp/pubspec.yaml
Due: patrol

feat: add web screenshot support via CDP in MCP
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
  packages/patrol_mcp/lib/src/screenshot_service.dart
Due: patrol, patrol_cli

chore: add Claude Code AI skills for patrol test writing
  packages/patrol/.claude/skills/patrol-tests-leancode/SKILL.md
  packages/patrol/.claude/skills/patrol-tests/SKILL.md
Due: patrol

fix: add timeout to npm/playwright install in web test backend
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

fix: address PR review comments in patrol-tests-leancode skill
  packages/patrol/.claude/skills/patrol-tests-leancode/SKILL.md
Due: patrol

feat: Rewrite patrol develop on web to do cold start on each restart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

feat: surface test failure details in MCP status output
  packages/patrol_cli/lib/patrol_cli.dart
  packages/patrol_mcp/lib/src/patrol_session.dart
Due: patrol, patrol_cli

Switch to Flutter 3.35.x in web test workflow
  .github/workflows/test-web.yaml
Due: none

Bump patrol_mcp to 0.1.3 with patrol_cli 4.3.1
  docs/documentation/other/patrol-mcp.mdx
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/README.md
  packages/patrol_mcp/bin/patrol_mcp.dart
  packages/patrol_mcp/pubspec.yaml
Due: patrol

Add Patrol MCP announcement page
  docs/meta.json
  docs/patrol-mcp-announcement.mdx
Due: none

Fix Slack notification for patrol_mcp releases
  .github/workflows/patrol_mcp-publish.yaml
Due: none

double newline
  .github/workflows/patrol_mcp-publish.yaml
Due: none

move AI rules to root
  .claude/skills/patrol-tests-leancode/SKILL.md
  .claude/skills/patrol-tests/SKILL.md
Due: none

rename rules with architecture
  .claude/skills/patrol-tests-architecture/SKILL.md
Due: none

feat: Solve lint warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add native iOS project support for add-to-app setups
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Add support for native Android project paths in add-to-app setups
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Enhance Android and iOS test backends to always run `flutter build --config-only` in add-to-app mode, ensuring correct Dart entrypoint configuration for Patrol test bundles.
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

adapt axe api to boht platforms
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/pubspec.lock
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/AxeBridge.h
  packages/patrol/darwin/Classes/AutomatorServer/Automator/AxeBridge.m
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  schema.dart
Due: patrol

remove aaditional methods
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  schema.dart
Due: patrol

Align Patrol test rules across Claude skills and Cursor rules
  .cursor/rules/patrol-test-with-architecture/patrol-test-keys.mdc
  .cursor/rules/patrol-test-with-architecture/patrol-tests.mdc
  .cursor/rules/patrol-test/patrol-tests.mdc
Due: none

fix glob patterns
  .cursor/rules/patrol-test-with-architecture/patrol-test-keys.mdc
  .cursor/rules/patrol-test-with-architecture/patrol-tests.mdc
  .cursor/rules/patrol-test/patrol-tests.mdc
Due: none
