Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

comment out code that (maybe) breaks docs.page???
  docs.json
  docs/v2.mdx
Due: none

why u broken
  docs/getting-started/getting-started.mdx
  docs/v2.mdx
Due: none

works - bring back commented-out content
  docs/v2.mdx
Due: none

the fix works, clean up
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Investigation of test failures on Flutter 3.10 on Android (#1352)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
Due: patrol

nothing!
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

patrol: bump version to 1.1.5
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Release patrol v1.1.5 (#1371)
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/pubspec.yaml
Due: patrol

Backport changes from `master` into `develop` (#1372)
  CODEOWNERS
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/README.md
Due: patrol, patrol_cli

patrol: bump dev version to 2.0.0-dev.5
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump dev version to 2.0.0-dev.5 (#1373)
  packages/patrol/pubspec.yaml
Due: patrol

Deprecate andSettle and introduce settleBehavior
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Add simple implementation of pumpAndMaybeSettle
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Update packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Fix typo
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Adjust description
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Wording change
  docs/finders/advanced.mdx
Due: none

Apply review suggestions
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Fix typo
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
Due: patrol

Fix tests
  packages/patrol/example/test/loading_screen_test.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Add a section in docs about try settle
  docs/finders/advanced.mdx
Due: none

Add tests to pumpAndMaybeSettle
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Update packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
Due: patrol

add a check that verifies that the default settle timeout passes
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Adjust pumpAndMaybeSettle descriptipn
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Handle deprecation warnings
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

rewrite finders/advanced.mdx a bit
  docs/finders/advanced.mdx
Due: none

Remove unnecessary pumping in tests
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Rename SettleBehavior to SettlePolicy and maybe to try
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Small changes to docs
  docs/finders/advanced.mdx
Due: none

More docs updates (#1367)
  docs.json
  docs/getting-started/getting-started.mdx
  docs/tips-and-tricks.mdx
  docs/v2.mdx
Due: none

Feature/maybe settle (#1285)
  docs/finders/advanced.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/test/loading_screen_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Due: patrol

Adjust docs chapter about scrollTo
  docs/finders/advanced.mdx
Due: none

Update docs for scrolling methods
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_finder_test.dart
Due: patrol

Bump test_api
  packages/patrol/pubspec.yaml
Due: patrol

Rework scroll until visible methods to be more versatile
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
