Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Keep web_runner inside patrol_cli
  packages/patrol/example/web_runner/.gitignore
  packages/patrol/example/web_runner/README.md
  packages/patrol/example/web_runner/package-lock.json
  packages/patrol/example/web_runner/package.json
  packages/patrol/example/web_runner/playwright.config.ts
  packages/patrol/example/web_runner/tests/patrol.spec.ts
  packages/patrol/example/web_runner/tests/patrolNativeRequests.ts
  packages/patrol/example/web_runner/tests/setup.ts
  packages/patrol/example/web_runner/tests/teardown.ts
  packages/patrol/example/web_runner/tests/types.ts
  packages/patrol/example/web_runner/tsconfig.json
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/web_runner/patrol.develop.ts
Due: patrol, patrol_cli

Bump playwright to 1.55.1
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
Due: patrol

Ignore test results html
  packages/patrol/example/web_runner/.gitignore
  packages/patrol/example/web_runner/playwright-report/index.html
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Do not check playwright global
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Do not open html report
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Test cdp connection
  packages/patrol/web_runner/patrol.develop.ts
Due: patrol

Implement patrol test -d chrome
  packages/patrol/example/.metadata
  packages/patrol/example/web/favicon.png
  packages/patrol/example/web/icons/Icon-192.png
  packages/patrol/example/web/icons/Icon-512.png
  packages/patrol/example/web/icons/Icon-maskable-192.png
  packages/patrol/example/web/icons/Icon-maskable-512.png
  packages/patrol/example/web/index.html
  packages/patrol/example/web/manifest.json
  packages/patrol/example/web/test/widget_test.dart
  packages/patrol/example/web_runner/.gitignore
  packages/patrol/example/web_runner/README.md
  packages/patrol/example/web_runner/package-lock.json
  packages/patrol/example/web_runner/package.json
  packages/patrol/example/web_runner/playwright-report/index.html
  packages/patrol/example/web_runner/playwright.config.ts
  packages/patrol/example/web_runner/tests/patrol.spec.ts
  packages/patrol/example/web_runner/tests/patrolNativeRequests.ts
  packages/patrol/example/web_runner/tests/setup.ts
  packages/patrol/example/web_runner/tests/teardown.ts
  packages/patrol/example/web_runner/tests/types.ts
  packages/patrol/example/web_runner/tsconfig.json
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/web_runner/.gitignore
  packages/patrol_cli/web_runner/README.md
  packages/patrol_cli/web_runner/package-lock.json
  packages/patrol_cli/web_runner/package.json
  packages/patrol_cli/web_runner/playwright.config.ts
  packages/patrol_cli/web_runner/tests/patrol.spec.ts
  packages/patrol_cli/web_runner/tests/patrolNativeRequests.ts
  packages/patrol_cli/web_runner/tests/setup.ts
  packages/patrol_cli/web_runner/tests/teardown.ts
  packages/patrol_cli/web_runner/tests/types.ts
  packages/patrol_cli/web_runner/tsconfig.json
Due: patrol, patrol_cli

Patrol Web native interactions
  dev/web_mvp/README.md
  dev/web_mvp/run.js
  dev/web_mvp/test_poc.sh
  packages/patrol/devtools_options.yaml
  packages/patrol/example/devtools_options.yaml
  packages/patrol/example/patrol_test/example_test.dart
  packages/patrol/example/patrol_test/main_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/patrol_app_service_web.dart
Due: patrol

Increase timeout on waiting for runDartTest
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/patrol.spec.ts
Due: patrol

Initial working version
  dev/e2e_app/pubspec.lock
  dev/web_mvp/README.md
  dev/web_mvp/run.js
  dev_docs/patrol_web_runner_design.md
  package-lock.json
  package.json
  packages/patrol/example/patrol_test/example_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/native_automator_web.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/lib/src/native/patrol_app_service_io.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
Due: patrol

Move web_runner to package patrol
  packages/patrol/web_runner/.gitignore
  packages/patrol/web_runner/README.md
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/patrol.develop.ts
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/patrol.spec.ts
  packages/patrol/web_runner/tests/patrolNativeRequests.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/teardown.ts
  packages/patrol/web_runner/tests/types.ts
  packages/patrol/web_runner/tsconfig.json
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Place test run results among tested app files
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/web_runner/playwright.config.ts
Due: patrol, patrol_cli

Create develop script for web
  packages/patrol/example/web_runner/README.md
  packages/patrol/example/web_runner/package.json
  packages/patrol/example/web_runner/tests/patrol.develop.ts
Due: patrol

Migrate to actual playwright test
  dev/web_mvp/.gitignore
  dev/web_mvp/README.md
  dev/web_mvp/package-lock.json
  dev/web_mvp/package.json
  dev/web_mvp/playwright.config.ts
  dev/web_mvp/run.js
  dev/web_mvp/tests/patrol.spec.ts
  dev/web_mvp/tests/patrolNativeRequests.ts
  dev/web_mvp/tests/setup.ts
  dev/web_mvp/tests/teardown.ts
  dev/web_mvp/tests/types.ts
  dev/web_mvp/tsconfig.json
Due: none

Generate test report in json
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Create multiple test reports
  packages/patrol/example/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Prepare web develop infrastructure
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/.gitignore
  dev/e2e_app/patrol_test/common.dart
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_io.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/patrol.develop.ts
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/patrol.spec.ts
  packages/patrol/web_runner/tests/patrolNativeRequests.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

Do not pass ports when patrol test on web
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Remove echo mode change
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Remove JSON channel and communicate with JS side directly
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/build.yaml
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/teardown.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add stdin flags only when has terminal
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Get fresh package-lock
  packages/patrol/web_runner/package-lock.json
Due: patrol

Increase timeout in patrol_cli for web tests execution
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Increase timeout in playwright config
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Bump playwright to 1.56.0
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
Due: patrol

Add playwright log reader
  packages/patrol/lib/src/native/native_automator_web.dart
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

Fix patrol test
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/tests.json
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix web initalisation sequence
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/tests/develop.spec.ts
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/tests.json
  packages/patrol/web_runner/tests/types.ts
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Rearrange web_runner actions
  packages/patrol/web_runner/tests/actions/disableDarkMode.ts
  packages/patrol/web_runner/tests/actions/enableDarkMode.ts
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
Due: patrol

Fix web_runner types exports
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Add eslint and prettier to web_runner
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/web_runner/eslint.config.js
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/prettier.config.js
Due: patrol

Apply lint rules and formatting web_runner, Add .nvmrc, Improve logging
  packages/patrol/web_runner/.nvmrc
  packages/patrol/web_runner/README.md
  packages/patrol/web_runner/eslint.config.js
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol/web_runner/prettier.config.js
  packages/patrol/web_runner/tests/actions/disableDarkMode.ts
  packages/patrol/web_runner/tests/actions/enableDarkMode.ts
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/develop.ts
  packages/patrol/web_runner/tests/initialise.ts
  packages/patrol/web_runner/tests/logger.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/setup.ts
  packages/patrol/web_runner/tests/test.spec.ts
  packages/patrol/web_runner/tests/types.ts
Due: patrol

Bump version of macos
  .github/workflows/patrol-prepare.yaml
Due: none

Add WebSelector, Add placeholders for all web actions, Add permissions test
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/clearPermissions.ts
  packages/patrol/web_runner/tests/actions/disableDarkMode.ts
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
  packages/patrol/web_runner/tests/actions/todo/acceptDialog.ts
  packages/patrol/web_runner/tests/actions/todo/addCookie.ts
  packages/patrol/web_runner/tests/actions/todo/clearCookies.ts
  packages/patrol/web_runner/tests/actions/todo/dismissDialog.ts
  packages/patrol/web_runner/tests/actions/todo/enterText.ts
  packages/patrol/web_runner/tests/actions/todo/getClipboard.ts
  packages/patrol/web_runner/tests/actions/todo/getCookies.ts
  packages/patrol/web_runner/tests/actions/todo/getDialogMessage.ts
  packages/patrol/web_runner/tests/actions/todo/goBack.ts
  packages/patrol/web_runner/tests/actions/todo/goForward.ts
  packages/patrol/web_runner/tests/actions/todo/pressKey.ts
  packages/patrol/web_runner/tests/actions/todo/pressKeyCombo.ts
  packages/patrol/web_runner/tests/actions/todo/scrollTo.ts
  packages/patrol/web_runner/tests/actions/todo/setClipboard.ts
  packages/patrol/web_runner/tests/actions/todo/tap.ts
  packages/patrol/web_runner/tests/actions/todo/uploadFile.ts
  packages/patrol/web_runner/tests/actions/todo/waitForDownload.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/parseWebSelector.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Add handling patrol version as path
  packages/patrol_cli/lib/src/pubspec_reader.dart
Due: patrol, patrol_cli

add excludes packaging
  packages/patrol/android/build.gradle
Due: patrol

add more excludes
  packages/patrol/android/build.gradle
Due: patrol

Handle cookies, clipboard, navigation actions
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/addCookie.ts
  packages/patrol/web_runner/tests/actions/clearCookies.ts
  packages/patrol/web_runner/tests/actions/getClipboard.ts
  packages/patrol/web_runner/tests/actions/getCookies.ts
  packages/patrol/web_runner/tests/actions/goBack.ts
  packages/patrol/web_runner/tests/actions/goForward.ts
  packages/patrol/web_runner/tests/actions/setClipboard.ts
  packages/patrol/web_runner/tests/actions/todo/addCookie.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/parseWebSelector.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
