Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  branches: null

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

remove commented-out code
  packages/patrol/android/build.gradle
Due: patrol

Migrate to lite protobuf (#688)
  contracts.proto
  gen_protobufs
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
Due: patrol

clean up gen_protobufs
  gen_protobufs
Due: none

patrol: bump version to 0.10.4
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Release patrol 0.10.4 (#689)
  gen_protobufs
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

standarize headings
  docs.json
  docs/ci.md
  docs/cli-commands/bootstrap.mdx
  docs/comparison.mdx
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/effective-patrol.mdx
  docs/getting-started.mdx
  docs/native/feature-parity.mdx
  docs/native/getting-started.mdx
  docs/native/overview.mdx
  docs/native/setup.mdx
  docs/tips-and-tricks.mdx
Due: none

standarize headings (#690)
  docs.json
  docs/ci.md
  docs/cli-commands/bootstrap.mdx
  docs/comparison.mdx
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/effective-patrol.mdx
  docs/getting-started.mdx
  docs/native/feature-parity.mdx
  docs/native/getting-started.mdx
  docs/native/overview.mdx
  docs/native/setup.mdx
  docs/tips-and-tricks.mdx
Due: none

start writing docs on running Patrol tests natively
  docs/assets/android_test_results_as.png
  docs/assets/android_test_results_firebase.png
  docs/assets/android_test_results_gradle.png
  docs/assets/ios_run_test.png
  docs/assets/ios_test_results_xcode.png
  docs/assets/ios_test_results_xcpretty.png
  docs/ci.md
  docs/ci.mdx
  packages/patrol/example/testlab_android
Due: patrol

elaborate intro
  docs/ci.mdx
Due: none

start writing docs on running Patrol tests natively (#691)
  docs/assets/android_test_results_as.png
  docs/assets/android_test_results_firebase.png
  docs/assets/android_test_results_gradle.png
  docs/assets/ios_run_test.png
  docs/assets/ios_test_results_xcode.png
  docs/assets/ios_test_results_xcpretty.png
  docs/ci.md
  docs/ci.mdx
  packages/patrol/example/testlab_android
Due: patrol

fix small typo in Effective Patrol
  docs/effective-patrol.mdx
Due: none

fix small typo in Effective Patrol (#692)
  docs/effective-patrol.mdx
Due: none

Docs/patrol next (#694)
  docs/ci.mdx
Due: none

don't call `flutter build` unnecessarily
  packages/patrol/example/testlab_android
Due: patrol

rename and refactor
  packages/patrol/example/run_android_testlab
  packages/patrol/example/run_ios_local
  packages/patrol/example/run_ios_testlab
  packages/patrol/example/testlab_ios
Due: patrol

update run_ios and testlab_ios scripts (#696)
  packages/patrol/example/run_android_testlab
  packages/patrol/example/run_ios
  packages/patrol/example/run_ios_local
  packages/patrol/example/run_ios_testlab
Due: patrol

start writing docs for running patrol tests on FTL
  docs/ci.mdx
Due: none

add link to shellscript
  docs/ci.mdx
Due: none

add docs for running on Firebase Test Lab on iOS
  docs/assets/ios_runner_build_phases.png
  docs/assets/ios_runner_configs.png
  docs/ci.mdx
  packages/patrol/example/run_ios_testlab
Due: patrol

refine
  docs/ci.mdx
Due: none

Add docs explaining how to run tests on Firebase Test Lab (#697)
  docs/assets/ios_runner_build_phases.png
  docs/assets/ios_runner_configs.png
  docs/ci.mdx
  packages/patrol/example/run_ios_testlab
Due: patrol

PatrolBinding: improve docs for the method channel
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolBinding: improve docs for the method channel (#698)
  packages/patrol/lib/src/binding.dart
Due: patrol

add bundled all_services_test.dart
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/features/services/all_services_test.dart
Due: patrol

add docs on test bundling
  docs/tips-and-tricks.mdx
Due: none

Create a demo on how to bundle tests (#699)
  docs/tips-and-tricks.mdx
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/features/services/all_services_test.dart
Due: patrol

reformat markdown code
  packages/patrol/lib/src/binding.dart
Due: patrol

PatrolBinding: print PATROL_TEST_LABEL in attachRootWidget()
  packages/patrol/lib/src/binding.dart
Due: patrol

CLI: embed current test name in apk
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
Due: patrol, patrol_cli

remove redundant logs
  packages/patrol/lib/src/binding.dart
Due: patrol

add support for --no-display-label flag
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.freezed.dart
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/flutter_tool_test.dart
Due: patrol, patrol_cli

Display test name over the running app (#701)
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.freezed.dart
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/flutter_tool_test.dart
Due: patrol, patrol_cli

patrol: bump version to 0.10.5
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 0.8.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release patrol v0.10.5, patrol_cli v0.8.1 (#702)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Tips & Tricks: fix broken links
  docs/tips-and-tricks.mdx
Due: none

Tips & Tricks: fix broken links (#703)
  docs/tips-and-tricks.mdx
Due: none

create automator-android example app
  automator-android/.gitignore
  automator-android/app/.gitignore
  automator-android/app/build.gradle
  automator-android/app/proguard-rules.pro
  automator-android/app/src/androidTest/java/pl/leancode/patrol/automator/example/ExampleInstrumentedTest.kt
  automator-android/app/src/main/AndroidManifest.xml
  automator-android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  automator-android/app/src/main/res/drawable/ic_launcher_background.xml
  automator-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  automator-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  automator-android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  automator-android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  automator-android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  automator-android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  automator-android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  automator-android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  automator-android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  automator-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  automator-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  automator-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  automator-android/app/src/main/res/values-night/themes.xml
  automator-android/app/src/main/res/values/colors.xml
  automator-android/app/src/main/res/values/strings.xml
  automator-android/app/src/main/res/values/themes.xml
  automator-android/app/src/main/res/xml/backup_rules.xml
  automator-android/app/src/main/res/xml/data_extraction_rules.xml
  automator-android/app/src/test/java/pl/leancode/patrol/automator/example/ExampleUnitTest.kt
  automator-android/build.gradle
  automator-android/gradle.properties
  automator-android/gradle/wrapper/gradle-wrapper.jar
  automator-android/gradle/wrapper/gradle-wrapper.properties
  automator-android/gradlew
  automator-android/gradlew.bat
  automator-android/settings.gradle
Due: none

create automator library
  automator-android/automator/.gitignore
  automator-android/automator/build.gradle
  automator-android/automator/consumer-rules.pro
  automator-android/automator/proguard-rules.pro
  automator-android/automator/src/androidTest/java/pl/leancode/patrol/automator/ExampleInstrumentedTest.kt
  automator-android/automator/src/main/AndroidManifest.xml
  automator-android/automator/src/test/java/pl/leancode/patrol/automator/ExampleUnitTest.kt
  automator-android/gradle/wrapper/gradle-wrapper.properties
  automator-android/settings.gradle
Due: none

copy code and add dependencies to automator library
  automator-android/automator/build.gradle
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/ContractsExtensions.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/Logger.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/LoggerInterceptor.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/NativeAutomatorServer.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/PatrolAutomator.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/PatrolException.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/PatrolServer.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/PatrolTestRule.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/ConfigureRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/Contracts.java
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/ContractsGrpcKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/ContractsKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/DarkModeRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/EmptyKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/EnterTextRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/GetNativeViewsRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/GetNativeViewsResponseKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/GetNotificationsRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/GetNotificationsResponseKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/HandlePermissionRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/NativeAutomatorGrpc.java
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/NativeViewKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/NotificationKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/OpenAppRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/OpenQuickSettingsRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/PermissionDialogVisibleRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/PermissionDialogVisibleResponseKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/SelectorKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/SetLocationAccuracyRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/SubmitTestResultsRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/SwipeRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/TapOnNotificationRequestKt.kt
  automator-android/automator/src/main/java/pl/leancode/patrol/automator/contracts/TapRequestKt.kt
Due: none
