Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

try sending some data with analytics
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

clean up code to please dart analyzer
  packages/patrol/lib/src/binding.dart
Due: patrol

SwiftPatrolPlugin: format to please swift-format
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
Due: patrol

embed Flutter version in analytics events
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

refactor sending event logic a bit
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

use `package:ci` to detect if running on a CI system
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

move `_generateRequestBody()` to `Analytics` class
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

also log OS version and locale
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

also log flutter channel
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

remove the big comment that is not needed
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

remove one nesting level too deep?
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

replace measurementId and apiSecret to a GA project owned by LeanCode
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Improve Google Analytics in CLI (#1182)
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Rewrite native test reporting to be simpler and consistent across platforms (#1178)
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestRunner.kt
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.4
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol: bump version to 1.0.9
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Release patrol_cli v1.1.4, patrol v1.0.9 (#1185)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix package:adb tests
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/adb/test/adb_test.dart
Due: none

fix package:adb tests (#1196)
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/adb/test/adb_test.dart
Due: none

use 3.7.x instead of 3.7.10 for flutter version
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

fix new lint info
  packages/patrol_cli/lib/src/base/extensions/command_runner.dart
Due: patrol, patrol_cli

remove wrong color in sending slack message action
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
Due: none

bump to leancode_lint v3
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

enable testing on flutter beta
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

disable testing on flutter beata
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Chore/bump leancode lint (#1195)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/base/extensions/command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

don't ask for collecting analytics if running on CI
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

don't ask for collecting analytics if running on CI (#1197)
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.5
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.5 (#1198)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

default to "Yes" when asking for telemetry
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

default to "Yes" when asking for telemetry (#1201)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.6
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.6 (#1202)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

'drag' replaced with 'timedDrag' for scroll functions
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

patrol: bump version to 1.1.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 1.1.0 (#1208)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

replace link to YouTube video showing Hot Restart in action
  docs/cli-commands/develop.mdx
Due: none

replace link to YouTube video showing Hot Restart in action (#1209)
  docs/cli-commands/develop.mdx
Due: none

Pass deviceId to `flutter attach` process
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
