Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  branches: null

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

try to fix problems that might be caused by incorrect caching
  .github/workflows/integration-test-android.yaml
Due: none

try to fix problems that might be caused by incorrect caching (#761)
  .github/workflows/integration-test-android.yaml
Due: none

change reports and results output location
  .github/workflows/integration-test-android.yaml
  packages/patrol/example/android/.gitignore
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/integration_test/bundled_test.dart
Due: patrol

disable test that opens Google Maps app
  .github/workflows/integration-test-android.yaml
Due: none

ios CI: run dark_mode_test.dart
  .github/workflows/integration-test-ios.yaml
Due: none

Try to fix Android flakiness (#762)
  .github/workflows/integration-test-android.yaml
  .github/workflows/integration-test-ios.yaml
  packages/patrol/example/android/.gitignore
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/integration_test/bundled_test.dart
Due: patrol

log stacktrace on unknown error
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LoggerInterceptor.kt
Due: patrol

log stacktrace on unknown error (#763)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LoggerInterceptor.kt
Due: patrol

enable permissions test
  .github/workflows/integration-test-ios.yaml
Due: none

enable permissions test (#764)
  .github/workflows/integration-test-ios.yaml
Due: none

enable notifications test
  .github/workflows/integration-test-ios.yaml
Due: none

enable notifications test (#766)
  .github/workflows/integration-test-ios.yaml
Due: none

run emulator with data wiped
  .github/workflows/integration-test-android.yaml
Due: none

run emulator with data wiped (#767)
  .github/workflows/integration-test-android.yaml
Due: none

fix notifications tests on iOS
  packages/patrol/example/integration_test/features/notifications/notifications_single_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

fix notifications tests on iOS (#768)
  packages/patrol/example/integration_test/features/notifications/notifications_single_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

also run on iOS
  .github/workflows/integration-test-ios.yaml
Due: none

also run on iOS (#769)
  .github/workflows/integration-test-ios.yaml
Due: none

print result in runAction()
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

print result in runAction() (#770)
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

increase timeout to 5s
  packages/patrol/example/integration_test/features/permissions/permissions_test.dart
Due: patrol

increase timeout to 5s (#771)
  packages/patrol/example/integration_test/features/permissions/permissions_test.dart
Due: patrol

adding testlab-android.yaml workflow
  .github/workflows/testlab-android.yaml
Due: none

first version of testlab-android.yaml
  .github/workflows/testlab-android.yaml
Due: none

Run example app's tests on Firebase Test Lab (#772)
  .github/workflows/testlab-android.yaml
Due: none

add testlab-ios
  .github/workflows/integration-test-ios.yaml
  .github/workflows/testlab-ios.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

add testlab-ios (#773)
  .github/workflows/integration-test-ios.yaml
  .github/workflows/testlab-ios.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

fix minor CI issues
  .github/workflows/testlab-android.yaml
  .github/workflows/testlab-ios.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

fix minor CI issues (#774)
  .github/workflows/testlab-android.yaml
  .github/workflows/testlab-ios.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

remove `header` and `footer` from codecov comment layout
  codecov.yaml
Due: none

remove `header` and `footer` from codecov comment layout (#775)
  codecov.yaml
Due: none

delete code coverage - it is badly setup and annoying
  codecov.yaml
Due: none

delete code coverage - it is badly setup and annoying (#776)
  codecov.yaml
Due: none

disable uploading code coverage
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

disable uploading code coverage (#777)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

add LoggingLocalProcessManager
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/logging_local_process_manager.dart
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
Due: patrol, patrol_cli

plug AndroidTestRunner into TestCommand
  packages/patrol_cli/lib/src/features/test/android_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Due: patrol, patrol_cli

convert FIXMEs to TODOs (they are not important enough)
  packages/patrol_cli/lib/src/features/test/ios_test_runner.dart
Due: patrol, patrol_cli

add dummy impl of test command
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/android_test_driver.dart
  packages/patrol_cli/lib/src/features/test/ios_test_driver.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
Due: patrol, patrol_cli
