Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add node to web doctor
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

Add npm check to patrol doctor
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

Increase timeout in patrol_cli for web tests execution
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Handle file upload
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/patrol_test/web_example_test.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/todo/uploadFile.ts
  packages/patrol/web_runner/tests/actions/uploadFile.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Rename doctor web
  packages/patrol_cli/lib/src/commands/doctor.dart
Due: patrol, patrol_cli

Add WebSelector, Add placeholders for all web actions, Add permissions test
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/lib/src/native/patrol_app_service_web.dart
  packages/patrol/web_runner/package-lock.json
  packages/patrol/web_runner/package.json
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/clearPermissions.ts
  packages/patrol/web_runner/tests/actions/disableDarkMode.ts
  packages/patrol/web_runner/tests/actions/grantPermissions.ts
  packages/patrol/web_runner/tests/actions/todo/acceptDialog.ts
  packages/patrol/web_runner/tests/actions/todo/addCookie.ts
  packages/patrol/web_runner/tests/actions/todo/clearCookies.ts
  packages/patrol/web_runner/tests/actions/todo/dismissDialog.ts
  packages/patrol/web_runner/tests/actions/todo/enterText.ts
  packages/patrol/web_runner/tests/actions/todo/getClipboard.ts
  packages/patrol/web_runner/tests/actions/todo/getCookies.ts
  packages/patrol/web_runner/tests/actions/todo/getDialogMessage.ts
  packages/patrol/web_runner/tests/actions/todo/goBack.ts
  packages/patrol/web_runner/tests/actions/todo/goForward.ts
  packages/patrol/web_runner/tests/actions/todo/pressKey.ts
  packages/patrol/web_runner/tests/actions/todo/pressKeyCombo.ts
  packages/patrol/web_runner/tests/actions/todo/scrollTo.ts
  packages/patrol/web_runner/tests/actions/todo/setClipboard.ts
  packages/patrol/web_runner/tests/actions/todo/tap.ts
  packages/patrol/web_runner/tests/actions/todo/uploadFile.ts
  packages/patrol/web_runner/tests/actions/todo/waitForDownload.ts
  packages/patrol/web_runner/tests/contracts.ts
  packages/patrol/web_runner/tests/parseWebSelector.ts
  packages/patrol/web_runner/tests/patrolPlatformHandler.ts
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Revert main_test.dart changes
  packages/patrol/example/patrol_test/main_test.dart
Due: patrol

Clean up null handling
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Handle resize action
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/native_automator2_web.dart
  packages/patrol/web_runner/tests/actions.ts
  packages/patrol/web_runner/tests/actions/resizeWindow.ts
  packages/patrol/web_runner/tests/contracts.ts
Due: patrol

Fix web logger
  packages/patrol/web_runner/tests/test.spec.ts
Due: patrol

Create basic platform automator infrastructure
  gen_from_schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_config.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.dart
  packages/patrol/lib/src/platform/android/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/android/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/android/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/android/empty_android_automator.dart
  packages/patrol/lib/src/platform/android/native_android_automator.dart
  packages/patrol/lib/src/platform/android/schema.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.dart
  packages/patrol/lib/src/platform/web/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/web/contracts/native_automator_client.dart
  packages/patrol/lib/src/platform/web/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol/lib/src/platform/web/schema.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_generator.dart
Due: patrol, patrol_cli

Fix android native automator issues
  dev/e2e_app/android/build/reports/problems/problems-report.html
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/AndroidAutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/MobileAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_server_generator.dart
  schema.dart
Due: patrol

Try fix ios native implementation
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/ios_automator_client.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Bring back IOSSelector.toNSPredicate method
  dev/e2e_app/ios/Podfile.lock
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Rename patrol app service web
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
Due: patrol

Fix iOS platform code
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
Due: patrol

Remove problems report
  dev/e2e_app/android/.gitignore
  dev/e2e_app/android/build/reports/problems/problems-report.html
Due: none

Fix openPlatformApp
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/AndroidAutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/MobileAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/IosAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/android_automator_client.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/ios_automator_client.dart
  packages/patrol/lib/src/platform/contracts/mobile_automator_client.dart
  packages/patrol/lib/src/platform/ios/ios_automator.dart
  packages/patrol/lib/src/platform/ios/ios_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
  schema_old.dart
Due: patrol

Fix web upload and download actions
  packages/patrol/lib/src/platform/web/upload_file_data.dart
  packages/patrol/web_runner/tests/actions/startTest.ts
Due: patrol

Use Size for resizeWindow
  dev/e2e_app/patrol_test/web_example_test.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
Due: patrol

Remove redundant web flavor warning
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Use package config for finding web runner path
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Fix ios automator server openPlatformApp
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Fix android automator server openPlatformApp
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update code docs
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/lib/src/platform/selector.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol/lib/src/platform/web/web_automator.dart
  packages/patrol/lib/src/platform/web/web_automator_config.dart
  packages/patrol/lib/src/platform/web/web_automator_native.dart
  packages/patrol/lib/src/platform/web/web_selector.dart
Due: patrol

Add docs for patrol web
  docs.json
  docs/cli-commands/test.mdx
  docs/getting-started.mdx
  docs/supported-platforms.mdx
  docs/web.mdx
Due: none

Replace native2 with platform in web docs
  docs/web.mdx
Due: none

bump AGP to 8.10 in example and e2e apps
  dev/e2e_app/android/settings.gradle.kts
  packages/patrol/example/android/settings.gradle.kts
Due: patrol

bump minSdk in example app
  packages/patrol/example/android/app/build.gradle.kts
Due: patrol

fix analyzer warnings in e2e_app
  dev/e2e_app/lib/camera_screen.dart
  dev/e2e_app/lib/loading_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/notifications_screen.dart
  dev/e2e_app/lib/permissions_screen.dart
  dev/e2e_app/lib/scrolling_screen.dart
  dev/e2e_app/lib/text_fields_screen.dart
Due: none

Fix formatting
  dev/e2e_app/patrol_test/autofocus_textfield_test.dart
Due: none

Add fallback PlatformAutomatorConfig inside patrolTest
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Add fallback PlatformAutomatorConfig inside patrolTest (#2795)
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Update web json options to include quotes
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Handle sharding and fully parallel on web
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Remove web offline option
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Add web test workflow
  .github/workflows/test-web.yaml
Due: none

Handle headless
  .github/workflows/test-web.yaml
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
