Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Remove unused button
  dev/e2e_app/lib/camera_screen.dart
Due: none

Add readme for devtools extension
  packages/patrol_devtools_extension/README.md
Due: patrol

Update .gitignore to include devtools extension directory
  packages/patrol/.gitignore
Due: patrol

Use indetifiers instead of labels
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Use native2
  dev/e2e_app/integration_test/take_a_photo_test.dart
Due: none

fix: Do not pass flavor as dart-define when building
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bump Flutter version to 3.32.0 in workflows
  .cirrus.yml
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Update tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Remove unnecessary const keyword
  dev/e2e_app/lib/main.dart
Due: none

chore: Prepare changelog
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

chore: Bump vm_service version to 15.0.0 in devtools package
  packages/patrol_devtools_extension/pubspec.lock
Due: patrol

Add pickPhotoFromGallery method to native2
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add 3rd button on camera screen for picking multiple photos
  dev/e2e_app/lib/camera_screen.dart
Due: none

Add test for new method
  dev/e2e_app/integration_test/pick_photo_from_gallery_test.dart
Due: none

chore: Adjust unit tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Update image preview key and add key for selected photos count in camera screen
  dev/e2e_app/lib/camera_screen.dart
Due: none

chore: Bump jni version and add graph showing port arguments flow
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  dev_docs/patrol_port_arguments_flow.md
  packages/patrol/lib/src/server_port/android_server_port_provider_bindings.dart
  packages/patrol/pubspec.yaml
Due: patrol

fix: Fix custom runner with new ports flow
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

feat: Deprecate port in NativeAutomatorConfig
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

fix: Remove all occurences of deprecated port field
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

WIP test for pick multiple photos
  dev/e2e_app/integration_test/pick_multiple_photos_from_gallery_test.dart
Due: none

Add contracts for isSimulator and deviceInfo
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Temporary disabled check for updates
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Revert "Add contracts for isSimulator and deviceInfo"
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Implement isSimulator() for nativeAutomator
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Enhance NativeAutomator2 with isSimulator() method and update photo selection logic for iOS simulators
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Implement pickMultiplePhotosFromGallery method in NativeAutomator2
  dev/e2e_app/integration_test/pick_multiple_photos_from_gallery_test.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Simplify and fix pickPhotoFromGallery method
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Refactor photo selection methods to use 'image' terminology instead of 'photo' in tests and NativeAutomator2 class
  dev/e2e_app/integration_test/pick_multiple_photos_from_gallery_test.dart
  dev/e2e_app/integration_test/pick_photo_from_gallery_test.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Add integration tests for picking images from gallery and taking a photo
  dev/e2e_app/integration_test/camera_features/pick_multiple_photos_from_gallery_test.dart
  dev/e2e_app/integration_test/camera_features/pick_photo_from_gallery_test.dart
  dev/e2e_app/integration_test/camera_features/take_a_photo_test.dart
Due: none

Fix isSimulator for android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update .gitignore to remove unnecessary extension directory
  packages/patrol/.gitignore
Due: patrol

Fix kotlin formatting issues
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Execute flutter build --config-only with --debug mode
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Prepare patrol and patrol_cli for dev release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

docs: Update compatibility table
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
Due: none

Bump patrol_cli version to 3.6.1-dev.1
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Prepare patrol 3.16.1-dev.1 to release
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
Due: patrol, patrol_cli

Refactor getNativeViews method to return a list of native views directly and update takeCameraPhoto method to handle different Android camera apps based on simulator status.
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Enhance simulator detection in AutomatorServer by adding support for additional emulator models and hardware configurations.
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
