Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Use correct AndroidManifest.xml
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
Due: patrol

Add EOL to AndroidManifest.xml
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
Due: patrol

Add missing try in Automator.swift
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/macos/Classes/AutomatorServer/Automator.swift
Due: patrol

dev/cli_tests: remove and gitignore pubspec.lock
  dev/cli_tests/.gitignore
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
Due: none

add scroll to feature parity table
  docs/native/feature-parity.mdx
Due: none

schema.dart: add `appId` to `SwipeRequest` and regenerate
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/pubspec.yaml
  schema.dart
Due: patrol

implement swipe natively and in dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

update swipe_test
  packages/patrol/example/integration_test/swipe_test.dart
Due: patrol

remove `swipe_test` from excluded tests on iOS
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

fix code formatting
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

patrol-prepare workflow: dont exit as soon as swift-format or clang-format exit with != 0
  .github/workflows/patrol-prepare.yaml
Due: none

Implement `$.native.swipe()` on iOS (#1927)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  dev/cli_tests/.gitignore
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
  docs/native/feature-parity.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
  schema.dart
Due: patrol

patrol: bump version to 3.0.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 3.0.3 (#1928)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix more conflicts that were not detected by git
  melos.yaml
  packages/patrol/example/integration_test/internal/callbacks_all_test.dart
  packages/patrol/example/integration_test/internal/callbacks_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_gen/.gitignore
  packages/patrol_gen/pubspec.lock
Due: patrol

fix CLI unit tests
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
Due: patrol, patrol_cli

PatrolCommandRunner: remove unnecessary check for dev versions
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

cli_tests/patrol_develop_test: lower timeout from 4min to 2min
  dev/cli_tests/patrol_develop_test.dart
Due: none

Adjust macos implementation to new API
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/RunnerUITests/RunnerUITests.m
  packages/patrol/macos/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/macos/Classes/AutomatorServer/Contracts.swift
  packages/patrol/macos/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/macos/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/macos/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/ios/macos_client_generator.dart
  packages/patrol_gen/lib/src/generators/ios/macos_generator.dart
  packages/patrol_gen/lib/src/patrol_gen.dart
Due: patrol

add workflow to manage proritized issues
  .github/workflows/add-to-project.yaml
Due: none

Use listTestsFlat method to get macos tests
  packages/patrol/macos/Classes/ObjCPatrolAppServiceClient.swift
Due: patrol

Change macos_client_generator to match new API
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/macos/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/ios/macos_client_generator.dart
Due: patrol

Reorganize generator files
  packages/patrol_gen/lib/src/generators/macos/macos_client_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_flying_fox_server_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_generator.dart
  packages/patrol_gen/lib/src/patrol_gen.dart
Due: patrol

Fix open_app_test on macos
  packages/patrol/example/integration_test/open_app_test.dart
Due: patrol

Format ObjCPatrolAppServiceClient.swift
  packages/patrol/macos/Classes/ObjCPatrolAppServiceClient.swift
Due: patrol

Remove macro from RunnerUITests.m
  packages/patrol/example/macos/RunnerUITests/RunnerUITests.m
Due: patrol

Fix formatting in macos_client_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_client_generator.dart
Due: patrol

fix usages of deprecated members in docs
  README.md
  docs/effective-patrol.mdx
  docs/getting-started.mdx
  docs/native/advanced.mdx
  docs/native/overview.mdx
  packages/patrol/README.md
Due: patrol

fix usages of deprecated members in docs (#1933)
  README.md
  docs/effective-patrol.mdx
  docs/getting-started.mdx
  docs/native/advanced.mdx
  docs/native/overview.mdx
  packages/patrol/README.md
Due: patrol

add workflow to manage proritized issues (#1931)
  .github/workflows/add-to-project.yaml
Due: none

ios done
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

revert the workaround for https://github.com/flutter/devtools/issues/6719
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

ios done
  packages/patrol/pubspec.yaml
Due: patrol

Remove workarounds for macos from tests
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/permissions/notifications_test.dart
Due: patrol

Create macos_app_test for flutter interactions
  packages/patrol/example/integration_test/macos_app_test.dart
  packages/patrol/example/lib/keys.dart
  packages/patrol/example/lib/scrolling_screen.dart
Due: patrol

push
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/lib/main.dart
Due: patrol

Fix test
  packages/patrol/example/integration_test/example_test.dart
Due: patrol

remove redundant try
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

bump Kotlin version to 1.9.20 in example apps
  packages/patrol/android/build.gradle
  packages/patrol_finders/example/android/build.gradle
Due: patrol

Update bs_ios
  packages/patrol/example/bs_ios
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
