Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Refactor localization string retrieval in Localization.swift to improve error handling and fallback logic.
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
Due: patrol

Bump leancode_lint, min dart and patrol_log
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bump patrol dependencies
  packages/patrol/CHANGELOG.md
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

Resolve analyzer issues
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Update version compatibility
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
Due: patrol, patrol_cli

Update compatibility tables
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
Due: none

Apply dart fix for patrol directory
  packages/patrol/example/lib/firebase_options.dart
  packages/patrol/example/lib/pages/push_notification/notification_success_page.dart
  packages/patrol/example/lib/pages/quiz/question_page.dart
  packages/patrol/example/lib/ui/components/button/elevated_button.dart
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

Fix analyze issues in patrol directory
  packages/patrol/example/lib/handlers/notification_handler.dart
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Remove not needed LocaleResponse; Fix methods to handle null from localization class
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Remove test_api from patrol/example
  packages/patrol/example/pubspec.yaml
Due: patrol

Ignore FirebaseOptions obvious type
  packages/patrol/example/lib/firebase_options.dart
Due: patrol

Fix unit tests on windows
  packages/patrol_cli/test/commands/patrol_build_android_test.dart
  packages/patrol_cli/test/commands/patrol_build_ios_test.dart
Due: patrol, patrol_cli

Refactor APK path handling in unit tests to use platform-appropriate separators
  packages/patrol_cli/test/commands/patrol_android_build_test.dart
Due: patrol, patrol_cli

Remove unused getLocale method from AutomatorServer to streamline codebase
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Disable pull request trigger for iOS locales testing workflow due to issues with FTL physical devices
  .github/workflows/test-ios-locales.yaml
Due: none

refactor: Update Fastfile to use local git_private_key variable for match configuration
  dev/e2e_app/ios/fastlane/Fastfile
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

chore: Add MATCH_GIT_PRIVATE_KEY to macOS test workflow for certificate management
  .github/workflows/test-macos.yaml
Due: none

Try to remove platform from matchfile
  dev/e2e_app/macos/Matchfile
Due: none

chore: Add platform specification for macOS in Matchfile
  dev/e2e_app/macos/Matchfile
Due: none

Format files
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/lib/cubit/auth_cubit.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/google_sign_in/profile_page.dart
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/lib/pages/push_notification/notification_success_page.dart
  packages/patrol/example/lib/pages/quiz/form_page.dart
  packages/patrol/example/lib/pages/quiz/question_page.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/ui/components/button/elevated_button.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol/example/lib/ui/components/text_field.dart
  packages/patrol/example/lib/ui/widgets/logos_hero.dart
  packages/patrol/example/lib/ui/widgets/utils.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/contracts/patrol_app_service_server.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/test/internals_test.dart
Due: patrol

Update devtools contracts
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Update example in e2e_app, to match flutter 3.32
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Format contracts
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Format e2e_app
  dev/e2e_app/integration_test/camera_features/camera_helpers.dart
  dev/e2e_app/integration_test/example_test.dart
  dev/e2e_app/integration_test/mock_location_test.dart
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/pull_to_refresh_test.dart
  dev/e2e_app/integration_test/swipe_back_test.dart
  dev/e2e_app/integration_test/tap_at_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
  dev/e2e_app/lib/camera_screen.dart
  dev/e2e_app/lib/loading_screen.dart
  dev/e2e_app/lib/location_screen.dart
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/map_screen.dart
  dev/e2e_app/lib/notifications_screen.dart
  dev/e2e_app/lib/overflow_screen.dart
  dev/e2e_app/lib/overlay_screen.dart
  dev/e2e_app/lib/permissions_screen.dart
  dev/e2e_app/lib/text_fields_screen.dart
Due: none

Bump dart in root directory, used in gen_from_schema
  pubspec.yaml
Due: none

Update patrol_devtools_extension
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Update devtools
  gen_from_schema
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/android_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/native_view_node.dart
  packages/patrol_devtools_extension/pubspec.lock
Due: patrol

Format files in devtools
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/lib/main.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_hierarchy.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/android_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/ios_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/native_view_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/widgets/header_decoration.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Use consts for String.fromEnvironment
  dev/e2e_app/lib/main.dart
Due: none

Change consts
  dev/e2e_app/lib/main.dart
Due: none

Format main
  dev/e2e_app/lib/main.dart
Due: none

chore: Add note to readme to explain branch purpose
  README.md
Due: none

chore: Rebase tests branch to latest master
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  scripts/flutter_test_repo_test.bat
  scripts/flutter_test_repo_test.sh
Due: patrol, patrol_cli

Fix grammar and format contributing guide
  CONTRIBUTING.md
Due: none

Add comment to clarify purpose of duplicated permission denial in integration test
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
Due: none

Fix grammar in comment regarding test failure on physical device
  dev/e2e_app/integration_test/permissions/notifications_test.dart
Due: none

Skip test on iOS simulator due to limitations
  dev/e2e_app/integration_test/service_airplane_mode_test.dart
Due: none

Update test condition to skip on iOS simulator for Bluetooth integration test
  dev/e2e_app/integration_test/service_bluetooth_test.dart
Due: none

Add TODO comment for future tag handling in Bluetooth integration test
  dev/e2e_app/integration_test/service_bluetooth_test.dart
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
