Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

write tests for the new feature
  packages/patrol/test/patrol_finder_test.dart
Due: patrol

attempt to fix PatrolFinder.which() - take parent finder into account
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
Due: patrol

print current entrypoint when Hot Restarting
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

FlutterTool: minor logging improvements to make the video loook better
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

fix bug in docs
  docs/tips-and-tricks.mdx
Due: none

Fix broken link in the docs (#1156)
  docs/tips-and-tricks.mdx
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

remove mention of running tests from Xcode, which is unsupported
  docs/ci/platforms.mdx
  docs/native/setup.mdx
Due: none

remove mention of running tests from Xcode, which is unsupported (#1158)
  docs/ci/platforms.mdx
  docs/native/setup.mdx
Due: none

add analytics with `package:usage`
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

start over with `unified_analytics
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

use UA analytics ID (package:usage does not support GA4)
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

add dummy trackingId, send simple analytics event on `test` and `develop`
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

improve analytics request prompt
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

add Analytics to most commands
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/devices.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

ask for tracking permission on first run
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/update_test.dart
Due: patrol, patrol_cli

restart without package:usage
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

made it work with GA4
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

implement persistence of analytics config
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

remove commented-out code
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

fix tests by creating a MockAnalytics
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/commands/update_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

Add Google Analytics support for docs
  docs.json
Due: none

format code
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
Due: patrol, patrol_cli

stop depending on `package:unified_analytics`
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

fix command names of `build_ios` and `build_android` in analytics
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
Due: patrol, patrol_cli

rename `sendEvent` to `sendCommand`
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

Implement basic, solely event-based analytics (#1157)
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/devices.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/commands/update_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

add test_ios_task
  .cirrus.yml
Due: none

fix tests not starting on iOS simulator
  .cirrus.yml
Due: none

fix more failures on iOS
  .cirrus.yml
Due: none

fix excludes not being applied
  .cirrus.yml
Due: none

IOSAppOptions: use device UDID as destination specifier to be more deterministic
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

permissions_*_test.dart: use `pumpAndSettle()` after permission is granted to counter flakiness
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
Due: patrol

use CIRRUS_ENV
  .cirrus.yml
Due: none

delete `clean_up_test.dart`
  packages/patrol/example/integration_test/clean_up_test.dart
Due: patrol

increase RAM to 6G
  .cirrus.yml
Due: none

decrease RAM to 4G
  .cirrus.yml
Due: none

use `google_apis` emulator image instead of `default`
  .cirrus.yml
Due: none

add initial Cirrus CI config file
  .cirrus.yml
Due: none

try to fix location in iOS simulator
  .cirrus.yml
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
