Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Remove unused gradle wrapper script generation from Cirrus CI configuration
  .cirrus.yml
Due: none

Enhance Codemagic CI/CD documentation by clarifying its mobile focus, updating recommendations for running patrol tests, and emphasizing the use of dedicated device farms for better performance.
  docs/ci/platforms.mdx
Due: none

Update CHANGELOG.md to correct race condition reference for gradlew generation (#2678)
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

chore: Add note to readme to explain branch purpose
  README.md
Due: none

chore: Rebase tests branch to latest master
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  scripts/flutter_test_repo_test.bat
  scripts/flutter_test_repo_test.sh
Due: patrol, patrol_cli

Bump leancode_analytics
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

Update changelog
  packages/patrol_log/CHANGELOG.md
Due: patrol

Bump leancode_analytics in patrol_finders
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump leancode_analytics in patrol_cli
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Bump leancode_analytics in patrol, adb adn examples
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/pubspec.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

Update changelog
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Update CHANGELOG.md to fix formatting issues and include recent changes for version 3.8.0
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Update CHANGELOG.md to include unreleased changes and fix formatting issues
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Wait for gradle wrapper process to finished
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

Add printing path to test files after patrol android build
  packages/patrol_cli/lib/src/commands/build_android.dart
Due: patrol, patrol_cli

Fix `patrol build` to print paths to APKs in the changelog.
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add deploy key for fastlane match authorization
  .github/workflows/test-ios-device.yaml
Due: none

Replace git_basic_authorization with git_private_key in Fastfile for match authorization
  dev/e2e_app/ios/fastlane/Fastfile
Due: none

Remove git_authorization variable from Fastfile to streamline configuration
  dev/e2e_app/ios/fastlane/Fastfile
Due: none

Update Fastfile to use environment variable for MATCH_GIT_PRIVATE_KEY
  dev/e2e_app/ios/fastlane/Fastfile
Due: none

Update Matchfile to use SSH URL for git repository
  dev/e2e_app/ios/Matchfile
  dev/e2e_app/macos/fastlane/Fastfile
Due: none

Update url
  dev/e2e_app/ios/Matchfile
Due: none

Update Matchfile to use SSH URL for git repository
  dev/e2e_app/macos/Matchfile
Due: none

Bump min dart to 3.8.0 in patrol_log
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

Apply dart fix
  packages/patrol_log/lib/src/ansi_codes.dart
  packages/patrol_log/lib/src/emojis.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Reformat code
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/entries/entry.dart
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/entries/error_entry.dart
  packages/patrol_log/lib/src/entries/log_entry.dart
  packages/patrol_log/lib/src/entries/step_entry.dart
  packages/patrol_log/lib/src/entries/test_entry.dart
  packages/patrol_log/lib/src/entries/warning_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/lib/src/patrol_log_writer.dart
Due: patrol

Bump min dart and flutter
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/lib/loading_screen.dart
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/src/constants.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_finders/test/smoke_test.dart
  packages/patrol_finders/test/utils/text_fields_screen.dart
Due: patrol

Format files
  packages/patrol_finders/example/lib/loading_screen.dart
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/example/lib/overlay_screen.dart
  packages/patrol_finders/example/lib/scrolling_screen.dart
  packages/patrol_finders/lib/src/common.dart
  packages/patrol_finders/lib/src/custom_finders/exceptions.dart
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/utils/long_screen_with_partially_visible_widget.dart
  packages/patrol_finders/test/utils/screen_with_partially_visible_widget.dart
Due: patrol

Bump leancode lint and dart in adb
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Due: none

Change PR number in changelog
  packages/adb/CHANGELOG.md
Due: none

Bump dart version in workflow
  .github/workflows/adb-prepare.yaml
Due: none

Fix analyzer and format
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/adb/test/adb_forward_list_test.dart
Due: none

Revert "Bump leancode_analytics in patrol_cli"
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix formatting in iOS test workflow by correcting the placement of a comma in the test list
  .github/workflows/test-ios-device.yaml
Due: none

Remove unused notification cell identifiers from Localizable.strings files across multiple languages.
  packages/patrol/darwin/Resources/de.lproj/Localizable.strings
  packages/patrol/darwin/Resources/en.lproj/Localizable.strings
  packages/patrol/darwin/Resources/fr.lproj/Localizable.strings
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol

Remove not used translation from iOS files
  packages/patrol/darwin/Resources/de.lproj/Localizable.strings
  packages/patrol/darwin/Resources/en.lproj/Localizable.strings
  packages/patrol/darwin/Resources/fr.lproj/Localizable.strings
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol
