Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Kill the whole process tree when a develop session quits
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest_generator.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/test/base/process_test.dart
  packages/patrol_cli/test/commands/develop_service_test.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

Keep a failed terminal restore out of the cleanup result
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

fix(patrol_cli): guard every completion of the attach and logs waits
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

fix(patrol_cli): keep an expected develop failure out of the bug report path
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

refactor(patrol_cli): one reporter for both watched processes
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

docs: relate Marathon to build-time test discovery
  docs/documentation/integrations/marathon.mdx
Due: none

fix(bs-coverage): forceCompile dart-define, loud missing-JaCoCo warning, cross-shard pull-coverage merge
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/lib/src/bs_coverage.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/bs_pull_coverage.dart
Due: patrol, patrol_cli

fix(bs-coverage): serve multiple Dart tests from one app service (Path A)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/test/patrol_app_service_test.dart
Due: patrol

feat(bs-coverage): persist Dart LCOV across orchestrator-driven test runs
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackCoverage.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/bs_pull_coverage.dart
  packages/patrol_cli/lib/src/coverage/bs_coverage_splitter.dart
  packages/patrol_cli/test/general/bs_coverage_splitter_test.dart
Due: patrol, patrol_cli

fix(bs-coverage): write coverage file to app-internal storage, not shared
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackCoverage.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

fix(bs-coverage): require clearPackageData:false, fail fast when it's on
  docs/documentation/integrations/browserstack.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackCoverage.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/lib/src/bs_coverage.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/bs_pull_coverage.dart
  packages/patrol_cli/lib/src/coverage/bs_build_check.dart
  packages/patrol_cli/test/general/bs_build_check_test.dart
Due: patrol, patrol_cli

fix(patrol_cli): attach by Patrol's own log stream on a flavored iOS simulator
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/commands/develop_service_test.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

fix(ko): match exact iOS 26 Korean system wording
  dev/e2e_app/.gitignore
  dev/e2e_app/patrol_test/korean_screens_test.dart
  packages/patrol/darwin/patrol/Sources/PatrolImpl/Resources/ko.lproj/Localizable.strings
  screenshots/ko/ios_camera_dialog.png
  screenshots/ko/ios_developer_dark_appearance.png
  screenshots/ko/ios_location_dialog.png
  screenshots/ko/ios_microphone_dialog.png
  screenshots/ko/ios_notification_open.png
  screenshots/ko/ios_photos_dialog.png
Due: patrol

fix(patrol_cli): don't crash patrol develop when stdin modes can't be changed
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

fix(ko): correct use_location to match actual Android Settings text
  dev/e2e_app/patrol_test/settings_pane_capture_test.dart
  packages/patrol/android/src/main/res/values-ko/strings_ko.xml
  screenshots/ko/android_airplane_mode.png
  screenshots/ko/android_use_location.png
  screenshots/ko/ios_delete_app_dialog.png
  screenshots/ko/ios_delete_confirm.png
  screenshots/ko/ios_remove_app_menu.png
Due: patrol

Fix unused shown name in internals test
  packages/patrol/test/internals_test.dart
Due: patrol

fix(ko): correct dark mode strings; add screenshot evidence
  packages/patrol/darwin/patrol/Sources/PatrolImpl/Resources/ko.lproj/Localizable.strings
  screenshots/ko/ios_display_brightness_real_device.png
  screenshots/ko/ios_precise_on_web.png
Due: patrol

chore: remove test tooling and screenshots from PR
  dev/e2e_app/.gitignore
  dev/e2e_app/patrol_test/korean_screens_test.dart
  dev/e2e_app/patrol_test/settings_pane_capture_test.dart
  screenshots/ko/android_airplane_mode.png
  screenshots/ko/android_use_location.png
  screenshots/ko/ios_camera_dialog.png
  screenshots/ko/ios_delete_app_dialog.png
  screenshots/ko/ios_delete_confirm.png
  screenshots/ko/ios_developer_dark_appearance.png
  screenshots/ko/ios_display_brightness_real_device.png
  screenshots/ko/ios_location_dialog.png
  screenshots/ko/ios_microphone_dialog.png
  screenshots/ko/ios_notification_open.png
  screenshots/ko/ios_photos_dialog.png
  screenshots/ko/ios_precise_on_web.png
  screenshots/ko/ios_remove_app_menu.png
Due: none

fix(patrol_cli): make patrol develop terminal handling robust
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

docs(bs-coverage): document PATROL_BS_COVERAGE_FORCE_COMPILE
  docs/documentation/integrations/browserstack.mdx
Due: none

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix(bs-coverage): stop losing Dart coverage on session kill; merge LCOVs on device
  docs/documentation/integrations/browserstack.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackCoverage.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/BrowserStackCoverageTest.kt
  packages/patrol/lib/src/bs_coverage.dart
Due: patrol

perf(bs-coverage): pay the force-compile once per process, not once per test
  docs/documentation/integrations/browserstack.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/bs_coverage.dart
Due: patrol

feat(bs-coverage): log collection time and library-filter scope
  packages/patrol/lib/src/bs_coverage.dart
Due: patrol

fix(patrol_cli): fail with a migration message on the 4.7.0 static runner form
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

chore(patrol): bump to 4.10.0 for the new public API
  packages/patrol/pubspec.yaml
Due: patrol

fix(patrol_cli): keep classes distinct when file names sanitize identically
  packages/patrol_cli/lib/src/crossplatform/test_manifest.dart
  packages/patrol_cli/test/crossplatform/test_manifest_test.dart
Due: patrol, patrol_cli

fix(patrol): launch the app once per process in setUpGenerated
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

refactor(patrol_cli): address review nits
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
Due: patrol, patrol_cli

docs(patrol): tighten the discovery changelog entries
  packages/patrol/CHANGELOG.md
Due: patrol

docs: explain how to disable parallel execution when the scheme uses test plans
  docs/documentation/index.mdx
Due: none

Clean comments
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

refactor(patrol_cli): address second review round
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest.dart
Due: patrol, patrol_cli

Clean comments
  dev/e2e_app/patrol_test/native_tests/file_picker_test.dart
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

docs(patrol): drop the Breaking label from the experimental discovery migration note
  packages/patrol/CHANGELOG.md
Due: patrol

Fix snapshots queue
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Clean comments
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
Due: patrol

fix(patrol): Wait to restore original FlutterError.onError until teardown
  packages/patrol/lib/src/binding.dart
Due: patrol

chore(patrol): Add changelog entry for #3252
  packages/patrol/CHANGELOG.md
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
