Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

fix: rename in andSettle deprecation message (#1622)
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Due: patrol

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

apply review suggestions
  docs/getting-started/native.mdx
  docs/integrations/allure.mdx
Due: none

update warnings about changing the package name
  docs/getting-started/native.mdx
  docs/integrations/allure.mdx
Due: none

fix typo
  docs/integrations/allure.mdx
Due: none

add 1 more warning to allure docs page
  docs/integrations/allure.mdx
Due: none

add `patrol_finders prepare` workflow
  .github/workflows/patrol_finders-prepare.yaml
  packages/patrol_finders/pubspec.yaml
Due: patrol

Improve todos and add comments
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Remove unnecessary permissions from manifest
  packages/patrol_finders/example/android/app/src/main/AndroidManifest.xml
Due: patrol

add `patrol_finders publish` workflow
  .github/workflows/patrol_finders-publish.yaml
Due: none

Remove path dependency from pubspec.yaml
  packages/patrol/pubspec.yaml
Due: patrol

Update example readme
  packages/patrol_finders/example/README.md
Due: patrol

fix -resultBundlePath being added to build, not execute
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

refactor resultBundlePath logic
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Change location of generated iOS test results into `build/ios_results_$timestamp` (#1623)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

add links to allure docs
  docs/integrations/allure.mdx
Due: none

try to fix <Warning> not displaying in native.mdx (getting started)
  docs/getting-started/native.mdx
Due: none

update allure docs
  docs/integrations/allure.mdx
Due: none

remove unnecessary shell prompt symbols
  docs/integrations/browserstack.mdx
Due: none

add info that the file can be copy-pasted
  docs/integrations/allure.mdx
Due: none

update links in top-level README
  README.md
Due: none

update patrol_finders README
  packages/patrol_finders/README.md
Due: patrol

Add "integrations" docs section (#1621)
  docs.json
  docs/getting-started/native.mdx
  docs/integrations/allure.mdx
  docs/integrations/browserstack.mdx
Due: none

patrol_finders: update CHANGELOG and pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

patrol: bump version to 2.2.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump versio to 2.1.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release new versions (#1625)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

update library comments
  packages/patrol/lib/patrol.dart
  packages/patrol_finders/lib/patrol_finders.dart
  packages/patrol_finders/pubspec.yaml
Due: patrol

fix missing import
  packages/patrol/lib/src/common.dart
Due: patrol

fix formatting
  packages/patrol/lib/src/common.dart
Due: patrol

Fix missing import on `foundation.dart` (#1627)
  packages/patrol/lib/src/common.dart
Due: patrol

fix path to Xcode report
  .github/workflows/test-ios-simulator.yaml
Due: none

fix path to Xcode report (#1630)
  .github/workflows/test-ios-simulator.yaml
Due: none

add `melos` to newly-created top-level pubspec
  pubspec.yaml
Due: none

ignore `pubspec.lock`s
  .gitignore
Due: none

copy-paste melos from Lyokone/flutterlocation
  melos.yaml
Due: none

refactors for melos to play nicely
  .gitignore
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/scrolling_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/.gitignore
  packages/patrol_cli/pubspec.lock
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/example/lib/scrolling_screen.dart
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/example/test/loading_screen_test.dart
  packages/patrol_finders/example/test/overlay_screen_test.dart
  packages/patrol_finders/example/test/scrolling_screen_test.dart
  packages/patrol_finders/example/test/selector_test.dart
Due: patrol, patrol_cli

disable caching Flutter in GHA
  .github/workflows/patrol-publish.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-2.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none
