Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Refactor script execution in test-patrol-develop workflow for improved readability
  .github/workflows/test-patrol-develop.yaml
Due: none

Remove not needed gradle wrapper step
  .github/workflows/test-patrol-develop.yaml
Due: none

Update test-patrol-develop workflow to skip macOS job
  .github/WORKFLOWS.md
  .github/workflows/test-patrol-develop.yaml
Due: none

Refactor WORKFLOWS.md to improve workflow table formatting and add links for better navigation
  .github/WORKFLOWS.md
Due: none

Add iOS SPM setup docs
  docs/documentation/index.mdx
  docs_app/public/assets/ios_spm_frameworks.png
  docs_app/public/assets/ios_spm_header_search_paths.png
Due: none

PoC to get proxy from native side and make it possible to set it in Dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/patrol_test/mock_location_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/MobileAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/MobileAutomatorServer.swift
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/contracts/mobile_automator_client.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator_native.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  schema.dart
Due: patrol

Update iOS simulator workflow to change artifact file naming convention for captured videos
  .github/workflows/test-ios-simulator.yaml
Due: none

Refactor iOS simulator workflow to remove video; add platform test instead of native as more important
  .github/workflows/test-ios-simulator.yaml
Due: none

Set default locale to "en-US" in Playwright configuration if not specified
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

Enhance Playwright configuration to ensure browser locale is set
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

Update browser launch configuration to include locale setting in Playwright tests
  packages/patrol/web_runner/tests/setup.ts
Due: patrol

Remove locale testing tag from native tests. Fix workflow
  .github/WORKFLOWS.md
  .github/workflows/test-android-locales.yaml
  dev/e2e_app/patrol_test/native_tests/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/native_tests/service_location_test.dart
Due: none

Update Android locale testing workflow documentation
  .github/WORKFLOWS.md
Due: none

Add coment to explain cron
  .github/workflows/test-android-locales.yaml
Due: none

Add support for Flutter module (add-to-app) projects
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Add Flutter beta channel testing workflow and update documentation
  .github/WORKFLOWS.md
  .github/workflows/test-flutter-beta.yaml
Due: none

Add Pr trigger for testing
  .github/workflows/test-flutter-beta.yaml
Due: none

Update Java version in Flutter beta testing workflow from 17 to 21
  .github/workflows/test-flutter-beta.yaml
Due: none

Comment out Gradle wrapper generation step in Flutter beta testing workflow
  .github/workflows/test-flutter-beta.yaml
Due: none

Update pull request trigger in Flutter beta testing workflow to include all paths
  .github/workflows/test-flutter-beta.yaml
Due: none

Fix yaml
  .github/workflows/test-flutter-beta.yaml
Due: none

Update pull request trigger in Flutter beta testing workflow to use pull_request_target and specify event types
  .github/workflows/test-flutter-beta.yaml
Due: none

Update Flutter beta testing workflow to trigger on push to specific branch instead of pull request
  .github/workflows/test-flutter-beta.yaml
Due: none

Remove empty tags arrays
  dev/e2e_app/patrol_test/native_tests/service_airplane_mode_test.dart
  dev/e2e_app/patrol_test/native_tests/service_location_test.dart
Due: none

Update target test file in Flutter beta testing workflow from example_test.dart to pull_to_refresh_test.dart
  .github/workflows/test-flutter-beta.yaml
Due: none

Remove gradle wrapper step as not needed
  .github/workflows/test-flutter-beta.yaml
Due: none

Wrap widgets in material to avoid exception in flutter beta
  dev/e2e_app/lib/main.dart
Due: none

Remove temporary push trigger from Flutter beta testing workflow
  .github/workflows/test-flutter-beta.yaml
Due: none

Enhance Slack notification logic in workflow to conditionally notify based on test results
  .github/workflows/send-slack-message.yaml
Due: none

Update pub_updater dependency to version 0.5.0 in pubspec.yaml
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Refactor test entry logging to use currentTestFullName for start status and update related test cases for consistency
  packages/patrol/lib/src/common.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Refactor test cases in patrol_log_reader_test.dart for improved readability and consistency in mobile entry matching
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

Fix `patrol test` command to log success/failure of test completion in the Playwright report. (#2984)
  packages/patrol/CHANGELOG.md
Due: patrol

Exclude clipboard test because of failing
  .github/workflows/test-web.yaml
Due: none

axe android api
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/patrol_test/test_bundle.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Apply suggestion from @gemini-code-assist[bot]
  .github/WORKFLOWS.md
Due: none

Update GitHub workflows to refine scheduling and improve test execution logic
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Refine iOS simulator workflow documentation and update test execution details, including video recording and timeout settings
  .github/WORKFLOWS.md
  .github/workflows/test-ios-simulator.yaml
Due: none

Run physical device tests once week
  .github/WORKFLOWS.md
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
Due: none

Update patrol test logging to use currentTestFullName for skipped tests
  packages/patrol/lib/src/common.dart
Due: patrol
