Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

add links to marketplaces
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

vs code extension docs
  docs/assets/vsc-ext-additional-args.png
  docs/assets/vsc-ext-debugging-toolbar.png
  docs/assets/vsc-ext-devtools-dropdown.png
  docs/assets/vsc-ext-devtools.png
  docs/assets/vsc-ext-green-play-button.png
  docs/assets/vsc-ext-sample.png
  docs/assets/vsc-ext-stop-button.png
  docs/assets/vsc-ext-testexplorer.png
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

place vsc extension docs on sidebar
  docs.json
Due: none

Docs/vscode extension (#2738)
  docs.json
  docs/assets/vsc-ext-additional-args.png
  docs/assets/vsc-ext-debugging-toolbar.png
  docs/assets/vsc-ext-devtools-dropdown.png
  docs/assets/vsc-ext-devtools.png
  docs/assets/vsc-ext-green-play-button.png
  docs/assets/vsc-ext-sample.png
  docs/assets/vsc-ext-stop-button.png
  docs/assets/vsc-ext-testexplorer.png
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

fix link to DC channel about vsc extension
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

fix link to DC channel about vsc extension (#2747)
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

Remove warning about flavors in physical ios setup
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

fix typoss
  docs/documentation/patrol-vs-code-extension.mdx
Due: none

Fix/minor fixes in docs (#2751)
  docs/documentation/patrol-vs-code-extension.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Add WiFi enable/disable methods in IOSAutomator to support iOS 18 and above.
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi enable/disable methods in IOSAutomator for improved logic and consistency across iOS versions
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix inccorect logic in enable/disable methods for ios 18
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi toggle logic in IOSAutomator for improved readability and consistency
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add support for enabling/disabling WiFi on iOS 18 in CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Move logic to proper place
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Refactor WiFi enable/disable methods in IOSAutomator to enhance logic for iOS 18 and above
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

SPM integration
  packages/patrol/darwin/patrol/Package.swift
  packages/patrol/darwin/patrol/Sources/patrol/ObjC/PatrolPlugin.m
  packages/patrol/darwin/patrol/Sources/patrol/ObjC/include/PatrolPlugin.h
  packages/patrol/darwin/patrol/Sources/patrol/ObjC/include/module.modulemap
  packages/patrol/darwin/patrol/Sources/patrol/Swift/PatrolPlugin.swift
  packages/patrol/darwin/patrol/Sources/patrol/Swift/SwiftPatrolPlugin.swift
Due: patrol

complete example with SPM
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/handlers/notification_handler.dart
  packages/patrol/example/lib/handlers/permission_handler.dart
  packages/patrol/example/pubspec.yaml
Due: patrol

Correct errors in codesigning setup guide
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Adjust wording
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Update docs/documentation/physical-ios-devices-setup.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Correct errors in codesigning setup guide (#2756)
  docs/documentation/physical-ios-devices-setup.mdx
Due: none

Allow to toggle headless tests execution
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

Allow running web tests in parallel
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

Allow video recording
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

Define number of workers
  packages/patrol/web_runner/playwright.config.ts
Due: patrol

replace frame policy fadePointers with fullyLive
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/common.dart
  docs/documentation/write-your-first-test.mdx
  docs/write-your-first-test.mdx
  packages/patrol/lib/src/common.dart
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

introduce openPlatformApp, add apps enum
  dev/e2e_app/integration_test/open_app_test.dart
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_contracts_generator.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
  packages/patrol_gen/lib/src/schema.dart
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
  schema.dart
Due: patrol

fix typo, add comment to AppleApp enum, bump dart sdk
  dev/cli_tests/pubspec.yaml
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_contracts_generator.dart
  packages/patrol_gen/pubspec.yaml
  schema.dart
Due: patrol

improve resolveSchema expression
  packages/patrol_gen/lib/src/resolve_schema.dart
Due: patrol

update uiautomator to 2.3.0
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

update uiautomator to 2.3.0
  dev/cli_tests/pubspec.yaml
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/pubspec.yaml
Due: patrol

update deps for patrol_gen
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol

add comment to GoogleApp
  schema.dart
Due: none

Add json reporter
  packages/patrol/web_runner/playwright.config.ts
  packages/patrol_cli/lib/src/web/web_test_backend.dart
Due: patrol, patrol_cli

Cleanup 2
  dev_docs/patrol_web_runner_design.md
  package-lock.json
  package.json
  packages/patrol/devtools_options.yaml
  packages/patrol/example/devtools_options.yaml
Due: patrol

Clean up
  dev/web_mvp/README.md
  dev/web_mvp/test_poc.sh
  packages/patrol/example/patrol_test/main_test.dart
Due: patrol
