Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

[patrol_cli] fix(analytics.dart): sanitize version check command #2087 in _getFlutterVersion()
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

[patrol_cli] fix(compatibility_checker.dart): it get's stuck when it can't find patrol The packageCompleter.future never returns the way it was before.
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Change link
  docs/getting-started.mdx
Due: none

Add link to YT tutorial (#2093)
  docs/getting-started.mdx
Due: none

Remove spaces
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/integration_test/xd/example_test.dart
  packages/patrol/example/ios/Flutter/AppFrameworkInfo.plist
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/marathon_ios
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

Use + as separator on ios
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/example/integration_test/xd/example_test.dart
Due: patrol

Remove group from example test
  packages/patrol/example/integration_test/xd/example_test.dart
Due: patrol

Hide extension behind PATROL_ENABLED
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Make darwin contracts public
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol_gen/lib/src/generators/darwin/darwin_contracts_generator.dart
Due: patrol

Fix tests
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Fix swift format
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Unhide Selector extension
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Update pods
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

Create and use iOSNativeView for getNativeUITree
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  schema.dart
Due: patrol

Update patrol devtools extension contracts
  gen_from_schema
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Fix swift code
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Modify test-ios-simulator workflow to run on macos-14 and iOS 17.2
  .github/workflows/test-ios-simulator.yaml
Due: none

Modify on: parameter in workflow
  .github/workflows/test-ios-simulator.yaml
Due: none

Change iOS version to 16.2
  .github/workflows/test-ios-simulator.yaml
Due: none

Use iOS 16.4
  .github/workflows/test-ios-simulator.yaml
Due: none

Migrate inspector for ios to new nodes
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_hierarchy.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/android_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/ios_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
Due: patrol

Add IOSSelector to schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Migrate ios to IOSSelector
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Add registering text input
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Remove unused import
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Prepare one failing test for FTL
  dev/e2e_app/integration_test/android_app_test.dart
  dev/e2e_app/integration_test/example_test.dart
  dev/e2e_app/integration_test/internal/README
  dev/e2e_app/integration_test/internal/group_test.dart
  dev/e2e_app/integration_test/internal/long_name_test.dart
  dev/e2e_app/integration_test/macos/macos_app_test.dart
  dev/e2e_app/integration_test/open_app_test.dart
  dev/e2e_app/integration_test/open_quick_settings_test.dart
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/permissions/permissions_many_test.dart
  dev/e2e_app/integration_test/service_airplane_mode_test.dart
  dev/e2e_app/integration_test/service_bluetooth_test.dart
  dev/e2e_app/integration_test/service_cellular_test.dart
  dev/e2e_app/integration_test/service_dark_mode_test.dart
  dev/e2e_app/integration_test/service_wifi_test.dart
  dev/e2e_app/integration_test/swipe_test.dart
  dev/e2e_app/integration_test/tap_at_test.dart
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Add registering text input (#2111)
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Handle denying permission twice
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Add integration test
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
Due: none

Fix runner tests compilation
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
Due: none

Update test description
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
Due: none

Prepare changelog for patrol_finders release
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Prepare changelog for patrol 3.5.1 release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Update schema and contracts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Update android automator and automator server
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Fix reporting fail cause to native on ios in release mode
  dev/e2e_app/pubspec.lock
  packages/patrol/lib/src/binding.dart
Due: patrol

Add stacktrace to error information
  packages/patrol/lib/src/binding.dart
Due: patrol

Prepare changelog and version number for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

Migrate inspector to AndroidNativeView
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/android_node.dart
  schema.dart
Due: patrol

Add AndroidSelector schema
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol
