Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Fix ios simulator workflows
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Throw propper Error
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Errors.swift
Due: patrol

Run volume test w e2e_app only on android
  dev/e2e_app/integration_test/volume_test.dart
Due: none

Add codeowners
  .github/CODEOWNERS
Due: none

Add links to api reference in menu
  docs.json
Due: none

Add links to api reference in menu (#2229)
  docs.json
Due: none

Add docs for patrol_cli develop
  README.md
Due: none

Add dart-define-from-file support
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Add dart-define-from-file example test
  dev/e2e_app/defines_1.json
  dev/e2e_app/defines_2.json
  dev/e2e_app/integration_test/define_test.dart
  dev/e2e_app/lib/main.dart
  packages/patrol/example/lib/pages/home_page.dart
Due: patrol

Remove useless variable
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Fix test
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Update define test description
  dev/e2e_app/integration_test/define_test.dart
Due: none

Add tests with dartDefineFromFile
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Adjust scrollTo to native api rework
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  schema.dart
Due: patrol

remove automatic scrolling in tap method
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

Fix single quotes error
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

add scrollTo
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Adjust scrollTo to native rework pt 2
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
Due: patrol

Add api for scrollTo
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Fix nullsafety
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

Write documentation for native scrollTo method
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Fix external link test
  dev/e2e_app/integration_test/external_link_test.dart
Due: none

Change dev readme
  README.md
Due: none

Add empty line at the eof
  dev/e2e_app/defines_1.json
  dev/e2e_app/defines_2.json
Due: none

Release 3.9.0-dev.1
  packages/patrol/pubspec.yaml
Due: patrol

Add warning when file does not exist
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
Due: patrol, patrol_cli

Rename variable to mergedDartDefines
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Extract mergeDartDefines function
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/dart_define_utils.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Use same parsing as in flutter_tools
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/dart_define_utils.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
Due: patrol, patrol_cli

Don't use a system proxy
  packages/patrol/darwin/Classes/AutomatorServer/PatrolAppServiceClient.swift
Due: patrol

Remove class accessing fileModificationDate and add privacy manifest to ios plugin
  packages/patrol/darwin/Classes/Telegraph/Protocols/HTTP/Handlers/HTTPFileHandler.swift
  packages/patrol/darwin/Classes/Telegraph/Protocols/HTTP/Routing/Server+Routing.swift
  packages/patrol/darwin/Resources/PrivacyInfo.xcprivacy
  packages/patrol/darwin/patrol.podspec
Due: patrol

Update changelog
  packages/patrol/CHANGELOG.md
Due: patrol

feat: adding support to old flutter versions that need --no-sound-null-safety
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Update CHANGELOG
  packages/patrol/CHANGELOG.md
Due: patrol

Update packages/patrol/CHANGELOG.md
  packages/patrol/CHANGELOG.md
Due: patrol

Add env file to test
  dev/e2e_app/defines_3.env
  dev/e2e_app/integration_test/define_test.dart
  dev/e2e_app/lib/main.dart
Due: none

Change comment explaining how to run define_test
  dev/e2e_app/integration_test/define_test.dart
Due: none

Fix MacOSAutomator
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

Update feature parity
  docs/native/feature-parity.mdx
Due: none

Push lock
  dev/e2e_app/ios/Gemfile.lock
Due: none
