Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

test
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

test
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

fix
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

update workflow
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
  packages/patrol/example/run_ios_testlab
Due: patrol

install patrol cli xd
  .github/workflows/test-ios-device.yaml
Due: none

fix
  .github/workflows/test-ios-device.yaml
Due: none

verbose
  .github/workflows/test-ios-device.yaml
Due: none

update_project_provisioning
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

set target_filter
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

test automatic signing
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

update_code_signing_settings
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

lol
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

test -allowProvisioningUpdates
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

use wildcard
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

Revert "test -allowProvisioningUpdates"
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

set test arg for gcloud firebase test ios run
  packages/patrol/example/run_ios_testlab
Due: patrol

fix
  packages/patrol/example/run_ios_testlab
Due: patrol

change device to iphone 11 pro os 16.3
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

remove verbose
  .github/workflows/test-ios-device.yaml
Due: none

test
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

fix
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

set test dev target to 16.2
  packages/patrol/example/run_ios_testlab
Due: patrol

get test outputs
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

fix artifacts
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

exclude failing tests and change summary report to xcresult
  .github/workflows/test-ios-device.yaml
Due: none

fix xcresult
  .github/workflows/test-ios-device.yaml
Due: none

clean up git auth
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

set slack message
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

reuse send slack message workflow
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/run_ios_testlab
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
