Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

please `dart analyze`
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

bring back xcbeautify
  .github/workflows/patrol-prepare.yaml
Due: none

DartGroupEntry: add `encodedFullName` field
  .github/workflows/patrol-prepare.yaml
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartGroupEntryKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

Revert "DartGroupEntry: add `encodedFullName` field"
  .github/workflows/patrol-prepare.yaml
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartGroupEntryKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

remove FIXME that is already fixed
  .github/workflows/patrol-prepare.yaml
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
Due: patrol

iOS preparations: adjust `testCreateMethodNameFromPatrolGeneratedGroup`
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolUtils.m
Due: patrol

Add openNotifications implementation
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/macos/Classes/AutomatorServer/Automator.swift
  packages/patrol/macos/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

`group()`s work both on Android and iOS
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
Due: patrol

Patrol_DartGroupEntry.listTestsFlat() extensions: clean up
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
Due: patrol

contracts.proto: remove fullName from DartGroupEntry
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartGroupEntryKt.kt
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

clean up: RunnerUITests - bring back macro usage
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
Due: patrol

update comments and outdated variable names
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

improve code comment
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix errors arising from merging master to branch
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

fix test names on iOS
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
Due: patrol

patrol-prepare workflow: move set -o pipefail to a separate line
  .github/workflows/patrol-prepare.yaml
Due: none

remove leftover comment
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

Improve timeouts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
Due: patrol

Remove comments
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

Remove throws from MainActivityTest
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

example app tests: handle `else` case for Platform
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
Due: patrol

DartGroupEntry.listDartTests: fail more loudly when invariant is violated
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
Due: patrol

add Feature Request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

bug report template: adjust formatting to 80 lines
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Add feature request template (#1685)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

convert unnecessary `late`s to `final`s
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
Due: patrol

TestBundler: update `print` message in generated test_bundle.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

bring back old example_test
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/internal/README
  packages/patrol/example/integration_test/internal/group_test.dart
Due: patrol

Add support for Dart-side `group()`s (#1634)
  .github/workflows/patrol-prepare.yaml
  contracts.proto
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartGroupEntryKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/example/integration_test/internal/README
  packages/patrol/example/integration_test/internal/group_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/permissions/notifications_test.dart
  packages/patrol/example/integration_test/permissions/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

patrol: bump version to 2.3.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 2.2.0-dev.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release patrol 2.3.0-dev.1, patrol_cli 2.2.0-dev.1 (#1686)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Change android dependencies
  packages/patrol/android/build.gradle
Due: patrol

Fix klint and swift-format issues
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/ios/ios_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_flying_fox_server_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
Due: patrol

Fix macro
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

Fix klint issues
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServerFilters.kt
Due: patrol

Downgrade packages
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/pubspec.yaml
Due: patrol

Downgrade http package
  packages/patrol/pubspec.yaml
Due: patrol

Update contracts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
Due: patrol

Fix dart tests (Add equatable)
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
