Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

changes for lambdatest runner
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/android/settings.gradle
Due: patrol

added the LT Doc
  docs/integrations/Lambdatest.mdx
Due: none

removed TODO
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

Fix newlines and typos
  docs/integrations/Lambdatest.mdx
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/gradle.properties
  packages/patrol/example/android/settings.gradle
Due: patrol

Rename Lambdatest.mdx to lambdatest.mdx
  docs/integrations/lambdatest.mdx
Due: none

Add docs redirects and navigation
  docs.json
  docs/documentation/integrations/lambdatest.mdx
  docs/integrations/lambdatest.mdx
Due: none

Remove unnecessary redirect
  docs/integrations/lambdatest.mdx
Due: none

Fix whitespace
  docs/documentation/integrations/lambdatest.mdx
Due: none

Fix wording
  docs/documentation/integrations/lambdatest.mdx
Due: none

Add LambdaTest integration (from #2424) (#2447)
  docs.json
  docs/documentation/integrations/lambdatest.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

fix outdated env var
  docs/integrations/browserstack.mdx
Due: none

Fix outdated env vars in Browserstack integration docs
  docs/integrations/browserstack.mdx
Due: none

Add info on generating FLUTTER_TARGET after removal
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
Due: none

use isHittable in waitUntilVisible
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

make sure that element is within window (on screen)
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

fix getting app by bundle id
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

fix throwing exception
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Fix debugging instruction
  docs/debugging-patrol-tests.mdx
  docs/documentation/debugging-patrol-tests.mdx
Due: none

Fix new lines
  docs/debugging-patrol-tests.mdx
  docs/documentation/debugging-patrol-tests.mdx
Due: none

Fix debugging instruction (#2456)
  docs/debugging-patrol-tests.mdx
  docs/documentation/debugging-patrol-tests.mdx
Due: none

Add tests for different enter text scenarios
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/lib/text_fields_screen.dart
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/utils/text_fields_screen.dart
Due: patrol

Add patch for enter text show keyboard
  packages/patrol_finders/lib/src/custom_finders/custom_finders.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
Due: patrol

Update changelog
  packages/patrol_finders/CHANGELOG.md
Due: patrol

Change tester type to WidgetTester
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Remove usage of deprecated member
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
Due: patrol

Bring back deprecated member with ignore and comment
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
Due: patrol

fix: visibilty bug
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

fix: Bug on visibility tests
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/utils.dart
Due: patrol

Don't pass `ConfigEntry` on start, if it's empty.
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_writer.dart
  packages/patrol_log/pubspec.yaml
Due: patrol

Release enter text patch
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

Bump patrol packages
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix: visibility bug
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

fix: visibility bug
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

fix: visibility bug
  packages/patrol_finders/lib/src/custom_finders/utils.dart
Due: patrol

Update firebase-test-lab.mdx
  docs/documentation/ci/firebase-test-lab.mdx
Due: none

fix: visibility bug
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Fix patrol crash with null check operator exception on first run
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

remove unused import
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
