Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

start
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/integration_test/example_native_test.dart
  dev/e2e_app/lib/main.dart
Due: none

Implement creating MainActivityTest.java based on packageName MainActivity
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/setup_validator.dart
  packages/patrol_cli/test/general/setup_validator_test.dart
Due: patrol, patrol_cli

small progress
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

small demo of printing finder
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/demo_test.dart
Due: patrol

commit from stuff we did on workshop
  packages/patrol_finders/test/demo_test.dart
Due: patrol

add extension `toNSPredicate()` on `Selector`
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

more progress
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
Due: patrol

Add more expects in complex tests
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

implement toNSPredicate and test it
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
Due: patrol

update changelog
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Add more expects in complex tests (#2029)
  packages/patrol_finders/test/patrol_finder_test.dart
Due: patrol

Don't check java version when test is not run on android
  packages/patrol_cli/lib/src/compatibility_checker.dart
Due: patrol, patrol_cli

Bump firebase packages and macos min deployment target in example app to 10.18
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/pubspec.yaml
Due: patrol

Format swift code
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/example/ios/Runner/AppDelegate.swift
Due: patrol

Add comment explaining macos deployment target
  packages/patrol/example/macos/Podfile
Due: patrol

Remove custom ports from build_android.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
Due: patrol, patrol_cli

Fix patrol develop
  packages/patrol/example/ios/Podfile.lock
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Add compatibility table to docs
  docs.json
  docs/compatibility-table.mdx
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/base/constants.dart
Due: patrol, patrol_cli

Add header to compatibility table page
  docs/compatibility-table.mdx
Due: none

Add timeout to native methods on iOS
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Add timeout to native methods on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Add timeout to native tapping on notifications on iOS
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Due: patrol

Add timeout to native tapping on notifications on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Update methods documentation
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Format ios code
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/example/ios/Runner/AppDelegate.swift
Due: patrol

Reformat kt files
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

Add test failing due to exception
  dev/e2e_app/integration_test/exception_test.dart
  dev/e2e_app/lib/scrolling_screen.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
Due: none

Do not open devtools by default
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Set new release versions and update compatibility table
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
Due: patrol, patrol_cli

Prepare changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Update versions in pubspec.yaml files
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Implement --tags option for the test command
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix a typo
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix analyzer dependency
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Update patrol dependency
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/pubspec.lock
Due: none

Update pods version
  dev/e2e_app/ios/Podfile.lock
Due: none

Implement native tap at coordinates method for Android
  dev/e2e_app/integration_test/tap_at_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

Make textStartsWith and textContains work in more methods on iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  schema.dart
Due: patrol

Format code
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
