Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Refactor integration tests to use updated patrol syntax and add locale testing tags for Android and iOS
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/permissions/permissions_many_test.dart
  dev/e2e_app/integration_test/service_airplane_mode_test.dart
  dev/e2e_app/integration_test/service_location_test.dart
Due: none

Update feature-parity.mdx
  docs/documentation/native/feature-parity.mdx
Due: none

Bump leancode_lint, min dart and patrol_log
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Resolve analyzer issues
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Add workflows for testing locales
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-locales.yaml
  dev/e2e_app/run_android_testlab
  dev/e2e_app/run_ios_testlab
Due: none

Add trailing new lines
  packages/patrol/android/src/main/res/values-de/strings_de.xml
  packages/patrol/android/src/main/res/values-fr/strings_fr.xml
  packages/patrol/android/src/main/res/values-pl/strings_pl.xml
  packages/patrol/darwin/Resources/de.lproj/Localizable.strings
  packages/patrol/darwin/Resources/en.lproj/Localizable.strings
  packages/patrol/darwin/Resources/fr.lproj/Localizable.strings
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol

Make run conditions for new workflows
  .github/workflows/test-android-locales.yaml
  .github/workflows/test-ios-locales.yaml
Due: none

Update iOS locale testing workflow to remove excluded tests step and add release flag for build
  .github/workflows/test-ios-locales.yaml
Due: none

Update AutomatorServer.swift to change label to identifier for button tap action
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

Disable locale testing tag for notification test due to timeout issue on physical devices
  dev/e2e_app/integration_test/permissions/notifications_test.dart
Due: none

Move getting localization to separate folder
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Add Localization class for handling device locale and localized strings
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
Due: patrol

Update Polish localization strings for permission dialog buttons
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol

Remove PATROL_WAIT from internal Dart defines in develop and test commands
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Format swift files
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Localization.swift
Due: patrol

Update contracts
  packages/patrol/lib/src/native/contracts/contracts.dart
Due: patrol

Refactor localization string retrieval in IOSAutomator.swift to remove error handling for getLocalizedString calls
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol

Update iOS locales in workflow to include 'de_DE' for improved localization support
  .github/workflows/test-ios-locales.yaml
Due: none

Rename workflow to clarify its purpose for testing locales on Android devices
  .github/workflows/test-android-locales.yaml
Due: none

Remove getLocale from native automators
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
Due: patrol

Make test no fail on virtual ios device
  dev/e2e_app/integration_test/service_airplane_mode_test.dart
  dev/e2e_app/integration_test/service_bluetooth_test.dart
  dev/e2e_app/integration_test/service_cellular_test.dart
  dev/e2e_app/integration_test/service_dark_mode_test.dart
  dev/e2e_app/integration_test/service_wifi_test.dart
Due: none

Update German and Polish localization strings for accuracy
  packages/patrol/darwin/Resources/de.lproj/Localizable.strings
  packages/patrol/darwin/Resources/pl.lproj/Localizable.strings
Due: patrol

Update Polish localization string for location settings to improve clarity
  packages/patrol/android/src/main/res/values-pl/strings_pl.xml
Due: patrol

fix: Remove FLUTTER_APP_FLAVOR from dart defines
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

Enhance test APK path handling in BuildAndroidCommand to include flavor if present
  packages/patrol_cli/lib/src/commands/build_android.dart
Due: patrol, patrol_cli

chore: Adjust tests to removed dart define and update changelog
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Refactor patrolTest to remove redundant wait logic and simplify indefinite wait handling in develop mode
  packages/patrol/lib/src/common.dart
Due: patrol

chore: Update patrol_cli changelog to reflect when PR with FLUTTER_APP_FLAVOR was reverted
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix: Remove FLUTTER_APP_FLAVOR from dart defines (#2692)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Add logging for test completion in patrolTest function
  packages/patrol/lib/src/common.dart
Due: patrol

Refactor global_state.dart to enhance test hierarchy checks and remove debug prints
  packages/patrol/lib/src/global_state.dart
Due: patrol

Update test completion log message in patrolTest function to provide clearer instructions for users
  packages/patrol/lib/src/common.dart
Due: patrol

Enhance global state management by adding internal test explorer checks and simplifying test hierarchy logic
  packages/patrol/lib/src/global_state.dart
Due: patrol

Refactor global_state.dart to simplify entry name extraction logic using deduplication function
  packages/patrol/lib/src/global_state.dart
Due: patrol

fix: extend native enterText with AutoCompleteTextView.
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

Refactor isInternalTestExplorerEntry function to utilize isInternalTestExplorer for improved clarity and maintainability
  packages/patrol/lib/src/global_state.dart
Due: patrol

Make method visibleForTesting; Add unit tests
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/test/commands/patrol_android_build_test.dart
Due: patrol, patrol_cli

Refactor printBinaryPaths method for test visibility and add unit tests for BuildIOSCommand
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/test/commands/patrol_build_ios_test.dart
Due: patrol, patrol_cli

Remove unused getLocale method
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Due: patrol
