Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Create darwin lib for unified ios & macos code WIP
  packages/patrol/darwin/.clang-format
  packages/patrol/darwin/.gitignore
  packages/patrol/darwin/Assets/.gitkeep
  packages/patrol/darwin/Classes/AutomatorServer/Errors.swift
  packages/patrol/darwin/Classes/AutomatorServer/Logger.swift
  packages/patrol/darwin/Classes/PatrolPlugin.h
  packages/patrol/darwin/Classes/PatrolPlugin.m
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/darwin/patrol.podspec
Due: patrol

disable heavy `test-*` workflows on `pull_request` event
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

fix ios example app
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
Due: patrol

fix ios example app (#1962)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
Due: patrol

fix ios example app test
  packages/patrol/example/lib/cubit/auth_cubit.dart
Due: patrol

fix ios example app test (#1963)
  packages/patrol/example/lib/cubit/auth_cubit.dart
Due: patrol

Move most of the files to darwin lib
  packages/patrol/darwin/Classes/AutomatorServer/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServerProtocol.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/ios/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/ios/IOSAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/ios/IOSPatrolServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/macos/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/macos/MacOSAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/macos/MacOSPatrolServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/darwin/Classes/PatrolUtils.h
  packages/patrol/darwin/Classes/PatrolUtils.m
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/macos/Classes/AutomatorServer/Automator.swift
  packages/patrol/macos/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

implement patrolSetUp and patrolTearDown
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
Due: patrol

add internal/callbacks_test.dart
  dev/e2e_app/integration_test/internal/callbacks_test.dart
Due: none

Revert "add internal/callbacks_test.dart"
  dev/e2e_app/integration_test/internal/callbacks_test.dart
Due: none

Use Telegraph for both macos and ios
  packages/patrol/darwin/Classes/AutomatorServer/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServerProtocol.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/ios/IOSPatrolServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/macos/MacOSAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/macos/MacOSPatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/patrol.podspec
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

Implement patrolSetUp and patrolTearDown (#1967)
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
Due: patrol

patrol: bump version to 3.1.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol: bump version to 3.1.0 (#1968)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

example app: add missing `Run Script` phases to RunnerUITests Build Settings
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

example app: add missing `Run Script` phases to RunnerUITests Build Settings (#1969)
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Due: patrol

example app: remove empty test
  packages/patrol/example/integration_test/empty_test.dart
Due: patrol

Remove macos lib and fix darwin lib on macos
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/darwin/patrol.podspec
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/macos/.clang-format
  packages/patrol/macos/.gitignore
  packages/patrol/macos/Assets/.gitkeep
  packages/patrol/macos/Classes/AutomatorServer/Automator.swift
  packages/patrol/macos/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/macos/Classes/AutomatorServer/Contracts.swift
  packages/patrol/macos/Classes/AutomatorServer/Errors.swift
  packages/patrol/macos/Classes/AutomatorServer/Logger.swift
  packages/patrol/macos/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/macos/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/macos/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/macos/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/macos/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/macos/Classes/PatrolPlugin.h
  packages/patrol/macos/Classes/PatrolPlugin.m
  packages/patrol/macos/Classes/PatrolUtils.h
  packages/patrol/macos/Classes/PatrolUtils.m
  packages/patrol/macos/Classes/SwiftPatrolPlugin.swift
  packages/patrol/macos/patrol.podspec
  packages/patrol/pubspec.yaml
Due: patrol

Remove ios lib & implement IOSAutomator
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/patrol.podspec
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/ios/.clang-format
  packages/patrol/ios/.gitignore
  packages/patrol/ios/Assets/.gitkeep
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/ios/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/ios/Classes/AutomatorServer/Errors.swift
  packages/patrol/ios/Classes/AutomatorServer/Logger.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolPlugin.h
  packages/patrol/ios/Classes/PatrolPlugin.m
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
  packages/patrol/ios/patrol.podspec
Due: patrol

Implement MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/example/macos/Podfile.lock
Due: patrol

Update generator
  gen_from_schema
  packages/patrol_gen/bin/main.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_config.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/darwin/darwin_url_session_client_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_client_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_flying_fox_server_generator.dart
  packages/patrol_gen/lib/src/generators/macos/macos_generator.dart
  packages/patrol_gen/lib/src/patrol_gen.dart
Due: patrol

Adjust comments
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

clang-format
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/darwin/Classes/PatrolUtils.m
  packages/patrol/darwin/Classes/Telegraph/HTTPParserC/http_parser.h
Due: patrol

Link patrol issue related to logs on macos
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Add macos platform to e2e_app
  dev/e2e_app/.metadata
  dev/e2e_app/macos/.gitignore
  dev/e2e_app/macos/Flutter/Flutter-Debug.xcconfig
  dev/e2e_app/macos/Flutter/Flutter-Release.xcconfig
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/macos/Podfile
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/e2e_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/macos/Runner.xcworkspace/contents.xcworkspacedata
  dev/e2e_app/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  dev/e2e_app/macos/Runner/AppDelegate.swift
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  dev/e2e_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  dev/e2e_app/macos/Runner/Base.lproj/MainMenu.xib
  dev/e2e_app/macos/Runner/Configs/AppInfo.xcconfig
  dev/e2e_app/macos/Runner/Configs/Debug.xcconfig
  dev/e2e_app/macos/Runner/Configs/Release.xcconfig
  dev/e2e_app/macos/Runner/Configs/Warnings.xcconfig
  dev/e2e_app/macos/Runner/DebugProfile.entitlements
  dev/e2e_app/macos/Runner/Info.plist
  dev/e2e_app/macos/Runner/MainFlutterWindow.swift
  dev/e2e_app/macos/Runner/Release.entitlements
  dev/e2e_app/macos/RunnerTests/RunnerTests.swift
Due: none

Setup patrol for macos on e2e_app
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner/Info.plist
  dev/e2e_app/macos/.gitignore
  dev/e2e_app/macos/Podfile
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/macos/Runner/Configs/AppInfo.xcconfig
  dev/e2e_app/macos/Runner/Release.entitlements
  dev/e2e_app/macos/RunnerTests/RunnerTests.swift
  dev/e2e_app/macos/RunnerUITests/DebugProfile.entitlements
  dev/e2e_app/macos/RunnerUITests/RunnerUITests.m
  dev/e2e_app/pubspec.yaml
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/lib/handlers/notification_handler.dart
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: patrol

Update patrol-prepare.yaml
  .github/workflows/patrol-prepare.yaml
Due: none

Set result path for macos tests
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Prepare test-macos workflow
  .github/workflows/test-macos.yaml
  dev/e2e_app/integration_test/macos/macos_app_test.dart
Due: none

Fix ios_test_backend_test on windows
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Put todo for path separators improvement
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Add --verbose flag to patrol_develop_test command
  dev/cli_tests/patrol_develop_test.dart
Due: none

generate gradle wrapper before running test in cirrus CI
  .cirrus.yml
Due: none

Fix .cirrus.yml
  .cirrus.yml
Due: none

Do not ignore openDevtools flag in patrol develop
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

set `-destination-timeout` to `1` in` `xcodebuild test-without-building` runs
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

set `-destination-timeout` to `1` in` `xcodebuild test-without-building` runs (#1979)
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli
