Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Update web testing workflow to include locale parameter for consistency
  .github/workflows/test-web.yaml
Due: none

Update web testing workflow to correct locale parameter name
  .github/workflows/test-web.yaml
Due: none

Update Flutter beta testing workflow schedule to run daily at 8:00
  .github/WORKFLOWS.md
  .github/workflows/test-flutter-beta.yaml
Due: none

Fix locale parameter formatting in web testing workflow
  .github/workflows/test-web.yaml
Due: none

Update web testing workflow to use correct locale format
  .github/workflows/test-web.yaml
Due: none

Update iOS device testing workflows to exclude additional permission tests
  .github/WORKFLOWS.md
  .github/workflows/test-ios-device.yaml
Due: none

Update macOS job in test-patrol-develop workflow to use macOS 15 for hot restart compatibility
  .github/workflows/test-patrol-develop.yaml
Due: none

Update iOS simulator model and OS version in test-patrol-develop workflow
  .github/workflows/test-patrol-develop.yaml
Due: none

Check possible fix for flaky develop
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Revert "Check possible fix for flaky develop"
  packages/patrol_cli/lib/src/commands/develop.dart
Due: patrol, patrol_cli

Update iOS version in test-patrol-develop workflow to 26.2 and adjust test command accordingly
  .github/workflows/test-patrol-develop.yaml
Due: none

Update test-patrol-develop workflow to include macOS job with pinned simulator runtime and deterministic iOS version
  .github/WORKFLOWS.md
Due: none

Update test-patrol-develop workflow to use pull_request_target and refine trigger paths for better accuracy
  .github/WORKFLOWS.md
  .github/workflows/test-patrol-develop.yaml
Due: none

Update iOS simulator model to iPhone 17 and OS version to 26.2 in test-ios-simulator workflow
  .github/workflows/test-ios-simulator.yaml
Due: none

Refine macOS job in test-patrol-develop workflow by removing outdated comments and clarifying iOS version requirement
  .github/workflows/test-patrol-develop.yaml
Due: none

Update iOS simulator model to iPhone 17 and OS version to 26.2 in WORKFLOWS.md for improved testing accuracy
  .github/WORKFLOWS.md
Due: none

Update Android locale testing workflows to use Pixel7 and emulator.wtf
  .github/WORKFLOWS.md
  .github/workflows/test-android-locales.yaml
Due: none

Update Android locale testing to utilize ew-cli with JSON output for improved device configuration
  .github/WORKFLOWS.md
  .github/workflows/test-android-locales.yaml
Due: none

release patrol_log 0.8.0
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/entries/config_entry.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
  packages/patrol_log/pubspec.yaml
Due: patrol

fix: Fix test summary
  packages/patrol/lib/src/common.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

fix: Refactor currentTestFullName getter
  packages/patrol/lib/src/global_state.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

chore: Add changelog
  packages/patrol/CHANGELOG.md
Due: patrol

fix: Revert currentTestFullName implementation change
  packages/patrol/lib/src/global_state.dart
Due: patrol

fix: Fix test summary (#2998)
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol_log/test/patrol_log_reader_test.dart
Due: patrol

chore: Prepare patrol 4.0.0 for release
  packages/patrol/pubspec.yaml
Due: patrol

chore: Prepare patrol 4.4.0 for release (#2999)
  packages/patrol/pubspec.yaml
Due: patrol

fix: pass appId
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/pubspec.yaml
Due: patrol

release patrol_finders 3.2.0
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Due: patrol

release patrol 4.5.0
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
Due: patrol

chore: Rebase tests branch to latest master
  packages/patrol_cli/pubspec.yaml
  scripts/flutter_test_repo_test.bat
  scripts/flutter_test_repo_test.sh
Due: patrol, patrol_cli

Fix warning in test
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

fix dart format in patrol and patrol_cli
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/commands/develop_options.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

improve testFile description in run tool
  packages/patrol_mcp/bin/patrol_mcp.dart
Due: patrol

remove patrol_mcp from compatibility table
  docs/documentation/compatibility-table.mdx
  packages/patrol_mcp/README.md
Due: patrol

improve setup readme
  packages/patrol_mcp/README.md
Due: patrol

migrate from run-patrol to PATROL_FLUTTER_COMMAND
  packages/patrol_mcp/README.md
Due: patrol

update readme
  packages/patrol_mcp/README.md
Due: patrol

fix double finalizer call in develop service
  packages/patrol_cli/lib/src/commands/develop_service.dart
Due: patrol, patrol_cli

resolve TODO: add AI-assisted setup tip to patrol_mcp README
  packages/patrol_mcp/README.md
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
