Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Change to single quotes when copying native node props
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
Due: patrol

Make native view details scrollable
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
Due: patrol

Fix test name for androidx.test:orchestrator:1.5.0
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

fix: Modify test names inside PatrolJUnitRunner to remove spaces
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

fix: Explain changes in the code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

chore: Prepare version and changelog for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

fix: Modify test names inside PatrolJUnitRunner to remove spaces (#2361)
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/pubspec.yaml
Due: patrol

Update launch with actual paths, use relative path in cwd
  .vscode/launch.json
Due: none

Add Android Studio config file and update md
  .run/Patrol CLI.run.xml
  CONTRIBUTING.md
Due: none

Add to changelog
  packages/patrol/CHANGELOG.md
Due: patrol

Move changelog to patrol cli
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Revert patrol_cli configuration name
  .run/patrol_cli.run.xml
  CONTRIBUTING.md
Due: none

Update contributing md
  CONTRIBUTING.md
Due: none

Add clear permissions test failing on ios
  dev/e2e_app/integration_test/permissions/clear_permissions_test.dart
Due: none

POC - resetting camera permission on ios
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner/AppDelegate.swift
  dev/e2e_app/pubspec.lock
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Use target 14
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
Due: none

iOS: fix webview_stackoverflow_test and disable webview_leancode_test from workflow (#2354)
  .github/workflows/test-ios-simulator-webview.yaml
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Reset many permissions
  dev/e2e_app/integration_test/permissions/clear_permissions_test.dart
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Remove unnecessary variable
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Add other permissions
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Update test and permissions, revert ios target
  dev/e2e_app/integration_test/permissions/clear_permissions_test.dart
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/lib/permissions_screen.dart
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Remove depricated field from PopScope
  packages/patrol/example/lib/ui/components/scaffold.dart
Due: patrol

Check if context is mounted
  dev/e2e_app/lib/main.dart
Due: none

Prepare script for running tests in flutter test repo
  scripts/flutter_test_repo_test.sh
Due: none

Use only one directory in flutter_test_repo_test.sh
  scripts/flutter_test_repo_test.sh
Due: none

Updated compatibility-table.mdx
  docs/compatibility-table.mdx
Due: none

Bump patrol_devtools_extension version and create changelog
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Devtools fixes (#2358)
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol

Add swipe to scroll to password textfield in webview
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
Due: none

Fix: Update compatibility table with correct Flutter version requirements
  docs/compatibility-table.mdx
Due: none

Fix analyzer issues in package adb
  packages/adb/lib/adb.dart
Due: none

Add check-semver workflow for patrol_finders
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol_finders-check-semver.yaml
Due: none

Adjust to new linter rules in patrol_finders package
  packages/patrol_finders/lib/patrol_finders.dart
  packages/patrol_finders/lib/src/common.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
Due: patrol

Adjust to new linter rules in patrol package
  dev/e2e_app/lib/main.dart
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/global_state.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/test/internals_test.dart
Due: patrol

Bump Flutter and Dart version in workflows
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
Due: none

Bump min sdk to 3.5.0 across packages
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/pubspec.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

Adjust to new linter rules in patrol_cli package
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli
