Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

improve bug report template (#1311)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

more improvements to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

more improvements to bug report template (#1312)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

gs
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

even more improvements to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Improve issue template even more (#1313)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

remove the mandatory checkbox
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

remove the mandatory checkbox (#1314)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fix test failures that occur only on Windows (#1274)
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
  packages/patrol_cli/test/general/test_finder_test.dart
  packages/patrol_cli/test/src/common.dart
  packages/patrol_cli/test/test_bundler_test.dart
Due: patrol, patrol_cli

WIP
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Due: patrol, patrol_cli

add warning about running on multiple devices being deprecated
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

add warning about running on multiple devices being deprecated (#1318)
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.11
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

patrol_cli: bump version to 1.1.11 (#1319)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

backport changes from `master` to `develop`
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

backport changes from `master` to `develop` (#1320)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

update link to permalink
  dev_docs/test_bundling.svg
Due: none

Add technical memo on Excalidraw about test bundling (#1281)
  dev_docs/README.txt
  dev_docs/test_bundling.svg
Due: none

init
  packages/patrol/example/ios/Gemfile
  packages/patrol/example/ios/Gemfile.lock
  packages/patrol/example/ios/fastlane/Appfile
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

Revert "init"
  packages/patrol/example/ios/Gemfile
  packages/patrol/example/ios/Gemfile.lock
  packages/patrol/example/ios/fastlane/Appfile
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

match init
  packages/patrol/example/ios/Matchfile
Due: patrol

Revert "Revert "init""
  packages/patrol/example/ios/Gemfile
  packages/patrol/example/ios/Gemfile.lock
  packages/patrol/example/ios/fastlane/Appfile
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

set app_identifier
  packages/patrol/example/ios/Matchfile
  packages/patrol/example/ios/fastlane/Appfile
Due: patrol

set certificates lane
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

Set up for CI
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/Matchfile
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

set MATCH_PASSWORD
  .github/workflows/test-ios-device.yaml
Due: none

Create CODEOWNERS
  CODEOWNERS
Due: none

Create CODEOWNERS (#1328)
  CODEOWNERS
Due: none

set git auth
  packages/patrol/example/ios/Matchfile
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

set env from secrets
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

test
  .github/workflows/test-ios-device.yaml
Due: none

fix
  .github/workflows/test-ios-device.yaml
Due: none

test
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

update fastlane
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

fix
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

use env vars everywhere
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol

fix
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/ios/fastlane/Fastfile
Due: patrol
