Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

Use port 0 inside patrolTest method implementation
  packages/patrol/example/integration_test/example_test copy 2.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Get iOS PatrolServer port in the Dart code using FFI
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/pubspec.yaml
Due: patrol

Implement two way comunication for iOS using random ports
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.lock
  schema.dart
Due: patrol

Use jnigen to pass android port from native to dart
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AndroidServerPortProvider.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/jnigen.yaml
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/lib/src/server_port/android_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Use free port on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

Select app port dynamically for Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/common.dart
Due: patrol

Add createAppServiceClient invocation to MainActivityTest in e2e_app setup
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
Due: none

Remove Marathon iOS test script
  packages/patrol/example/marathon_ios
Due: patrol

Refactor PatrolServer Swift code formatting
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Use ffi for sending ios port
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ffigen.yaml
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Address more CR comments
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/pubspec.yaml
Due: patrol

Remove unused PatrolPlugin import in MainActivityTest
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Due: patrol

Adjust indentation in SwiftPatrolPlugin port retrieval code
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Format Android and iOS files
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Remove redundant NSRunLoop delays in iOS test runner
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

Remove LambdaTestPatrolJUnitRunner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Due: patrol

Remove appServerPort from app options across platforms
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Update test bundler to use dynamic ports selection
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Use ffigen WIP
  packages/patrol/darwin/Classes/AutomatorServer/GlobalPort.swift
  packages/patrol/darwin/Classes/AutomatorServer/libserverportprovider.dylib
  packages/patrol/darwin/Classes/AutomatorServer/server_port_provider.h
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol/ffigen.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Solve analysis issues
  packages/patrol/analysis_options.yaml
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
Due: patrol

Refactor server port handling across platforms
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/example/pubspec.yaml
  packages/patrol/ios_server_port_provider_bindings.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Pass test server port to NativeAutomator constructor
  packages/patrol/lib/src/common.dart
Due: patrol

Remove debug changes
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/example_test1.dart
  packages/patrol/example/integration_test/example_test2.dart
  packages/patrol/example/integration_test/example_test3.dart
  packages/patrol/example/integration_test/example_test4.dart
  packages/patrol/example/integration_test/example_test5.dart
  packages/patrol/example/integration_test/example_test6.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol

Format server_port_provider.dart
  packages/patrol/lib/src/server_port_provider.dart
Due: patrol

Update macOS integration test runner with improved port handling
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
Due: patrol

Wrap getting port from arguments in PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/SwiftPatrolPlugin.swift
Due: patrol

Address some of the CR comments
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/lib/src/server_port_provider.dart
  packages/patrol/pubspec.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

Move port declarations outside PATROL_ENABLED conditional block
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
Due: patrol

Implement new port approach in PatrolIntegrationTestIosRunner with clearing permission
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
Due: patrol

feat: Bring back custom Patrol Runners
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserStackPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

feat: Add warning about setting env variable for
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

feat: Pass port into NativeAutomator through config
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Due: patrol

feat: Correct warning about setting port on iOS
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

Add warning about setting port for for macOS
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
Due: patrol, patrol_cli

Set version number in changelogs, pubspecs, add entry to compatibility table
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol, patrol_cli

Update compatibility tests
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
Due: patrol, patrol_cli

docs: Regenerate compatibility table
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
Due: none

Create OverflowScreen
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/overflow_screen.dart
Due: none

Print all flutter exceptions in report
  dev/e2e_app/integration_test/overflow_test.dart
  dev/e2e_app/lib/overflow_screen.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol
