Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Move test plan name to var
  packages/patrol/example/bs_ios
  packages/patrol/example/ios/Podfile.lock
Due: patrol

add pub get to melos
  melos.yaml
Due: none

add pub get to melos (#1946)
  melos.yaml
Due: none

add custom lint to `package:patrol`
  packages/patrol/analysis_options.yaml
  packages/patrol/pubspec.yaml
Due: patrol

set up `custom_lint` in all packages
  packages/adb/analysis_options.yaml
  packages/adb/pubspec.yaml
  packages/patrol/analysis_options.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/analysis_options.yaml
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/analysis_options.yaml
  packages/patrol_gen/analysis_options.yaml
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

gitignore all custom_lint.log files
  .gitignore
Due: none

fix new lint warnings
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
Due: patrol

bump Kotlin version to 1.9.20 in example apps (#1943)
  packages/patrol/android/build.gradle
  packages/patrol_finders/example/android/build.gradle
Due: patrol

update prepare-* workflows to run custom_lint
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_gen-prepare.yaml
Due: none

delete analysis_options in directories that do not have pubspec.yaml
  packages/patrol_cli/test/analysis_options.yaml
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_finders/example/test/analysis_options.yaml
  packages/patrol_finders/test/analysis_options.yaml
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/smoke_test.dart
Due: patrol, patrol_cli

fix tests
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
Due: patrol, patrol_cli

Use custom lints (#1948)
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .gitignore
  packages/adb/analysis_options.yaml
  packages/adb/pubspec.yaml
  packages/patrol/analysis_options.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/analysis_options.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_devtools_extension/analysis_options.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/analysis_options.yaml
  packages/patrol_finders/example/test/analysis_options.yaml
  packages/patrol_finders/test/analysis_options.yaml
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/smoke_test.dart
  packages/patrol_gen/analysis_options.yaml
  packages/patrol_gen/pubspec.yaml
Due: patrol, patrol_cli

remove unused dart_test.yaml
  dev/e2e_app/dart_test.yaml
Due: none

remove not used --coverage flag to `dart test`
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  dev/e2e_app/devtools_options.yaml
Due: none

temporary: run `test-*` workflows on pull_request
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

change `working-directory` of workflows from `packages/patrol/example` to `dev/e2e_app`
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Due: none

Add Discord link
  docs.json
Due: none

Fix labeler for docs
  .github/labeler.yml
Due: none

Add Discord link (#1953)
  .github/labeler.yml
  docs.json
Due: none

more clean ups
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/scrolling_screen.dart
  dev/e2e_app/pubspec.yaml
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/integration_test/done_test.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/lib/cubit/auth_cubit.dart
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol_finders/example/android/app/src/main/AndroidManifest.xml
Due: patrol

make iOS app compile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/patrol/example/ios/Runner/GoogleService-Info.plist
Due: patrol

more changes
  .github/workflows/patrol-prepare.yaml
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/build.gradle
  dev/e2e_app/android/settings.gradle
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/google-services.json
  packages/patrol/example/android/app/src/androidTest/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/android/app/src/main/kotlin/pl/leancode/patrol/example/MainActivity.kt
  packages/patrol/example/android/build.gradle
  packages/patrol/example/android/settings.gradle
  packages/patrol/example/integration_test/empty_test.dart
  packages/patrol/example/integration_test/main_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner/GoogleService-Info.plist
  packages/patrol/example/lib/cubit/auth_cubit.dart
  packages/patrol/example/lib/handlers/notification_handler.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/google_sign_in/profile_page.dart
  packages/patrol/example/lib/pages/home_page.dart
  packages/patrol/example/lib/pages/push_notification/notification_success_page.dart
  packages/patrol/example/lib/pages/quiz/error_page.dart
  packages/patrol/example/lib/pages/quiz/form_page.dart
  packages/patrol/example/lib/pages/quiz/question_page.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/pages/quiz/welcome_page.dart
  packages/patrol/example/lib/ui/components/button/elevated_button.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/example/lib/ui/components/text_field.dart
  packages/patrol/example/lib/ui/style/test_style.dart
  packages/patrol/example/lib/ui/widgets/logos_hero.dart
  packages/patrol/example/lib/ui/widgets/top_bar.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/example/test/widget_test.dart
  packages/patrol/pubspec.yaml
Due: patrol

example app: add xctestplan
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/patrol/example/ios/TestPlan.xctestplan
Due: patrol

Get observation url from flutter logs WIP
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Unify code for flutter logs & attach in develop
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Due: patrol, patrol_cli

fix android build
  dev/e2e_app/android/app/build.gradle
Due: none

Block using patrol develop with macos
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_gen/pubspec.lock
Due: patrol, patrol_cli

fix android build 2
  dev/e2e_app/android/app/src/androidTest/java/pl/leancode/patrol/e2e_app/MainActivityTest.java
  dev/e2e_app/android/app/src/main/kotlin/pl/leancode/patrol/e2e_app/MainActivity.kt
Due: none

update CI
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-ios-simulator.yaml
  dev/e2e_app/ios/Podfile.lock
Due: none

fix tests
  .github/workflows/prepare-e2e_app.yaml
Due: none

fix tests 3
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/test/example_test.dart
Due: none

fix patrol_develop_test.dart
  dev/cli_tests/patrol_develop_test.dart
Due: none

Remove hardcoded timeout & use alias for dart:io import
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/lib/notifications_screen.dart
Due: patrol

Remove RunnerTests from macos project
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/RunnerTests/RunnerTests.swift
Due: patrol

Ignore GeneratedPluginRegistrant.swift
  packages/patrol/example/macos/.gitignore
  packages/patrol/example/macos/Flutter/GeneratedPluginRegistrant.swift
Due: patrol

Unify deployment target for macos & place todo for verifying it
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
Due: patrol

Fix typos
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
  packages/patrol/macos/Classes/SwiftPatrolPlugin.swift
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Remove RunnerTests and update macos Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
Due: patrol

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
