Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

add openNotifications and closeNotifications
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

webview_hackernews_test: remove opening and closing notifications - not needed
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

disable `LiveTestWidgetsFlutterBindingFramePolicy.benchmarkLive`
  packages/patrol/example/integration_test/common.dart
Due: patrol

remove `$.native.getNativeViews()`
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

Revert "remove `$.native.getNativeViews()`"
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Due: patrol

regenerate contracts
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

implement NativeAutomator.initialize() in Dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

implement NativeAutomator.initialize() on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

add NativeAutomator.initialize() RPC in contracts.proto
  contracts.proto
Due: none

regenerate dart code
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
Due: patrol

implement NativeAutomator.initialize() on iOS (no-op)
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Due: patrol

try out a fix for `patrol develop` - still broken
  packages/patrol/lib/src/common.dart
Due: patrol

remove temporary workaround for the bug
  packages/patrol/lib/src/common.dart
Due: patrol

repair `webview_leancode_test.dart`
  packages/patrol/example/integration_test/webview_leancode_test.dart
Due: patrol

fix "Accept cookies" being required by `webview_stackoverflow_test.dart`
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
Due: patrol

remove outdated `advanced native automation` section
  docs.json
  docs/native/advanced.mdx
Due: none

remove outdated `advanced native automation` section (#1424)
  docs.json
  docs/native/advanced.mdx
Due: none

generate entrypoint with setup code for `patrol develop`
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

rephrase log messages about generated entrypoint
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

remove code that I forgot to remove
  packages/patrol/lib/src/common.dart
Due: patrol

make NativeAutomator#initialize() truly idempotent
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

`test-android-emulator`: enable webview_hackernews_test
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

`test-android-device`: enable webview_hackernews_test
  .github/workflows/test-android-device.yaml
Due: none

`test-android-emulator`: enable webview_hackernews_test (#1427)
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
Due: none

WIP
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/crossplatform/test_runner_test.dart
Due: patrol, patrol_cli

delete `TestRunner`
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

remove dependency on freezed
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

test.dart: factor out logic into methods
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

fix: test must not be interruptible
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Remove unused orchestration code (`TestRunner` class) (#1426)
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/crossplatform/test_runner_test.dart
Due: patrol, patrol_cli

fix
  .github/workflows/test-ios-device.yaml
Due: none

test on ios 16.5
  .github/workflows/test-ios-device.yaml
Due: none

test iPhone 13 Pro iOS 15.7
  .github/workflows/test-ios-device.yaml
Due: none

fix `patrol build ios` to test only `RunnerUITests` target
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
Due: patrol, patrol_cli

fix tests
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Fix `patrol build ios` to test only `RunnerUITests` target (#1431)
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Due: patrol, patrol_cli

Revert "test iPhone 13 Pro iOS 15.7"
  .github/workflows/test-ios-device.yaml
Due: none

Fix test ios device workflow (#1430)
  .github/workflows/test-ios-device.yaml
Due: none

increase native find timeout in hope it fixes webview flakiness on CI
  packages/patrol/example/integration_test/common.dart
Due: patrol
