Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Drop the dynamic_test.dart discovery fixture
  dev/e2e_app/patrol_test/dynamic_test.dart
Due: none

Harden Android build-time discovery & `patrol test --no-build`
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

Android build-time test discovery + static JUnit codegen
  dev/e2e_app/.gitignore
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest_generator.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/android/android_test_codegen_test.dart
Due: patrol, patrol_cli

Keep runtime iOS runner as default + review fixes
  dev/e2e_app/ios/RunnerUITests/RunnerUITests.m
  docs/documentation/ci/build-time-test-discovery.mdx
  packages/patrol/darwin/patrol/Sources/patrol/include/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
Due: patrol, patrol_cli

Add SauceLabs iOS testListFile generator script
  dev/e2e_app/.gitignore
  dev/e2e_app/scripts/generate_ios_testlist.sh
  docs/documentation/ci/build-time-test-discovery.mdx
Due: none

Fix CI: apply dart format
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest_generator.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
  packages/patrol_cli/test/android/android_test_codegen_test.dart
  packages/patrol_cli/test/crossplatform/test_manifest_test.dart
  packages/patrol_cli/test/ios/xcode_test_codegen_test.dart
Due: patrol, patrol_cli

Config opt-in for test discovery + `patrol test --no-build`
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/test_manifest_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
Due: patrol, patrol_cli

Replace `patrol test --no-build` with `patrol test-without-building`
  docs/cli-commands/build.mdx
  docs/cli-commands/meta.json
  docs/cli-commands/test-without-building.mdx
  docs/cli-commands/test.mdx
  docs/documentation/ci/build-time-test-discovery.mdx
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test_without_building.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

Android codegen: honor the host test's activity class
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
  packages/patrol_cli/test/android/android_test_codegen_test.dart
Due: patrol, patrol_cli

POC: build-time iOS test discovery + static XCTest codegen
  dev/e2e_app/.gitignore
  dev/e2e_app/ios/RunnerUITests/RunnerUITests.m
  dev/e2e_app/patrol_test/dynamic_test.dart
  packages/patrol/darwin/patrol/Sources/PatrolImpl/PatrolTestManifest.swift
  packages/patrol/darwin/patrol/Sources/patrol/include/PatrolIntegrationTestIosRunner.h
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

Fix CI: never treat the generated class as the androidTest host
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
Due: patrol, patrol_cli

docs: add changelog entries for build-time test discovery (#3197)
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Rebase fixups: align static iOS runner with runtime port binding
  docs/documentation/ci/build-time-test-discovery.mdx
  packages/patrol/darwin/patrol/Sources/patrol/include/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Due: patrol, patrol_cli

docs: cover the setup prerequisites for build-time test discovery (#3197)
  docs/documentation/ci/build-time-test-discovery.mdx
Due: none

Build-time test discovery + static native test codegen (experimental, opt-in) (#3197)
  dev/e2e_app/.gitignore
  dev/e2e_app/scripts/generate_ios_testlist.sh
  docs/cli-commands/build.mdx
  docs/cli-commands/meta.json
  docs/cli-commands/test-without-building.mdx
  docs/cli-commands/test.mdx
  docs/documentation/ci/build-time-test-discovery.mdx
  docs/documentation/ci/meta.json
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/darwin/patrol/Sources/PatrolImpl/PatrolTestManifest.swift
  packages/patrol/darwin/patrol/Sources/patrol/include/PatrolIntegrationTestIosRunner.h
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol/lib/src/manifest_writer.dart
  packages/patrol/lib/src/manifest_writer_io.dart
  packages/patrol/lib/src/manifest_writer_stub.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_test_codegen.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test_without_building.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest_generator.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/xcode_test_codegen.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/android/android_test_codegen_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/crossplatform/test_manifest_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
  packages/patrol_cli/test/ios/xcode_test_codegen_test.dart
Due: patrol, patrol_cli

feat(cli): pull native screenshots to local screenshots/ after patrol test
  docs/documentation/index.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/test.dart
Due: patrol, patrol_cli

fix: write failure screenshots via MediaStore on API 29+ (scoped storage)
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Due: patrol

fix(patrol_cli): don't pass --flavor to flutter attach
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

chore(patrol_cli): link the hot restart issue in the changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Support latest package_config, cli_completion and pub_updater in patrol_cli
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Trim dependency comments and move Unreleased to the top of the CHANGELOG
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Trim dependency comments to the SDK requirement
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

test(patrol_cli): pin the option set flutter attach is given
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

Fix patrol develop after marathon PR
  packages/patrol_cli/lib/src/test_bundler.dart
Due: patrol, patrol_cli

refactor: align screenshots with video-recording conventions before review
  docs/cli-commands/test.mdx
  docs/documentation/index.mdx
  docs/documentation/integrations/firebase-test-lab.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/android/android_test_backend_test.dart
Due: patrol, patrol_cli

refactor: simplify screenshot code after review
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Due: patrol, patrol_cli

refactor: share adb pull/rm helpers between video recording and screenshots
  packages/patrol_cli/lib/src/android/adb_commands.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
  packages/patrol_cli/test/android/adb_commands_test.dart
Due: patrol, patrol_cli

fix: name codegen-path screenshots by the Dart test instead of 'unknown'
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Due: patrol

Guard _stopInProgressScrolling against unestablished scroll positions
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
Due: patrol

Remove redundant macOS build phases from example apps and docs
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  docs/documentation/index.mdx
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
Due: patrol

Make the names of swift classes exported to objC explicit (though it should work either way)
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Localization.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/patrol/Sources/PatrolImpl/ObjCPatrolAppServiceClient.swift
Due: patrol

feat: drop url_safe_test_names; name screenshots from the JUnit Description
  docs/cli-commands/test.mdx
  docs/documentation/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestNameListener.java
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
Due: patrol, patrol_cli

docs: note the default-path screenshot naming limitation
  docs/cli-commands/test.mdx
  docs/documentation/index.mdx
Due: none

Prepare patrol_log 0.10.1 release
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

fix: drop the unnecessary ignore from regenerated devtools contracts
  packages/patrol_devtools_extension/lib/api/contracts.dart
Due: patrol

Prepare patrol_log 0.10.1 release (#3231)
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Due: patrol

Prepare patrol 4.9.0 and patrol_cli 4.7.0 release
  dev/e2e_app/pubspec.lock
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Due: patrol, patrol_cli

style: trim verbose comments on the screenshot code to 1-2 key lines
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestNameListener.java
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/constants.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/platform/android/android_automator.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol_cli/lib/src/android/adb_commands.dart
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
Due: patrol, patrol_cli

Test the patrol_cli 4.7.0 / patrol 4.9.0 compatibility split
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
Due: patrol, patrol_cli

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
