Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: auto
      patrol:
        target: auto
        flags:
          - patrol
      patrol_cli:
        target: auto
        flags:
          - patrol_cli

comment:
  layout: "flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  patrol:
    paths: ["packages/patrol"]
    carryforward: true
  patrol_cli:
    paths: ["packages/patrol_cli"]
    carryforward: true

fix a typo log message in PatrolAppService (#1229)
  packages/patrol/lib/src/native/patrol_app_service.dart
Due: patrol

delete leftover dummy tests
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/RunnerTests/DummyTests.m
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.h
  packages/patrol/example/ios/RunnerTests/ParametrizedTestCase.m
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/TheTest.swift
  packages/patrol/example/ios/RunnerTests/TheTest2.m
Due: patrol

re-add `#if PATROL_ENABLED` in Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Due: patrol

patrol: bump dev version to 1.2.0-dev.2 (#1230)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

`RunnerUITests`: copy macro code from `PatrolIntegrationTestRunner.h`
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
  packages/patrol/ios/Classes/PatrolPlugin.m
Due: patrol

regenerate Swift/Obj-C code
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
Due: patrol

finish `testInvocations` body
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Due: patrol

remove constructor from PatrolUtils
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
Due: patrol

fix formatting
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
Due: patrol

rewrite Getting Started
  docs/getting-started/getting-started.mdx
Due: none

POC Translate Dart-side Flutter integration tests to virtual `XCTest` on iOS (#1236)
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
  packages/patrol/ios/Classes/PatrolPlugin.m
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/src/fakes.dart
  packages/patrol_cli/test/src/mocks.dart
Due: patrol, patrol_cli

bump `test_api` to v0.5.1 (needed by Flutter 3.10)
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

change version of `test_api` to `any`
  packages/patrol/pubspec.yaml
Due: patrol

run `patrol prepare` and `patrol_cli prepare` on Flutter 3.10 beta
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
Due: none

ignore new warnings
  packages/patrol/test/analysis_options.yaml
Due: patrol

fix deprecation warnings
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/lib/src/binding.dart
Due: patrol

replace `flutter format` with `dart format`
  .github/workflows/patrol-prepare.yaml
Due: none

Revert "fix deprecation warnings"
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/lib/src/binding.dart
Due: patrol

disable lints and diagnostics that are triggered
  packages/patrol/analysis_options.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
Due: patrol

Fix some naming inconsistencies
  docs.json
  docs/getting-started/custom-finders.mdx
  docs/getting-started/native.mdx
  docs/index.mdx
Due: none

Docs/reorganize getting started (#1239)
  docs.json
  docs/getting-started/custom-finders.mdx
  docs/getting-started/getting-started.mdx
  docs/getting-started/native.mdx
Due: none

update changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

fix test_api dependency
  packages/patrol/pubspec.yaml
Due: patrol

`flutter analyze (example app)`: disable --no-fatal-infos
  .github/workflows/patrol-prepare.yaml
Due: none

Prepare for Flutter 3.10 (#1254)
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/pubspec.yaml
  packages/patrol/test/analysis_options.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.lock
Due: patrol, patrol_cli

fix `patrol` crashing on Windows
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

run the executable on Linux and Windows (as a smoke test)
  .github/workflows/patrol_cli-prepare.yaml
Due: none

debug FormatException
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol_cli/lib/src/analytics/analytics.dart
Due: patrol, patrol_cli

run flutter tool after installing it
  .github/workflows/patrol_cli-prepare.yaml
Due: none

remove debugging aids
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

fix tests failing on windows
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
Due: patrol, patrol_cli

revert previous changes
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
Due: patrol, patrol_cli

update changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

use `bash` on windows
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Revert "use `bash` on windows"
  .github/workflows/patrol_cli-prepare.yaml
Due: none

Fix `patrol` command crashing on Windows (#1255)
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Due: patrol, patrol_cli

patrol: bump version to 1.1.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Due: patrol

patrol_cli: bump version to 1.1.9
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Release patrol v1.1.1 and patrol_cli v1.1.9 (#1257)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

bundled_test.dart: remove redundant print
  packages/patrol/example/integration_test/bundled_test.dart
Due: patrol
