Repository leancodepl/patrol: changes, and which Codecov flags are due for each by the changed paths.
All: patrol, patrol_cli

Add changelog, add native mac features to docs and fix not taking bundleId
  docs/documentation/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Automator/MacOSAutomator.swift
Due: patrol

fix(patrol): Wait to restore original FlutterError.onError until teardown
  packages/patrol/lib/src/binding.dart
Due: patrol

Kill the whole process tree when a develop session quits
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/crossplatform/test_manifest_generator.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/test/base/process_test.dart
  packages/patrol_cli/test/commands/develop_service_test.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Due: patrol, patrol_cli

Keep a failed terminal restore out of the cleanup result
  packages/patrol_cli/lib/src/base/process.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Fix copilot review
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/lib/src/platform/macos/macos_automator.dart
  packages/patrol/lib/src/platform/macos/macos_automator_config.dart
  packages/patrol/lib/src/platform/macos/macos_automator_empty.dart
  packages/patrol/lib/src/platform/macos/macos_automator_native.dart
  packages/patrol/lib/src/platform/mobile/mobile_automator_config.dart
  packages/patrol/lib/src/platform/platform_automator.dart
Due: patrol

fix(patrol): let Android tests clear FLAG_RETRIEVE_INTERACTIVE_WINDOWS
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/patrol/Sources/PatrolImpl/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/platform/android/android_automator_config.dart
  packages/patrol/lib/src/platform/android/android_automator_native.dart
  packages/patrol/lib/src/platform/contracts/contracts.dart
  packages/patrol/lib/src/platform/contracts/contracts.g.dart
  packages/patrol/lib/src/platform/platform_automator.dart
  packages/patrol/test/android_automator_config_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Due: patrol

fix(patrol): confirm API 36 gallery pick with best-effort Done tap
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

docs: set CHANGELOG PR number (#3254)
  packages/patrol/CHANGELOG.md
Due: patrol

ci(ios): move Firebase Test Lab tests to iPhone 16 Pro / iOS 18.3
  .github/WORKFLOWS.md
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-locales.yaml
Due: none

Release adb 0.6.1
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Due: none

test(e2e): wait for granted status between permission requests
  dev/e2e_app/patrol_test/native_tests/permissions/clear_permissions_test.dart
Due: none

refactor: drop custom timeout constant and trim comments
  dev/e2e_app/patrol_test/native_tests/permissions/clear_permissions_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Due: patrol

ci(ios): exclude bluetooth & notifications tests on iOS 18 device run
  .github/workflows/test-ios-device.yaml
Due: none

test(ios): skip bluetooth & notification-by-index on iOS 18 via tags
  .github/workflows/test-ios-device.yaml
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
Due: none

Throw error on slash in description
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/test/internals_test.dart
Due: patrol

fix(patrol_mcp): capture iOS screenshots via a temp file, not /dev/stdout
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/test/screenshot_service_test.dart
Due: patrol

refactor(patrol_mcp): drop the shared argsFor(device, {outputPath}) API
  packages/patrol_mcp/lib/src/screenshot_service.dart
  packages/patrol_mcp/test/screenshot_service_test.dart
Due: patrol

docs(patrol_mcp): fill in PR number in changelog entry
  packages/patrol_mcp/CHANGELOG.md
Due: patrol

fix(patrol_mcp): require adb ^0.6.1
  dev/e2e_app/pubspec.lock
  packages/patrol_mcp/CHANGELOG.md
  packages/patrol_mcp/pubspec.yaml
Due: patrol

Delete android gate on slash validation
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/test/internals_test.dart
Due: patrol

docs: relate Marathon to build-time test discovery
  docs/documentation/integrations/marathon.mdx
Due: none

chore: run Flutter main customer tests on master
  .github/workflows/test-flutter-main.yaml
Due: none

fix: make flutter/tests customer tests pass on Flutter main
  packages/patrol_finders/example/lib/scrolling_screen.dart
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
  scripts/flutter_test_repo_test.bat
  scripts/flutter_test_repo_test.sh
Due: patrol

feat(patrol): localize API 36 photo picker confirm button
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorConstants.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/res/values-de/strings_de.xml
  packages/patrol/android/src/main/res/values-fr/strings_fr.xml
  packages/patrol/android/src/main/res/values-ja/strings_ja.xml
  packages/patrol/android/src/main/res/values-pl/strings_pl.xml
  packages/patrol/android/src/main/res/values/strings_en.xml
Due: patrol

test(e2e): wait for granted status in permissions_many battery grant
  dev/e2e_app/patrol_test/permissions/permissions_many_test.dart
Due: none

fix(patrol_cli): attach by VM service URL on iOS simulators in patrol develop
  packages/patrol_cli/lib/src/commands/develop_service.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Due: patrol, patrol_cli

Potential fix for pull request finding
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
Due: none

Potential fix for pull request finding
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
Due: none

docs(patrol_cli): changelog for iOS develop attach-by-URL fix
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

docs(patrol_cli): reference PR #3263 in changelog
  packages/patrol_cli/CHANGELOG.md
Due: patrol, patrol_cli

Normalize test directory path
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
Due: patrol, patrol_cli

chore(e2e_app): ignore the report and video output of `patrol test`
  dev/e2e_app/.gitignore
Due: none

feat(patrol_cli): HTML dashboard report for `patrol test`
  docs/cli-commands/test.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/android/android_video_recording_manager.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_manager.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_assets.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_collector.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_config.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_html_renderer.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_report.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_reporter.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/ios/ios_video_recording_manager.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/dashboard/dashboard_collector_test.dart
  packages/patrol_cli/test/dashboard/dashboard_html_renderer_test.dart
  packages/patrol_cli/test/dashboard/dashboard_reporter_test.dart
Due: patrol, patrol_cli

fix(patrol_cli): fold the exception into its step instead of a tile per line
  docs/cli-commands/test.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/dashboard/dashboard_assets.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_collector.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_html_renderer.dart
  packages/patrol_cli/test/dashboard/dashboard_collector_test.dart
  packages/patrol_cli/test/dashboard/dashboard_html_renderer_test.dart
Due: patrol, patrol_cli

refactor(patrol_cli): simplify the dashboard module
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/crossplatform/video_recording_manager.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_assets.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_collector.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_html_renderer.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_report.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_reporter.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/dashboard/dashboard_collector_test.dart
  packages/patrol_cli/test/dashboard/dashboard_html_renderer_test.dart
  packages/patrol_cli/test/dashboard/dashboard_reporter_test.dart
Due: patrol, patrol_cli

feat: report a failure's exception on its own log entry
  docs/cli-commands/test.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/platform/mobile/patrol_app_service_io.dart
  packages/patrol/lib/src/platform/web/patrol_app_service_web.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/commands/develop_session_factory.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test_without_building.dart
  packages/patrol_cli/lib/src/crossplatform/log_entry_observers.dart
  packages/patrol_cli/lib/src/dashboard/dashboard_collector.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/web/web_test_backend.dart
  packages/patrol_cli/test/dashboard/dashboard_collector_test.dart
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
Due: patrol, patrol_cli

docs: add the PR number to the changelog entries
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_log/CHANGELOG.md
Due: patrol, patrol_cli

Require adb ^0.6.1 in patrol_cli
  packages/patrol_cli/pubspec.yaml
Due: patrol, patrol_cli

Fix dart format in e2e_app tests
  dev/e2e_app/patrol_test/permissions/notifications_test.dart
  dev/e2e_app/patrol_test/service_bluetooth_test.dart
Due: none

Path conditions:
  patrol: any of: packages/patrol
  patrol_cli: any of: packages/patrol_cli
